
  section {
    // height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
    background-image: linear-gradient(0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
    background-size: 4px 4px;
  }

  
  .big-name {       
    // bottom: 5%;
    // position: absolute;
    // left: 50%;
    // transform: translate(-50%, 0);
    // right: 5%;
    margin: 0 auto;
    font-size: 200px;
//     writing-mode: tb-rl;
//     transform: rotate(
// 180deg);
    background-color: black;
    color: transparent;
    text-shadow: 0px 10px 30px #ffffc0;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;

    @media screen and (max-width: 700px){
      font-size: 100px;
    }
  }
  
  .container {  
    padding: 70px 15px 0 15px;
    margin: 0 auto;
    z-index: 999;
    min-height: 100vh;


    @media screen and (min-width: 1537px){
      max-width: 1500px;
    }

    @media screen and (max-width: 1536px){
      max-width: 1500px;
    }

    @media screen and (max-width: 1366px){
      max-width: 1300px;
    }

    @media screen and (max-width: 1024px){
      max-width: 990px;
    }

    @media screen and (max-width: 768px){
      max-width: 700px;
    }

    @media screen and (max-width: 640px){
      max-width: 100%;
    }    

    .details {
      padding-top: 50px;
      background-image: url('/assets/images/solider.png');
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      height: auto;
      min-width: 100%;
      color: #ffffc0;
      z-index: 10;

      &__wars {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &--war {
          margin-right: 3px;

          a {
            color: #ffffc0;
            text-decoration: none;
            transition: all .3s;

            &:hover {
              color: red;
            }
          }
        }
      }
    }

    .statistics {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 20px;
      grid-template-rows: auto;
      font-size: 20px;
      color: #ffffc0;
      font-weight: 700;      

      @media screen and (max-width: 1024px){
       column-gap: 30px;
      }

      @media screen and (max-width: 768px){
        column-gap: 15px;
      }

      .stat-cont {
        text-align: right;

        div {
          color: darken(#ffffc8, 20%);
          span {            
            letter-spacing: 2px;
            color: #ffffc8;
          }
        }

        .won span {
          color: green;
        }

        .lost span {
          color: red;
        }

        .drawn span {
          color: gray;
        }
      }

      .seasons {
       width: 480px;
      }
    }

    .wars-cont {
      padding-top: 15px;
    }
  }

  .info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;    
  }

  // .highlight {
  //   margin-left: 3px;
  //   padding: 5px;
  //   background-color: #40415f;
  //   color: #ffffc0;
  //   font-weight: 700;
  // }

//   .stat[title]:before {
//     content: attr(title);    
//     bottom: 5%;
//     position: absolute;
//     left: 50%;
//     transform: translate(-50%, 0);
//     // right: 5%;
//     margin: 0 auto;
//     font-size: 200px;
// //     writing-mode: tb-rl;
// //     transform: rotate(
// // 180deg);
//     background-color: black;
//     color: transparent;
//     text-shadow: 0px 10px 30px #ffffc0;
//     -webkit-background-clip: text;
//     background-clip: text;
//     z-index: 0;

//     @media screen and (max-width: 700px){
//       font-size: 100px;
//     }    
  // }

  .player-flag {
    overflow: hidden;
    // border-top: 1px solid #000;
    // border-bottom: 1px solid #000;
    // position: absolute;
    width: 100%;
    display: flex;
  
    .ambilight {
      margin: 0 auto; // just to center the box
      // width: 400px;
      // height: 30px;
      padding: 5px; // add some space for the light
      position: relative; // to keep the .light by the .image
      display: flex;
      justify-content: flex-end;
      min-height: 100%;
      min-width: 100%;
  
      .image-flag {
        max-width: 100%;
        height: auto;
        display: flex;
        align-items: flex-end;  
        // padding-right: 10px;
        z-index: 1;
      }
  
      .image-light {
        opacity: 0.75; // change for best results
        // filter: blur(5px); // change for bigger/smaller shine
        // fill the box with light:
        // width: 100%;
        max-height: 200px;
        position: absolute;
        top: 0;
        left: 0;
        // z-index: -1; // keep the .light under the .image
        z-index: 0; // keep the .light under the .image
        margin: 0 auto;
        right: 0;
      }
    }
  }

.chartWrapper {
    position: relative;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}

.chartAreaWrapper {
    width: 600px;
    overflow-x: scroll;
}

.chart-info {
  display: flex;
  align-items: center;

  &__title {
    margin-right: 10px;
  }
}

button {
  margin: 20px 0;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}

canvas {
  height: 0;
}

.playedWith {
  transition: .4s all;
}

.danger {
  height: 106px;
  overflow: hidden;
  transition: .4s all
}

.success {
  height: auto;
  transition: .4s all
}

.playerWith {
  span a {
    color: #ffffc8;
    transition: all .4s;

    &:hover {
      color: red;
    }
  }
}