section {
  padding-top: 80px;
  background-image: linear-gradient(0deg, rgba(252, 252, 252, 1) 25%, rgba(245, 245, 245, 1) 25%, rgba(245, 245, 245, 1) 50%, rgba(252, 252, 252, 1) 50%, rgba(252, 252, 252, 1) 75%, rgba(245, 245, 245, 1) 75%, rgba(245, 245, 245, 1) 100%);
  background-size: 4px 4px;  
  min-height: 100%;

  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1300px;

    nav {
      padding: 20px 0;
    }

    mat-form-field {
      margin-right: 10px;
    }

    .readonly {
      opacity: 0.5;
      pointer-events: none;
    }

    .checkbox {
      margin-left: 10px;
    }    
  }
}