<section>
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <button mat-raised-button routerLink="/dashboard/list-players">List players</button>
      </div>
    </nav>
    <div class="container mt-5 edit-player">
      <!-- <form [formGroup]="updateSheetForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="example-full-width">
          <mat-label>Player Name</mat-label>
          <input matInput placeholder="Player Name" formControlName="playername">
        </mat-form-field>

        <mat-form-field class="example-full-width readonly">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="" formControlName="username" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Ranking</mat-label>
          <input matInput placeholder="" formControlName="ranking">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Ban Expiriess</mat-label>
          <input matInput placeholder="" formControlName="ban_expiriess">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Clan history</mat-label>
          <input matInput placeholder="" formControlName="clanhistory">
        </mat-form-field>

        <div class="mb-3">
          <mat-form-field appearance="fill">
            <mat-label>Nationality</mat-label>
            <mat-select formControlName="nationality">
              <mat-option *ngFor="let country of countries" [value]="country.value" >
                {{country.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <!-- <mat-checkbox class="checkbox" formControlName="active" [color]="task.color">Active</mat-checkbox> -->

          <!-- <mat-checkbox class="checkbox" formControlName="ban" [color]="task.color">Ban</mat-checkbox>

        </div>
        <mat-form-field appearance="fill">
          <mat-label>Ban due</mat-label>
          <input matInput placeholder="" formControlName="ban_due">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Donator Season 6</mat-label>
          <input matInput placeholder="" formControlName="donate_s6">
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" [disabled]="updateSheetForm.invalid || updateSheetForm.pristine">Submit</button>
      </form> -->
      <form *ngIf="updateSheetForm" [formGroup]="updateSheetForm" (ngSubmit)="onSubmit()">
        <div *ngFor="let field of fieldNames">
          <!-- Dla wszystkich pól oprócz checkbox i select -->
          <mat-form-field class="example-full-width" *ngIf="field !== 'ban' && field !== 'nationality'">
            <mat-label>{{ field }}</mat-label>
            <input matInput [formControlName]="field" placeholder="{{ field }}" />
          </mat-form-field>
      
          <!-- Pole ban jako checkbox -->
          <mat-checkbox *ngIf="field === 'ban'" [formControlName]="field">            
            {{ field }}
          </mat-checkbox>
      
          <!-- Pole nationality jako select -->
          <mat-form-field class="example-full-width" *ngIf="field === 'nationality'">
            <mat-label>{{ field }}</mat-label>
            <mat-select [formControlName]="field">
              <!-- Ustawienie zawartości wybranej opcji (z flagą i tekstem) -->
              <mat-select-trigger>
                <img [src]="'assets/images/flags_svg/' + updateSheetForm.get('nationality')?.value + '.SVG'"
                     alt="{{ getCountryViewValue(updateSheetForm.get('nationality')?.value) }}"
                     class="flag-icon" />
                {{ getCountryViewValue(updateSheetForm.get('nationality')?.value) }}
              </mat-select-trigger>
          
              <!-- Opcje w rozwijanym menu -->
              <mat-option *ngFor="let country of countries" [value]="country.value">
                <img [src]="'assets/images/flags_svg/' + country.value + '.SVG'"
                     alt="{{ country.viewValue }}" 
                     class="flag-icon" />
                {{ country.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
        </div>
      
        <button mat-raised-button type="submit" color="primary" [disabled]="updateSheetForm.invalid || updateSheetForm.pristine">
          Submit
        </button>
      </form>
      
    </div>
  </div>
</section>
