<section>
  <div class="container">   
    <nav class="about__nav">      
      <a routerLink="/about/download" routerLinkActive="active">Download</a>
      <a routerLink="/about/log">Log</a>
      <a routerLink="/about/maps">Maps</a>
      <a routerLink="/about/wanted">Wanted</a>     
    </nav>  
    <div class="download"><a href="../../assets/MOHAA.rar" target="_self" download="MOHAA.rar" title="CLICK HERE TO DOWNLOAD">DOWNLAOD MOHAA: SPEARHEAD (Custom Maps INCLUDED) - 3 Gb</a></div> 
  </div>
</section>
