<section>   
  <div class="container">      
    <app-about-nav></app-about-nav>    
  </div> 
  <div class="container">
    <div class="introduction">
      "The <strong>'Spearhead Mix League'</strong> is a tight-knit group of Medal of Honor: Allied Assault Spearhead players who regularly come together to play mixed matches against each other. With a diverse range of skill levels, the group is a great place for both experienced players looking for a challenging match and new players looking to learn and improve. The group's main focus is on having fun, fair and competitive matches. The group is open to all players who are interested in joining and taking part in their matches. They organize the matches on a regular basis, and keep track of the stats, to make sure the competition stays exciting and everyone is enjoying the game. The group's members are always looking for new players to join and participate in their matches, and welcome everyone to come and check them out." - chatGPT
    </div>    
    <div class="compare">
      <div class="compare-item">
        <img src="../../assets/images/cb2x.png" alt="" class="compare-img">
      </div>
      <div class="vs">vs</div>
      <div class="compare-item">
        <img src="../../assets/images/sh_icon.png" alt="" class="compare-img">
      </div>
      <div class="compare-item">2003 - 2011</div>
      <div></div>
      <div class="compare-item">2020 - ...</div>
      <div class="compare-item">
        <a href="../../assets/images/cb_rank.jpg"><img src="../../assets/images/cb_rank.jpg" alt="" class="compare-img"></a>        
      </div>
      <div></div>
      <div class="compare-item">
        <a href="../../assets/images/mohshmix_rank.jpg">
          <img src="../../assets/images/mohshmix_rank.jpg" alt="" class="compare-img">
        </a>
      </div>
      <div class="compare-item"></div>
      <div></div>
      <div class="compare-item"></div>
      <div class="compare-item"></div>
      <div class="compare-item"></div>
    </div>
    <div class="about__intro">      
      {{ 'about.intro' | translate }}      
    </div>      
       
    <h2>{{ 'about.how_to_play' | translate }}</h2>
    <div class="how">
      <div class="how__info">
        <div class="how__info--up how__info--first">
          <div>{{ 'about.how_to_play_step1' | translate }}</div>
          <img src="../../assets/images/visitie.JPG" alt="">
        </div>
        <div class="how__info--bottom">1</div>        
      </div>
      
      <div class="how__info">        
        <div class="how__info--up how__info--second">
          <div>{{ 'about.how_to_play_step2' | translate }}</div>
          <img src="../../assets/images/want_to_play.JPG" alt="">
        </div>
        <div class="how__info--bottom">2</div>
      </div>
      
      <div class="how__info">
        <div class="how__info--up how__info--third">
          <div>{{ 'about.how_to_play_step3' | translate }}</div>
          <img src="../../assets/images/icons/admin.svg" alt="">
        </div>
        <div class="how__info--bottom">3</div>       
      </div>
      
      <div class="how__info">
        <div class="how__info--up how__info--fourth">
          <div>{{ 'about.how_to_play_step4' | translate }}</div>
          <video src="../../assets/video/1.mp4" height="200" autoplay [muted]="true" loop></video>  
        </div>
        <div class="how__info--bottom">4</div>        
      </div>         
    </div>
    <h2>{{ 'about.what_squads' | translate }}</h2>
    <div>{{ 'about.what_squads_desc' | translate }}<a href="/">{{ 'about.what_squads_home' | translate }}</a></div>
    <h2>{{ 'about.how_elo' | translate }}</h2>
    <div>{{ 'about.how_elo_desc' | translate }}</div>
    <h2>{{ 'about.maps' | translate }}</h2>
    <div>{{ 'about.maps_desc' | translate }}</div>
    <h2>Clanbase (webarchive link - 03.04.2005 SH ladders)</h2>
    <div>
      <a href="https://web.archive.org/web/20050403141325/http://www.clanbase.com/ladders.php?gid=46">
        <img src="../../assets/images/cb2x.png" alt="">
      </a>      
    </div>
    <!-- <div class="maps-grid">      
      <div>
        <img src="../../assets/images/maps/hunt.jpg" alt=""> 
      </div>
      <div>
        <img src="../../assets/images/maps/v2.jpg" alt="">
      </div>
      <div>
        <img src="../../assets/images/maps/bridge.jpg" alt="">
      </div>
      <div>
        <img src="../../assets/images/maps/navarone.jpg" alt="">
      </div>
      <div>
        <img src="../../assets/images/maps/stlo.jpg" alt="">
      </div>
      <div>
        <img src="../../assets/images/maps/dessau.jpg" alt="">
      </div>
      <div>
        <img src="../../assets/images/maps/vsuk.jpg" alt="">
      </div>
      <div>
        <img src="../../assets/images/maps/v2shelter.jpg" alt="">
      </div>      
    </div> -->
    <!-- <div style="border:5px solid red; padding:50px;">
      <div>The Hunt</div>
      <div>{{ resultMap }}</div>
    </div> -->
    
  </div>
</section>
