section {
  padding-top: 70px;
  min-height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
    background-image: linear-gradient(0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
    background-size: 4px 4px;
    color: #ffffc8;

    .about__nav {
      padding: 20px 10px;        
      font-size: 20px;
      background-image: linear-gradient(
0deg, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.5) 100%);
  background-size: 4px 4px;
      display: flex;
      flex-wrap: wrap;

      :nth-child(n){
        border-right: 2px solid #ffffc8;
      }

      :last-child {
        border-right: none;
      }

      a {
        text-decoration: none;
        transition: .3s all;
        font-weight: 700;
        padding: 0 10px;
        color: #ffffc8;
        margin: 2px 0;

        &:hover {
          color: red;
        }
      }      
    }

    .container {
      margin: 0 auto;
      padding: 0 15px;
      max-width: 1300px; 
      
      .compare {
        display: grid;
        grid-template-columns: 1fr 30px 1fr;
        gap: 20px;
        background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.2) 25%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0.2) 75%, rgba(0,0,0,0.2) 100%);
        background-size: 4px 4px; 
        padding: 20px;
        font-size: 22px;

        .compare-img {
          max-width: 310px;
        }

        .vs {
          font-size: 40px;
          font-weight: 700;
          display: flex;
          align-items: flex-end;
        }

        .compare-item {
          display: flex;
          justify-content: center;
        }
      }

      .about__intro {
        margin-top: 20px;
      }

      a {
        color: #ffffc8;        
      }

      .download {
        padding-top: 20px;
        a {
          color: #ffffc8;
          font-size: 22px;
        }
      }

      h2 {
        font-size: 26px;
        padding-top: 20px;
      }

      .how {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;

        @media screen and (max-width: 1024px){
          grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: 660px){
          grid-template-columns: 1fr;
        }

        video {
          height: auto;
          width: 100%;
        }        

        &__info {
          position: relative;;
          &--up {
            min-height: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
          }

          &--first {
            background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.2) 25%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0.2) 75%, rgba(0,0,0,0.2) 100%);
            background-size: 4px 4px; 
          }

          &--second {
            background-image: linear-gradient(0deg, rgba(0,0,0,0.6) 25%, rgba(0,0,0,0.3) 25%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.6) 75%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,0.3) 100%);
            background-size: 4px 4px; 
          }

          &--third {
             background-image: linear-gradient(0deg, rgba(0,0,0,0.7) 25%, rgba(0,0,0,0.4) 25%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.7) 75%, rgba(0,0,0,0.4) 75%, rgba(0,0,0,0.4) 100%);
            background-size: 4px 4px; 
          }

          &--fourth {
             background-image: linear-gradient(0deg, rgba(0,0,0,0.8) 25%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 75%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0.5) 100%);
            background-size: 4px 4px; 
          }

          &--bottom {
            font-size: 50px;
            font-weight: 700;
            text-shadow: #ffffc8 1px 0 10px;
            display: flex;
            justify-content: flex-end;
            padding: 10px;
            position: absolute;
            bottom: 10px;
            right: 10px;            
          }
        }

        // display: flex;
        // align-items: center;        
        // flex-wrap: wrap;
        // margin: 10px 0;
        // padding: 20px;
        // background-image: linear-gradient(0deg, rgba(0,0,0,0.8) 25%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 75%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0.5) 100%);
        // background-size: 4px 4px; 

        // @media screen and (max-width: 640px){
        //   flex-direction: column;
        // }

        // video {
        //   width:400px;
        //   @media screen and (max-width: 640px){
        //     width: 300px;
        //   }
        // }

        // &__info {
        //   margin-right: 20px;
        //   text-align: center;
        //   @media screen and (max-width: 640px){
        //     margin-right: 0;
        //   }
        // }

        // .arrow {
        //   filter: invert(100%) sepia(99%) saturate(439%) hue-rotate(358deg) brightness(107%) contrast(101%);
        //   transform:rotate(180deg);
        //   margin-right: 20px;

        //   @media screen and (max-width: 640px){
        //     transform: rotate(270deg);
        //     margin: 10px 0;
        //   }
        // }
      }

      // .maps-grid {
      //   display: grid;
      //   grid-template-columns: repeat(4, 1fr);
      //   grid-template-rows: auto;
      //   gap: 1rem;
      //   overflow: hidden;
      //   padding: 20px 0;
      //   min-width: 100%;

      //   @media screen and (max-width: 1536px){
      //     grid-template-columns: repeat(2, 1fr);
      //   }

      //   div img{
      //     max-width: 22%;
          
      //   }
      // }
    }
}