<section>
  <nav class="about__nav">  
    <div class="container">
      <a routerLink="download" routerLinkActive="active">Download</a>
      <a routerLink="/about/log">Log</a>
      <a routerLink="maps">Maps</a>
      <a routerLink="wanted">Wanted</a>  
    </div>   
  </nav> 
  <div class="container">    
    <div class="about__intro">      
      {{ 'about.intro' | translate }}      
    </div>      
       
    <h2>{{ 'about.how_to_play' | translate }}</h2>
    <div class="how">
      <div class="how__info">
        <div>{{ 'about.how_to_play_step1' | translate }}</div>
        <img src="../../assets/images/visitie.JPG" alt="">
      </div>
      <img src="../../assets/images/icons/arrow.svg" alt="" class="arrow">
      <div class="how__info">
        <div>{{ 'about.how_to_play_step2' | translate }}</div>
        <img src="../../assets/images/want_to_play.JPG" alt="">
      </div>
      <img src="../../assets/images/icons/arrow.svg" alt="" class="arrow">
      <div class="how__info">
        <div>{{ 'about.how_to_play_step3' | translate }}</div>
        <img src="../../assets/images/icons/admin.svg" alt="">
      </div>
      <img src="../../assets/images/icons/arrow.svg" alt="" class="arrow">
      <div class="how__info">
        <div>{{ 'about.how_to_play_step4' | translate }}</div>
      </div>
      <video src="../../assets/video/1.mp4" height="200" autoplay [muted]="true" loop></video>     
    </div>
    <h2>{{ 'about.what_squads' | translate }}</h2>
    <div>{{ 'about.what_squads_desc' | translate }}<a href="/">{{ 'about.what_squads_home' | translate }}</a></div>
    <h2>{{ 'about.how_elo' | translate }}</h2>
    <div>{{ 'about.how_elo_desc' | translate }}</div>
    <h2>{{ 'about.maps' | translate }}</h2>
    <div>{{ 'about.maps_desc' | translate }}</div>
    <!-- <div class="maps-grid">      
      <div>
        <img src="../../assets/images/maps/hunt.jpg" alt=""> 
      </div>
      <div>
        <img src="../../assets/images/maps/v2.jpg" alt="">
      </div>
      <div>
        <img src="../../assets/images/maps/bridge.jpg" alt="">
      </div>
      <div>
        <img src="../../assets/images/maps/navarone.jpg" alt="">
      </div>
      <div>
        <img src="../../assets/images/maps/stlo.jpg" alt="">
      </div>
      <div>
        <img src="../../assets/images/maps/dessau.jpg" alt="">
      </div>
      <div>
        <img src="../../assets/images/maps/vsuk.jpg" alt="">
      </div>
      <div>
        <img src="../../assets/images/maps/v2shelter.jpg" alt="">
      </div>      
    </div> -->
    <!-- <div style="border:5px solid red; padding:50px;">
      <div>The Hunt</div>
      <div>{{ resultMap }}</div>
    </div> -->
    
  </div>
</section>
