<section>
  <app-about-nav></app-about-nav>  
  <div class="container">
    <h2>Season #1 (01.01.2023 - 31.03.2023)</h2>
    <h4>Summary:</h4>
    <div class="summary">
      <div class="summary--item">
        <h4>By ranking:</h4>
        <ol>
          <li>
            <a routerLink="/obj-ranking/evoltnz" class="gold">evoltnz<img [src]='"assets/images/flags_svg/GR.SVG"'><span>1,405.28</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/tricky" class="silver">tricky<img [src]='"assets/images/flags_svg/UK.SVG"'><span>1,289.96</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/zielony" class="bronze">lolandiusz<img [src]='"assets/images/flags_svg/PL.SVG"'><span>1,286.88</span></a>
          </li>
          <div>---</div>
          <li>
            <a routerLink="/obj-ranking/boogie">booGie<img [src]='"assets/images/flags_svg/PL.SVG"'><span>1,281.53</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/neo">don Neo<img [src]='"assets/images/flags_svg/PL.SVG"'><span>1,201.20</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/p3dr0">P3dr0<img [src]='"assets/images/flags_svg/PT.SVG"'><span>1,186.48</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/striker">strikeR<img [src]='"assets/images/flags_svg/PT.SVG"'><span>1,159.28</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/dim_gr">Dim<img [src]='"assets/images/flags_svg/GR.SVG"'><span>1,128.29</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/helm0r">Helm0r<img [src]='"assets/images/flags_svg/DE.SVG"'><span>1,127.87</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/zazuuuu">ZaZUUUU<img [src]='"assets/images/flags_svg/NL.SVG"'><span>1,096.83</span></a>
          </li>
        </ol>
      </div>
      <div class="summary--item">
        <h4>By avarage frags per war:</h4>
        <ol>
          <li>
            <a routerLink="/obj-ranking/evoltnz" class="gold">evoltnz<img [src]='"assets/images/flags_svg/GR.SVG"'><span>34.23</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/tricky" class="silver">tricky<img [src]='"assets/images/flags_svg/UK.SVG"'><span>32</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/boogie" class="bronze">booGie<img [src]='"assets/images/flags_svg/PL.SVG"'><span>31.65</span></a>
          </li>
          ---
          <li>
            <a routerLink="/obj-ranking/dim_gr" class="">Dim<img [src]='"assets/images/flags_svg/GR.SVG"'><span>27.71</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/graphy" class="">graphY<img [src]='"assets/images/flags_svg/NL.SVG"'><span>25</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/dziadek" class="">-insaNe! ><img [src]='"assets/images/flags_svg/PL.SVG"'><span>25</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/zielony" class="">lolandiusz<img [src]='"assets/images/flags_svg/PL.SVG"'><span>24.82</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/zazuuuu" class="">ZaZUUUU<img [src]='"assets/images/flags_svg/NL.SVG"'><span>24.59</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/helm0r" class="">Helm0r<img [src]='"assets/images/flags_svg/DE.SVG"'><span>23.84</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/striker" class="">strikeR<img [src]='"assets/images/flags_svg/PT.SVG"'><span>23.72</span></a>
          </li>
        </ol>
      </div>
      <div class="summary--item">
        <h4>By played wars:</h4>
        <ol>
          <li>
            <a routerLink="/obj-ranking/glowa" class="gold">GlowaF1!<img [src]='"assets/images/flags_svg/PL.SVG"'><span>227</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/watson" class="silver">Watson<img [src]='"assets/images/flags_svg/PT.SVG"'><span>226</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/Evildude" class="bronze">Evildude<img [src]='"assets/images/flags_svg/NL.SVG"'><span>203</span></a>
          </li>
          ---
          <li>
            <a routerLink="/obj-ranking/blady" class="">BL@DY<img [src]='"assets/images/flags_svg/PL.SVG"'><span>201</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/neo" class="">don Neo<img [src]='"assets/images/flags_svg/PL.SVG"'><span>200</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/jojo" class="">jojo^<img [src]='"assets/images/flags_svg/NL.SVG"'><span>174</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/p3dr0" class="">P3dr0<img [src]='"assets/images/flags_svg/PT.SVG"'><span>160</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/Pray3r" class="">Pray3r.<img [src]='"assets/images/flags_svg/EG.SVG"'><span>156</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/kennedi" class="">kennedi<img [src]='"assets/images/flags_svg/NL.SVG"'><span>154</span></a>
          </li>
          <li>
            <a routerLink="/obj-ranking/illusion" class="">-Illu$ioN-<img [src]='"assets/images/flags_svg/EU.SVG"'><span>141</span></a>
          </li>
        </ol>
      </div>
    </div>    
  </div>
</section>
