section {
  padding-top: 80px;
  min-height: 100vh;
  min-width: 100%;
  background-image: linear-gradient(0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
  background-image: linear-gradient(0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
  background-size: 4px 4px;
  color: #ffffc8;

  .about__nav {
    padding: 20px 10px;        
    font-size: 20px;
    background-image: linear-gradient(
0deg, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.5) 100%);
background-size: 4px 4px;

    :nth-child(n){
      border-right: 2px solid #ffffc8;
    }

    :last-child {
      border-right: none;
    }

    a {
      text-decoration: none;
      transition: .3s all;
      font-weight: 700;
      padding: 0 10px;
      color: #ffffc8;

      &:hover {
        color: red;
      }
    }    
  }

  .container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1300px;

    .desc {
      display: flex;

      .desc-details {        

        img {
          width: 30px;
        }
      }      
    }

    h2 {
      margin-top: 15px;
      text-decoration: underline;
    }

    .summary {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      margin-top: 15px;

      @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;
      }

      &--item {
        h4 {
          padding: 20px 10px;        
          font-size: 20px;
          background-image: linear-gradient(
      0deg, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.5) 100%);
      background-size: 4px 4px;
      
        }

        ol {
          margin-top: 15px;
          margin-left: 15px;
         
          li {
            margin-bottom: 5px;

            .gold {
              color: #C9B037;
              font-size: 22px;
            }

            .silver {
              color: #D7D7D7;
              font-size: 22px;
            }

            .bronze {
              color: #AD8A56;
              font-size: 22px;
            }

            a {
              font-weight: 700;
              color:#ffffc8;
              transition: .4s all;
              display: flex;
              align-items: center;
              font-size: 18px;
              text-decoration: none;

              span {
                display: inline-block;
                margin-left: 10px;
              }

              &:hover {
                color: red;
              }
              img {
                margin-left: 10px;
                width: 30px;
              }
            }
          }
        }
      }
    }

    .big-name {       
      // bottom: 5%;
      // position: absolute;
      // left: 50%;
      // transform: translate(-50%, 0);
      // right: 5%;
      margin: 0 auto;
      font-size: 200px;
  //     writing-mode: tb-rl;
  //     transform: rotate(
  // 180deg);
      background-color: black;
      color: transparent;
      text-shadow: 0px 10px 30px #ffffc0;
      -webkit-background-clip: text;
      background-clip: text;
      text-align: center;
      opacity: .3;
  
      @media screen and (max-width: 700px){
        font-size: 50px;
      }
    }
    
  }
}