section {
  padding-top: 80px;
  min-height: 100vh;
  min-width: 100%;
  background-image: linear-gradient(0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
  background-image: linear-gradient(0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
  background-size: 4px 4px;
  color: #ffffc8;

  .about__nav {
    padding: 20px 10px;        
    font-size: 20px;
    background-image: linear-gradient(
0deg, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.5) 100%);
background-size: 4px 4px;

    :nth-child(n){
      border-right: 2px solid #ffffc8;
    }

    :last-child {
      border-right: none;
    }

    a {
      text-decoration: none;
      transition: .3s all;
      font-weight: 700;
      padding: 0 10px;
      color: #ffffc8;

      &:hover {
        color: red;
      }
    }    
  }

  .container {
    padding: 0 15px;
    margin: 0 auto; 
    max-width: 1300px;   

    .log {
      max-width: 1300px;
      margin: 0 auto;
      padding: 30px 0;
      position: relative;

      &__item {
        padding: 20px 10px;        
      font-size: 20px;
      background-image: linear-gradient(
0deg, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.5) 100%);
  background-size: 4px 4px;

        &--desc, &--date {
          padding: 0 20px;
        }

        &--date {
          color: red;
        }
      }

      >:nth-child(n){  
        flex-direction: column;      
      }

      >:nth-child(odd){
        display: flex;
        justify-content: flex-end;
        align-items: flex-end; 
        margin-left: 50%;  
        position: relative;
        
        // &:before {
        //   position: absolute;
        //   top: 30%;
        //   content: '';
        //   width: 30px;
        //   height: 30px;
        //   background-color: #ffffc8;
        //   border-radius: 50%;
        //   border: 3px solid red;
        //   z-index: 2;
        //   left: -15px;
        // }

        &:after {
          position: absolute;
          top: 20%;
          content: '';
          // width: 30px;
          // height: 30px;
          width: 0; 
          height: 0; 
          border-top: 30px solid transparent;
          border-bottom: 30px solid transparent;          
          border-left: 30px solid #ffffc8;
          z-index: 2;
          left: 0px;
        }
      }

      >:nth-child(even){
        display: flex;
        justify-content: flex-start;
        margin-right: 50%;
        position: relative;

        // &:before {
        //   position: absolute;
        //   top: 30%;
        //   content: '';
        //   width: 30px;
        //   height: 30px;
        //   background-color: #ffffc8;
        //   border-radius: 50%;
        //   border: 3px solid red;
        //   z-index: 2;
        //   right: -20px;
        // }

        &:after {
          position: absolute;
          top: 20%;
          content: ''; 
          z-index: 2;
          right: 0;
          width: 0; 
          height: 0; 
          border-top: 30px solid transparent;
          border-bottom: 30px solid transparent;           
          border-right:30px solid #ffffc8; 
        }
      }

      &:after {
        position: absolute;
        content: '';       
        height: 100%;
        width: 0;
        border: 2px solid red;
        top: 30px;
        left: 50%;        
      }
    }
  }
}