<section>
  <div class="container">
    <nav class="about__nav">      
      <a routerLink="/about/download" routerLinkActive="active">Download</a>
      <a routerLink="/about/log">Log</a>
      <a routerLink="/about/maps">Maps</a>
      <a routerLink="/about/wanted">Wanted</a>      
    </nav> 
    <div class="log">
      <div class="log__item">
        <div class="log__item--desc">Start MoHAA:Spearhead MIX League</div>
        <div class="log__item--date">10.11.2020</div>
      </div>
      <div class="log__item">
        <div class="log__item--desc">Chnage outperform Threshold from 200 to 12. Reset ranking points due change Outperform Thershold. Change convertion rate of each player on the team, in case of win best player get more points and worst get less in winnig team. Before this change, the point distribution was almost equal (equal responsiblity per team).</div>
        <div class="log__item--date">13.01.2021</div>
      </div>
      <div class="log__item">
        <div class="log__item--desc">Started first CUP 1on1 in MoH:SH MIX LEAGUE</div>
        <div class="log__item--date">05.02.2021</div>
      </div>
      <div class="log__item">
        <div class="log__item--desc">Finished first CUP 1on1</div>
        <div class="log__item--date">05.03.2021</div>
      </div>
      <div class="log__item">
        <div class="log__item--desc"><strong>RESET</strong> ranking points (back to 1000 for each players)</div>
        <div class="log__item--date">05.05.2021</div>
      </div>
      <div class="log__item">
        <div class="log__item--desc"><strong>RESET</strong> ranking points (back to 1000 for each players)</div>
        <div class="log__item--date">31.12.2021</div>
      </div>      
    </div>
  </div>
</section>