
<section>
<div class="secret">  
  <!-- <google-map width="1000px" height="800px" [zoom]="zoom" [center]="position">

    <map-marker *ngFor="let marker of markers" 
      [position]="marker.position" 
      [label]="marker.label">
  
    </map-marker>
  
  </google-map> -->
  <!-- <google-map *ngIf="mapOptions.center" width="1000px" height="800px" [options]="mapOptions">
    <ng-container *ngFor="let elem of elements">
        <map-marker #marker="mapMarker" [position]="elem.position" [options]="elem.markerOptions" (mapClick)="openInfoWindow(marker, infoWindow)"></map-marker>
        <map-info-window #infoWindow="mapInfoWindow"> Content of {{ elem.label }} ...</map-info-window>
    </ng-container>
</google-map> -->
<!-- <google-map height="800px"
    width="1200px"
    [center]="center"
    [zoom]="zoom"
    [options]="mapOptions">
  <map-marker #marker="mapMarker"
      *ngFor="let place of places; let i = index" 
      [position]="{ lat: place.lat, lng: place.lng }"
      
      (mapClick)="openInfoWindow(marker, place.label)"> 

      <map-info-window>
        {{ place.description }}
      </map-info-window>
  </map-marker>
</google-map> -->
<google-map
  height="900px"
  width="1200px"
  [zoom]="zoom"
  [center]="center"
  [options]="mapOptions"
  
>
  <map-marker
    #somemarker="mapMarker"
    *ngFor="let marker of places"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(somemarker, marker)"
  >
  </map-marker>

  <map-info-window>
    <div class="info"><span>{{ infoContent }} - ({{ infoRealname }})</span></div>
    <div class="info">Tel: <span>{{ infoTel }}</span></div>    
    <div class="info">City: <span>{{ infoAddress }}</span></div>    
    <ng-container *ngIf="accurate === '1'; then accurateDok; else noAccurate"></ng-container>
      <ng-template #accurateDok>
        <div class="info"><span>Adres dokładny</span></div>
      </ng-template>
      <ng-template #noAccurate>
        <div class="info"><span>Adres przybliżony</span></div>
      </ng-template> 
  </map-info-window>
</google-map>

</div>
<ng-container *ngIf="contactPlayers$ | async as contactPlayers">
  <ng-container *ngIf="contactPlayers.length > 0">
    <div class="container">
      <div class="contact-cont">
        <div class="contact contact-head">
          <div>LP</div>
          <div>Nickname</div>
          <div>Realname</div>
          <div>Tel</div>
          <div>City</div>
          <div>Activity</div>
        </div>
        <div *ngFor="let contactPlayer of contactPlayers" class="contact">
          <div>{{ contactPlayer.lp }}</div>
          <div>{{ contactPlayer.nickname }}</div>
          <div>{{ contactPlayer.realname }}</div>
          <div>{{ contactPlayer.tel }}</div>
          <div>{{ contactPlayer.address }}</div>         
          <div>{{ contactPlayer.active }}</div>          
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
</section>