
<section>
  <div style="padding: 20px; border: 5px solid red; margin-top: 70px; background-color: #fff;">
    <form action="" [formGroup]="googleSheetForm" (ngSubmit)="onSubmit()">
     
      <div>
     
        <label for="playername" class="form-label">Player Name</label>
        <input type="text" name="" id="playername" class="form-control" formControlName="playername" minlength="3">
        <div *ngIf="playername.errors?.maxlength">
          Name can be min 3 characters long.
        </div>
      </div>
      <div>
        <label for="username">User name</label>
        <input type="text" name="username" id="username" appSlugTransform formControlName="username" disabled class="form-control">
      </div>
      <div>
        <label for="ranking">Ranking</label>
        <input type="text" name="ranking" id="" formControlName="ranking" class="form-control" disabled>
      </div>
      <div>
        <label for="percentile">Percentile</label>
        <input type="text" name="percentile" id="" formControlName="percentile" disabled class="form-control">
      </div>
      <div>

      </div>
      <div>
        <label for="warcount">War count</label>
        <input type="text" name="warcount" id="" formControlName="warcount" disabled class="form-control">
      </div>
      <div>
        <label for="nationality">Nationality</label>
        <input type="text" name="nationality" id="" formControlName="nationality" disabled class="form-control">
      </div>
      <div>
        <label for="clanhistory">Clan History</label>
        <input type="text" name="clanhistory" id="" formControlName="clanhistory" disabled class="form-control">
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div>
        <label for="active">Active</label>
        <input type="checkbox" name="active" id="" formControlName="active">
      </div>
      <div>
        <label for="ban">Ban</label>
        <input type="checkbox" name="ban" id="" formControlName="ban">
      </div>
      <div>
        <label for="lastwar">Last war</label>
        <textarea type="text" name="" id="" class="form-control" formControlName="lastwar" disabled></textarea>
      </div>
      <div>
        <label for="fpw">FpW</label>
        <textarea name="fpw" id="" formControlName="fpw" class="form-control" disabled></textarea>
      </div>
      <div>
        <label for="fpwmax">FpW max</label>
        <textarea type="text" name="fpwmax" id="" formControlName="fpwmax" class="form-control" disabled></textarea>
      </div>
      <div>
        <label for="fpwmin">FpW min</label>
        <textarea type="text" name="fpwmin" id="" formControlName="fpwmin" class="form-control" disabled></textarea>
      </div>
      <div>
        <label for="last30days">Last 30 days</label>
        <textarea type="text" name="last30days" id="" formControlName="last30days" class="form-control" disabled></textarea>
      </div>
      <div>
        <label for="last365days">Last 365 days</label>
        <textarea type="text" name="last365days" id="" formControlName="last365days" class="form-control" disabled></textarea>
      </div>
      <div>
        <label for="lastwarpc">Last war pc</label>
        <textarea type="text" name="lastwarpc" id="" formControlName="lastwarpc" class="form-control" disabled></textarea>
      </div>
      <div>
        <label for="s1wars">Season #1 wars</label>
        <textarea type="text" name="" id="" formControlName="s1wars" class="form-control" disabled></textarea>
      </div>
      <div>
        <label for="s1fpw">Season #1 FpW</label>
        <textarea type="text" name="" id="" formControlName="s1fpw" class="form-control" disabled></textarea>
      </div>
      <div>
        <label for="streak">Streak</label>
        <textarea type="text" name="" id="" formControlName="streak" class="form-control" disabled></textarea>
      </div>
      <button>Add player</button>
    </form>
    FORM: {{googleSheetForm.value | json}}
  </div>
<div class="secret">  
  <!-- <google-map width="1000px" height="800px" [zoom]="zoom" [center]="position">

    <map-marker *ngFor="let marker of markers" 
      [position]="marker.position" 
      [label]="marker.label">
  
    </map-marker>
  
  </google-map> -->
  <!-- <google-map *ngIf="mapOptions.center" width="1000px" height="800px" [options]="mapOptions">
    <ng-container *ngFor="let elem of elements">
        <map-marker #marker="mapMarker" [position]="elem.position" [options]="elem.markerOptions" (mapClick)="openInfoWindow(marker, infoWindow)"></map-marker>
        <map-info-window #infoWindow="mapInfoWindow"> Content of {{ elem.label }} ...</map-info-window>
    </ng-container>
</google-map> -->
<!-- <google-map height="800px"
    width="1200px"
    [center]="center"
    [zoom]="zoom"
    [options]="mapOptions">
  <map-marker #marker="mapMarker"
      *ngFor="let place of places; let i = index" 
      [position]="{ lat: place.lat, lng: place.lng }"
      
      (mapClick)="openInfoWindow(marker, place.label)"> 

      <map-info-window>
        {{ place.description }}
      </map-info-window>
  </map-marker>
</google-map> -->
<google-map
  height="900px"
  width="1200px"
  [zoom]="zoom"
  [center]="center"
  [options]="mapOptions"
  
>
  <map-marker
    #somemarker="mapMarker"
    *ngFor="let marker of places"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(somemarker, marker)"
  >
  </map-marker>

  <map-info-window>
    <div class="info"><span>{{ infoContent }} - ({{ infoRealname }})</span></div>
    <div class="info">Tel: <span>{{ infoTel }}</span></div>    
    <div class="info">City: <span>{{ infoAddress }}</span></div>    
    <ng-container *ngIf="accurate === '1'; then accurateDok; else noAccurate"></ng-container>
      <ng-template #accurateDok>
        <div class="info"><span>Adres dokładny</span></div>
      </ng-template>
      <ng-template #noAccurate>
        <div class="info"><span>Adres przybliżony</span></div>
      </ng-template> 
  </map-info-window>
</google-map>

</div>
<ng-container *ngIf="contactPlayers$ | async as contactPlayers">
  <ng-container *ngIf="contactPlayers.length > 0">
    <div class="container">
      <div class="contact-cont">
        <div class="contact contact-head">
          <div>LP</div>
          <div>Nickname</div>
          <div>Realname</div>
          <div>Tel</div>
          <div>City</div>
          <div>Activity</div>
        </div>
        <div *ngFor="let contactPlayer of contactPlayers" class="contact">
          <div>{{ contactPlayer.lp }}</div>
          <div>{{ contactPlayer.nickname }}</div>
          <div>{{ contactPlayer.realname }}</div>
          <div>{{ contactPlayer.tel }}</div>
          <div>{{ contactPlayer.address }}</div>         
          <div>{{ contactPlayer.active }}</div>          
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
</section>