
<section>
<div class="secret">  
  <!-- <google-map width="1000px" height="800px" [zoom]="zoom" [center]="position">

    <map-marker *ngFor="let marker of markers" 
      [position]="marker.position" 
      [label]="marker.label">
  
    </map-marker>
  
  </google-map> -->
  <!-- <google-map *ngIf="mapOptions.center" width="1000px" height="800px" [options]="mapOptions">
    <ng-container *ngFor="let elem of elements">
        <map-marker #marker="mapMarker" [position]="elem.position" [options]="elem.markerOptions" (mapClick)="openInfoWindow(marker, infoWindow)"></map-marker>
        <map-info-window #infoWindow="mapInfoWindow"> Content of {{ elem.label }} ...</map-info-window>
    </ng-container>
</google-map> -->
<!-- <google-map height="800px"
    width="1200px"
    [center]="center"
    [zoom]="zoom"
    [options]="mapOptions">
  <map-marker #marker="mapMarker"
      *ngFor="let place of places; let i = index" 
      [position]="{ lat: place.lat, lng: place.lng }"
      
      (mapClick)="openInfoWindow(marker, place.label)"> 

      <map-info-window>
        {{ place.description }}
      </map-info-window>
  </map-marker>
</google-map> -->
<google-map
  height="900px"
  width="1200px"
  [zoom]="zoom"
  [center]="center"
  [options]="mapOptions"
  
>
  <map-marker
    #somemarker="mapMarker"
    *ngFor="let marker of places"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(somemarker, marker.label.text)"
  >
  </map-marker>

  <map-info-window>
    <div id="info">{{infoContent}}</div>
  </map-info-window>
</google-map>
</div>
</section>