section {
  min-height: 100vh;
  min-width: 100%;
  background-image: linear-gradient(0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
  background-image: linear-gradient(0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
  background-size: 4px 4px;
  color: #ffffc8;

  .secret-form {
    padding-top: 70px;
    position: relative;
    background-color: #2f3060;
  
    form {
      width: 400px;
      height: 200px;
      margin: 0 auto;   
    }
  }
}
