<nav class="about__nav">  
  <div class="container">
    <a routerLink="/about/download" routerLinkActive="active">{{'about.menu_download' | translate }}</a>
    <a routerLink="/about/log">Log</a>
    <a routerLink="/about/maps">{{'about.maps' | translate }}</a>
    <a routerLink="/about/wanted">{{ 'about.menu_wanted' | translate }}</a> 
    <a routerLink="/about/config">Config</a>  
    <a routerLink="/about/meeting">{{ 'about.meeting' | translate }}</a>
    <!-- <a routerLink="/about/secret">{{ 'about.contact' | translate }}</a> -->
    <a routerLink="/about/links">{{ 'about.links' | translate }}</a>
    <a routerLink="/about/rules">{{ 'about.rules' | translate }}</a>
  </div>
</nav>
