<nav class="about__nav">
  <div class="container">
    <a routerLink="/about/download" routerLinkActive="active">{{'about.menu_download' | translate }}</a>
    <a routerLink="/about/log" routerLinkActive="active">Log</a>
    <a routerLink="/about/maps" routerLinkActive="active">{{'about.maps' | translate }}</a>
    <a routerLink="/about/wanted" routerLinkActive="active">{{ 'about.menu_wanted' | translate }}</a>
    <a routerLink="/about/config" routerLinkActive="active">Config</a>
    <a routerLink="/about/meeting" routerLinkActive="active">{{ 'about.meeting' | translate }}</a>
    <!-- <a routerLink="/about/secret">{{ 'about.contact' | translate }}</a> -->
    <a routerLink="/about/links" routerLinkActive="active">{{ 'about.links' | translate }}</a>
    <a routerLink="/about/rules" routerLinkActive="active">{{ 'about.rules' | translate }}</a>
    <a routerLink="/about/seasons" routerLinkActive="active">Seasons</a>
    <a routerLink="/about/movies" routerLinkActive="active">Movies</a>
  </div>
</nav>
