<section>
  <nav class="about__nav">  
    <div class="container">
      <a routerLink="/about/download" routerLinkActive="active">{{'about.menu_download' | translate }}</a>
      <a routerLink="/about/log">Log</a>
      <a routerLink="/about/maps">{{'about.maps' | translate }}</a>
      <a routerLink="/about/wanted">{{ 'about.menu_wanted' | translate }}</a> 
      <a routerLink="/about/config">Config</a> 
    </div>   
  </nav> 
  <div class="container">   
    <h2>Useful configuration:</h2> 
    <div class="grid-config">
      <div>com_maxfps 300</div>
      <div>-</div>
      <div>cg_lagometer 1</div>
      <div>-</div>
      <div>cg_smoothclients 1</div>
      <div>-</div>
    </div>
  </div>
</section>