<section>
  <form [formGroup]="clanForm" (ngSubmit)="onSubmit()">
    <h1>Add Clan War</h1>
    <div class="clans">      
      <div>        
        <mat-form-field>          
          <mat-label>Clan 1</mat-label>
          <mat-select formControlName="selectedClan1">
            <mat-option *ngFor="let clan of clans$ | async" [value]="clan.clan">{{ clan.clantag }} ({{clan.elo}}) <img [src]='"assets/images/flags_svg/" + clan.flag + ".SVG"' [style.width.px]="20"></mat-option>
          </mat-select>
          <mat-error *ngIf="clanForm.get('selectedClan1')?.hasError('required')">
            Clan 1 is required
          </mat-error>
        </mat-form-field>
        <div formGroupName="selectedPlayersClan1" class="clan-players">
          <mat-label><strong>Players for Clan 1</strong></mat-label>
          <mat-checkbox *ngFor="let player of filteredPlayersClan1$ | async" [value]="player.username" (change)="onCheckBoxChange($event, 'selectedPlayersClan1', player)">
            <span [ngClass]="{'inactive': player.active === 'FALSE'}">
              {{ player.playername }}
            </span>
            <img [src]='"assets/images/flags_svg/" + player.nationality + ".SVG"' [style.width.px]="20">
          </mat-checkbox>          
        </div>
        <mat-form-field>
          <mat-label>Score Clan 1</mat-label>
          <input matInput formControlName="scoreClan1" type="number">
          <mat-error *ngIf="clanForm.get('scoreClan1')?.hasError('required')">
            Clan 1 Score is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Clan 2</mat-label>
          <mat-select formControlName="selectedClan2">
            <mat-option *ngFor="let clan of clans$ | async" [value]="clan.clan">{{ clan.clantag }} ({{clan.elo}}) <img [src]='"assets/images/flags_svg/" + clan.flag + ".SVG"' [style.width.px]="20"></mat-option>
          </mat-select>
          <mat-error *ngIf="clanForm.get('selectedClan2')?.hasError('required')">
            Clan 2 is required
          </mat-error>
        </mat-form-field>
        <div formGroupName="selectedPlayersClan2" class="clan-players">
          <mat-label><strong>Players for Clan 2</strong></mat-label>
          <mat-checkbox *ngFor="let player of filteredPlayersClan2$ | async" [value]="player.username" (change)="onCheckBoxChange($event, 'selectedPlayersClan2', player)">
            <span [ngClass]="{'inactive': player.active === 'FALSE'}">
              {{ player.playername }}
            </span><img [src]='"assets/images/flags_svg/" + player.nationality + ".SVG"' [style.width.px]="20">
          </mat-checkbox>
        </div>
        <mat-form-field>
          <mat-label>Score Clan 2</mat-label>
          <input matInput formControlName="scoreClan2" type="number">
          <mat-error *ngIf="clanForm.get('scoreClan2')?.hasError('required')">
            Clan 2 Score is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button color="primary" type="submit">Submit</button>
     <!-- Success Message -->
    <div *ngIf="isSuccess" class="success-message overlay">
      <div class="success-message">Mecz został dodany pomyślnie!</div>

    </div>

    <!-- Error Message -->
    <div *ngIf="isError" class="error-message">
      Błąd: {{errorMessage}}
    </div>
  </form>
  <!-- <p *ngIf="matchAddedMessage">{{ matchAddedMessage }}</p> -->
</section>
<ng-http-loader>    
</ng-http-loader>
