<section>
  <div class="container">
    <form action="" [formGroup]="googleSheetForm" (ngSubmit)="onSubmit()">
      <div>
      <mat-form-field class="example-full-width edit">
        <mat-label>Player Name</mat-label>
        <input matInput placeholder="Player Name" formControlName="playername" minlength="2">
        <mat-hint *ngIf="playername.errors?.minlength">Name can be min 2 characters long.</mat-hint>
      </mat-form-field> 
      <mat-form-field class="example-full-width readonly">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="" formControlName="username" readonly appSlugTransform>
      </mat-form-field>
      <mat-form-field class="example-full-width readonly">
        <mat-label>Ranking</mat-label>
        <input matInput placeholder="" formControlName="ranking" readonly>
      </mat-form-field>
    </div>    
    <div>
      <mat-form-field class="full-width readonly">
        <mat-label>Percentile</mat-label>
        <input matInput placeholder="" formControlName="percentile" readonly>
      </mat-form-field>
    </div>     
    <div>
      <mat-form-field class="example-full-width edit">
        <mat-label>Clan history</mat-label>
        <input matInput placeholder="" formControlName="clanhistory">
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 180px">
        <mat-label>Nationality</mat-label>
        <mat-select formControlName="nationality">
          <mat-option *ngFor="let country of countries" [value]="country.value" >
            {{country.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>   
    </div>
    <div>    
      <mat-form-field class="full-width readonly">
        <mat-label>War count</mat-label>
        <input matInput placeholder="" formControlName="warcount" readonly>
      </mat-form-field>
    </div>    
      <div>
        <!-- <mat-checkbox class="checkbox edit" formControlName="active" [color]="task.color">Active</mat-checkbox> -->
        <mat-checkbox class="checkbox edit" formControlName="ban" [color]="task.color">Ban</mat-checkbox>
      </div>
      <div>
        <mat-form-field class="full-width readonly">
          <mat-label>Last war</mat-label>
          <input matInput placeholder="" formControlName="lastwar" readonly>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width readonly">
          <mat-label>FpW</mat-label>
          <input matInput placeholder="" formControlName="fpw" readonly>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width readonly">
          <mat-label>FpW max</mat-label>
          <input matInput placeholder="" formControlName="fpwmax" readonly>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width readonly">
          <mat-label>FpW min</mat-label>
          <input matInput placeholder="" formControlName="fpwmin" readonly>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width readonly">
          <mat-label>Last month activity</mat-label>
          <input matInput placeholder="" formControlName="last30days" readonly>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width readonly">
          <mat-label>Last year activity</mat-label>
          <input matInput placeholder="" formControlName="last365days" readonly>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width readonly">
          <mat-label>Last war pc</mat-label>
          <input matInput placeholder="" formControlName="lastwarpc" readonly>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width readonly">
          <mat-label>Season 1 wars</mat-label>
          <input matInput placeholder="" formControlName="s1wars" readonly>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width readonly">
          <mat-label>Season 1 FpW</mat-label>
          <input matInput placeholder="" formControlName="s1fpw" readonly>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width readonly">
          <mat-label>Streak</mat-label>
          <input matInput placeholder="" formControlName="streak" readonly>
        </mat-form-field>
      </div>     
      
      <!-- <button>Add player</button> -->
      <button mat-raised-button type="submit" color="primary" [disabled]="googleSheetForm.invalid || googleSheetForm.pristine">Submit</button>
    </form>
    <!-- FORM: {{googleSheetForm.value | json}} -->
  </div>
</section>
