section {
  padding-top: 80px;
  background-image: linear-gradient(0deg, rgba(252, 252, 252, 1) 25%, rgba(245, 245, 245, 1) 25%, rgba(245, 245, 245, 1) 50%, rgba(252, 252, 252, 1) 50%, rgba(252, 252, 252, 1) 75%, rgba(245, 245, 245, 1) 75%, rgba(245, 245, 245, 1) 100%);
  background-size: 4px 4px;  
  min-height: 100%;

  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1300px;

    form {
      padding: 10px 0;

      ::ng-deep .edit .mat-form-field-wrapper .mat-form-field-flex {
        border-top: 2px solid indigo !important;
        border-left: 2px solid indigo !important;
        border-right: 2px solid indigo !important;
        padding: 3px;
      }

      .example-full-width, .checkbox {
        margin-right: 15px;
      }

      .full-width {
        width: 100%;
      }

      .readonly {
        opacity: 0.7;
        pointer-events: none;
      }
    }
  }
}