<nav>
  <div class="mobile">
    <a href="/">
      <img src="../assets/images/sh_icon.png" alt="" class="mobile-icon">
    </a>    
    <div id="hamburger" (click)="toggleMenu()">
      <svg viewBox="0 0 100 80" width="40" height="30" fill="#ffffc8">
        <rect width="100" height="10"></rect>
        <rect y="30" width="100" height="10"></rect>
        <rect y="60" width="100" height="10"></rect>
      </svg>
    </div>
  </div>    
  <div class="nav" id="nav">
    <div class="menu">
      <a routerLink="" routerLinkActive="active">{{ 'nav.home' | translate }}</a>
      <a routerLink="obj-ranking" routerLinkActive="active">Ranking OBJ</a>
      <a routerLink="obj-matches" routerLinkActive="active">{{ 'nav.matches_obj' | translate }}</a>
      <a routerLink="obj-inactive" routerLinkActive="active">{{ 'nav.inactive_obj' | translate }}</a>
      <a routerLink="about" routerLinkActive="active">{{ 'nav.about' | translate }}</a>
      <a routerLink="cup" routerLinkActive="active">Cup</a>
      <form action="">
        <label for="langChange">{{ 'nav.choose' | translate }}</label>
        <select class="language-select" name="langChange" (ngModelChange)="languageChange($event)" [(ngModel)]="languageCode">          
          <option class="language-select" *ngFor='let item of languages' [ngValue]='item.languageCode'>    
            {{item.languageName}}</option>
        </select>
      </form>
    </div>
    <div class="social">
      <div *ngIf="players$ | async as numOfPlayers">        
        <div *ngIf="numOfPlayers.length > 0">
          <a routerLink="obj-ranking" routerLinkActive="active" title="ACTIVE PLAYERS">
            <img src="../assets/images/icons/people.png" alt="" class="people">
            {{ numOfPlayers.length - 1 }}
          </a> 
        </div>        
      </div>
      <div *ngIf="matches$ | async as numOfMatches">        
        <div *ngIf="numOfMatches.length > 0">
          <a routerLink="obj-matches" routerLinkActive="active" title="MATCHES PLAYED">
            <img src="../assets/images/icons/avarage.png" alt="">
            {{ numOfMatches.length }}
          </a>
        </div>       
      </div>
      <a href="https://discord.gg/ytZSpQ2" target="_blank" title="DISCORD" class="disco">
        <img src="assets/images/icons/discord.svg" alt="">
        <div>VISIT DISCORD</div>        
      </a>  
         
    </div>
    <div class="" *ngIf="_authService.loggedIn()">
      <!-- <a class="navbar-brand" href="">EventsHub</a> -->
      
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" rouetrLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/users"  *ngIf="isAdmin" rouetrLinkActive="active">Users</a>
          </li>
        </ul> -->
       
        <ul class="navbar-nav">
           <a class="nav-link"  routerLink="/login" *ngIf="!_authService.loggedIn()" rouetrLinkActive="active">Login</a>
           <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="logoutUser()">{{ 'about.logout' | translate }}</a>
        </ul>
      </div>
    </div>
  </div>  
</nav>



<router-outlet></router-outlet>