<nav>
  <div class="nav">
    <div class="menu">
      <a routerLink="" routerLinkActive="active">Home</a>
      <a routerLink="obj-ranking" rounterLinkActive="active">Ranking OBJ</a>
      <a routerLink="obj-matches" rounterLinkActive="active">Matches OBJ</a>
      <a routerLink="obj-inactive" rounterLinkActive="active">Inactive OBJ</a>
      <a routerLink="about" rounterLinkActive="active">About</a>
    </div>
    <div class="social">
      <a href="https://discord.gg/QHYJQWMY" target="_blank" title="DISCORD">
        <div>VISIT OUR</div>
        <img src="assets/images/icons/discord.svg" alt="">
      </a>
    </div>
  </div>  
</nav>


<router-outlet></router-outlet>