section {
  background-color: #010141;  
  min-height: 100vh;
}

.container {
  padding-top: 86px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1280px;

  > div {
    max-width: 1280px;
  }
}

.match-row {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
  color: #ffffc8;  
  margin-bottom: 15px;

  @media screen and (max-width: 800px){
    grid-template-columns: 1fr;
  }

  >:nth-child(2){
    border-left: 5px solid transparent;
  }

  >:nth-child(3){
    border-right: 5px solid transparent;
  }

  &__date {
    background-color: #40415f;
    padding: 15px;
    font-size: 20px;
  }

  .teamrounds {
    text-align: center;
    padding-bottom: 15px;
    font-size: 32px;
    font-weight: 700;
    // border-bottom: 3px solid #ffffc8;
  }

  .teaminfo {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 3px solid #ffffc8;
    background-image: linear-gradient(
      0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
          background-size: 4px 4px;
    color: #ffffc8;
    font-weight: 700;

    // &__pre {
    //   background-image: linear-gradient(
    //     0deg, gray 25%, lightgray 25%, lightgray 50%, gray 50%, gray 75%, lightgray 75%, lightgray 100%);
    //   background-size: 4px 4px;
    // }

    // &__name {
    //   background-image: linear-gradient(
    //     0deg, #d0bfd9 25%, #e7dfec 25%, #e7dfec 50%, #d0bfd9 50%, #d0bfd9 75%, #e7dfec 75%, #e7dfec 100%);
    //   background-size: 4px 4px;
    // }

    // &__frags {
    //   background-image: linear-gradient(
    //     0deg, #d4835e 25%, #a1502b 25%, #a1502b 50%, #d4835e 50%, #d4835e 75%, #a1502b 75%, #a1502b 100%);
    //   background-size: 4px 4px;
    // }

    // &__post {
    //   background-image: linear-gradient(
    //     0deg, #a0daa9 25%, #5abf69 25%, #5abf69 50%, #a0daa9 50%, #a0daa9 75%, #5abf69 75%, #5abf69 100%);
    //   background-size: 4px 4px;
    // }

    // &__pc {
    //   background-image: linear-gradient(
    //     0deg, #fdac53 25%, #fc8403 25%, #fc8403 50%, #fdac53 50%, #fdac53 75%, #fc8403 75%, #fc8403 100%);
    //   background-size: 4px 4px;
    // }
  }

  .roundswon_row {
    border-color:green;
  }

  .roundslose_row {
    border-color:red;
  }

  .roundsdraw_row {
    border-color: gray;
  }

  // .roundsdraw_row {
  //   &:first-of-type {      
  //     border-left: 5px solid gray;      
  //   }

  //   &:last-of-type {
  //     border-right: 5px solid gray
  //   }    
  // }

  &__team {
    background-color: #2f3060;
    padding: 15px;

    &--player {
      display: grid;
      grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 0 10px;
      position: relative;  
      
      >div{
        display: flex;
        align-items: center;
      }

      .won {
        position: relative;
       
        span {
          &:after {
            position: absolute;
            top: 10px;
            margin-left: 5px;
            content: " ";
            background-image: url("/assets/images/uprate.gif");
            width: 10px;
            height: 5px;
          }
        }        
      }

      .lost {
        position: relative;

        span {
          &:after {
            position: absolute;
            top: 10px;
            margin-left: 5px;
            content: "";
            background-image: url("/assets/images/downrate.gif");
            width: 10px;
            height: 5px;
          }
        }       
      }

      &__name {
        font-size: 20px;

        a {
          color: #ffffc8;
        }
      }

      &__score {
        font-size: 20px;
      }
    }
  }
}

.my-pagination {
  background-color: #ffffc8 !important;
} 

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

// <style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style>
.findMaps {
  display: grid;
  grid-template-rows: auto;
  margin-top: 1rem;
  gap: 1rem;

  .singleMap {
    height: 300px;
    background-position: center;
  }

  .singleMapUnknown {
    height: 300px;    
  }
}