

<section class="single-match">
  <div class="container">
    <ng-container *ngIf="historyObj$ | async as match">

        <div>

            <div class="match-row">
              <div class="match-row__date">
                <div>{{ match.timestamp | date:'dd.MM.yyyy HH:mm' }}</div>
                <div>#{{ match.idwar }}</div>
              </div>
              <div class="match-row__team">
                <div class="teamrounds">{{ match.t1roundswon }}</div>
                <div class="teaminfo">
                  <div>preRANK</div>
                  <div>Name</div>
                  <div>Frags</div>
                  <div>postRANK</div>
                  <div>PC</div>
                </div>
                <div class="match-row__team--player">
                  <div>{{ match.t1p1preelo | number: '.1-2' }}</div>
                  <div class="match-row__team--player__name"><a routerLink="/obj-ranking/{{match.t1p1username}}">{{ match.t1p1playername }}</a></div>
                  <div class="match-row__team--player__score">{{ match.t1p1score }} </div>
                  <div>{{ match.t1p1postelo | number: '.1-2' }}</div>
                  <div [ngClass]="{ 'won': (match.t1p1postelo - match.t1p1preelo) > 0, 'lost': (match.t1p1postelo - match.t1p1preelo) < 0, 'draw': (match.t1p1postelo - match.t1p1preelo === 0) }"><span>{{ match.t1p1postelo - match.t1p1preelo | number: '.1-2'}}</span></div>
                </div>
                <div class="match-row__team--player">
                  <div>{{ match.t1p2preelo | number: '.1-2' }}</div>
                  <div class="match-row__team--player__name"><a routerLink="/obj-ranking/{{match.t1p2username}}">{{ match.t1p2playername }}</a></div>
                  <div class="match-row__team--player__score">{{ match.t1p2score }} </div>
                  <div>{{ match.t1p2postelo | number: '.1-2' }}</div>
                  <div [ngClass]="{ 'won': (match.t1p2postelo - match.t1p2preelo) > 0, 'lost': (match.t1p2postelo - match.t1p2preelo) < 0, 'draw': (match.t1p2postelo - match.t1p2preelo === 0) }"><span>{{ match.t1p2postelo - match.t1p2preelo | number: '.1-2'}}</span></div>
                </div>
                <div class="match-row__team--player" *ngIf="match.t1p3playername !== ''">
                  <div>{{ match.t1p3preelo | number: '.1-2' }}</div>
                  <div class="match-row__team--player__name"><a routerLink="/obj-ranking/{{match.t1p3username}}">{{ match.t1p3playername }}</a></div>
                  <div class="match-row__team--player__score">{{ match.t1p3score }} </div>
                  <div>{{ match.t1p3postelo | number: '.1-2' }}</div>
                  <div [ngClass]="{ 'won': (match.t1p3postelo - match.t1p3preelo) > 0, 'lost': (match.t1p3postelo - match.t1p3preelo) < 0, 'draw': (match.t1p3postelo - match.t1p3preelo === 0) }"><span>{{ match.t1p3postelo - match.t1p3preelo | number: '.1-2'}}</span></div>
                </div>
                <div class="match-row__team--player" *ngIf="match.t1p4playername !== ''">
                  <div>{{ match.t1p4preelo | number: '.1-2' }}</div>
                  <div class="match-row__team--player__name"><a routerLink="/obj-ranking/{{match.t1p4username}}">{{ match.t1p4playername }}</a></div>
                  <div class="match-row__team--player__score">{{ match.t1p4score }} </div>
                  <div>{{ match.t1p4postelo | number: '.1-2' }}</div>
                  <div [ngClass]="{ 'won': (match.t1p4postelo - match.t1p4preelo) > 0, 'lost': (match.t1p4postelo - match.t1p4preelo) < 0, 'draw': (match.t1p4postelo - match.t1p4preelo === 0) }"><span>{{ match.t1p4postelo - match.t1p4preelo | number: '.1-2'}}</span></div>
                </div>
                <div class="match-row__team--player" *ngIf="match.t1p5playername !== ''">
                  <div>{{ match.t1p5preelo | number: '.1-2' }}</div>
                  <div class="match-row__team--player__name"><a routerLink="/obj-ranking/{{match.t1p4username}}">{{ match.t1p5playername }}</a></div>
                  <div class="match-row__team--player__score">{{ match.t1p5score }} </div>
                  <div>{{ match.t1p5postelo | number: '.1-2' }}</div>
                  <div [ngClass]="{ 'won': (match.t1p5postelo - match.t1p5preelo) > 0, 'lost': (match.t1p5postelo - match.t1p5preelo) < 0, 'draw': (match.t1p5postelo - match.t1p5preelo === 0) }"><span>{{ match.t1p5postelo - match.t1p5preelo | number: '.1-2'}}</span></div>
                </div>
                <div class="match-row__team--player" *ngIf="match.t1p6playername !== ''">
                  <div>{{ match.t1p6preelo | number: '.1-2' }}</div>
                  <div class="match-row__team--player__name"><a routerLink="/obj-ranking/{{match.t1p6username}}">{{ match.t1p6playername }}</a></div>
                  <div class="match-row__team--player__score">{{ match.t1p6score }} </div>
                  <div>{{ match.t1p6postelo | number: '.1-2' }}</div>
                  <div [ngClass]="{ 'won': (match.t1p6postelo - match.t1p6preelo) > 0, 'lost': (match.t1p6postelo - match.t1p6preelo) < 0, 'draw': (match.t1p6postelo - match.t1p6preelo === 0) }"><span>{{ match.t1p6postelo - match.t1p6preelo | number: '.1-2'}}</span></div>
                </div>
                <div class="match-row__team--player" *ngIf="match.t1p7playername !== ''">
                  <div>{{ match.t1p7preelo | number: '.1-2' }}</div>
                  <div class="match-row__team--player__name"><a routerLink="/obj-ranking/{{match.t1p7username}}">{{ match.t1p7playername }}</a></div>
                  <div class="match-row__team--player__score">{{ match.t1p7score }} </div>
                  <div>{{ match.t1p7postelo | number: '.1-2' }}</div>
                  <div [ngClass]="{ 'won': (match.t1p7postelo - match.t1p7preelo) > 0, 'lost': (match.t1p7postelo - match.t1p7preelo) < 0, 'draw': (match.t1p7postelo - match.t1p7preelo === 0) }"><span>{{ match.t1p7postelo - match.t1p7preelo | number: '.1-2'}}</span></div>
                </div>
              </div>
              <div class="match-row__team">
                <div class="teamrounds">{{ match.t2roundswon }}</div>
                <div class="teaminfo">
                  <div>preRANK</div>
                  <div>Name</div>
                  <div>Frags</div>
                  <div>postRANK</div>
                  <div>PC</div>
                </div>
                <div class="match-row__team--player">
                  <div>{{ match.t2p1preelo | number: '.1-2' }}</div>
                  <div class="match-row__team--player__name"><a routerLink="/obj-ranking/{{match.t2p1username}}">{{ match.t2p1playername }}</a></div>
                  <div class="match-row__team--player__score">{{ match.t2p1score }} </div>
                  <div>{{ match.t2p1postelo | number: '.1-2' }}</div>
                  <div [ngClass]="{ 'won': (match.t2p1postelo - match.t2p1preelo) > 0, 'lost': (match.t2p1postelo - match.t2p1preelo) < 0, 'draw': (match.t2p1postelo - match.t2p1preelo === 0) }"><span>{{ match.t2p1postelo - match.t2p1preelo | number: '.1-2'}}</span></div>
                </div>
                <div class="match-row__team--player" *ngIf="match.t2p2username !== ''">
                  <div>{{ match.t2p2preelo | number: '.1-2' }}</div>
                  <div class="match-row__team--player__name"><a routerLink="/obj-ranking/{{match.t2p2username}}">{{ match.t2p2playername }}</a></div>
                  <div class="match-row__team--player__score">{{ match.t2p2score }} </div>
                  <div>{{ match.t2p2postelo | number: '.1-2' }}</div>
                  <div [ngClass]="{ 'won': (match.t2p2postelo - match.t2p2preelo) > 0, 'lost': (match.t2p2postelo - match.t2p2preelo) < 0, 'draw': (match.t2p2postelo - match.t2p2preelo === 0) }"><span>{{ match.t2p2postelo - match.t2p2preelo | number: '.1-2'}}</span></div>
                </div>
                <div class="match-row__team--player" *ngIf="match.t2p3username !== ''">
                  <div>{{ match.t2p3preelo | number: '.1-2' }}</div>
                  <div class="match-row__team--player__name"><a routerLink="/obj-ranking/{{match.t2p3username}}">{{ match.t2p3playername }}</a></div>
                  <div class="match-row__team--player__score">{{ match.t2p3score }} </div>
                  <div>{{ match.t2p3postelo | number: '.1-2' }}</div>
                  <div [ngClass]="{ 'won': (match.t2p3postelo - match.t2p3preelo) > 0, 'lost': (match.t2p3postelo - match.t2p3preelo) < 0, 'draw': (match.t2p3postelo - match.t2p3preelo === 0) }"><span>{{ match.t2p3postelo - match.t2p3preelo | number: '.1-2'}}</span></div>
                </div>
                <div class="match-row__team--player" *ngIf="match.t2p4username !== ''">
                  <div>{{ match.t2p4preelo | number: '.1-2' }}</div>
                  <div class="match-row__team--player__name"><a routerLink="/obj-ranking/{{match.t2p4username}}">{{ match.t2p4playername }}</a></div>
                  <div class="match-row__team--player__score">{{ match.t2p4score }} </div>
                  <div>{{ match.t2p4postelo | number: '.1-2' }}</div>
                  <div [ngClass]="{ 'won': (match.t2p4postelo - match.t2p4preelo) > 0, 'lost': (match.t2p4postelo - match.t2p4preelo) < 0, 'draw': (match.t2p4postelo - match.t2p4preelo === 0) }"><span>{{ match.t2p4postelo - match.t2p4preelo | number: '.1-2'}}</span></div>
                </div>
                <div class="match-row__team--player" *ngIf="match.t2p5username !== ''">
                  <div>{{ match.t2p5preelo | number: '.1-2' }}</div>
                  <div class="match-row__team--player__name"><a routerLink="/obj-ranking/{{match.t2p5username}}">{{ match.t2p5playername }}</a></div>
                  <div class="match-row__team--player__score">{{ match.t2p5score }} </div>
                  <div>{{ match.t2p5postelo | number: '.1-2' }}</div>
                  <div [ngClass]="{ 'won': (match.t2p5postelo - match.t2p5preelo) > 0, 'lost': (match.t2p5postelo - match.t2p5preelo) < 0, 'draw': (match.t2p5postelo - match.t2p5preelo === 0) }"><span>{{ match.t2p5postelo - match.t2p5preelo | number: '.1-2'}}</span></div>
                </div>
                <div class="match-row__team--player" *ngIf="match.t2p6username !== ''">
                  <div>{{ match.t2p6preelo | number: '.1-2' }}</div>
                  <div class="match-row__team--player__name"><a routerLink="/obj-ranking/{{match.t2p6username}}">{{ match.t2p6playername }}</a></div>
                  <div class="match-row__team--player__score">{{ match.t2p6score }} </div>
                  <div>{{ match.t2p6postelo | number: '.1-2' }}</div>
                  <div [ngClass]="{ 'won': (match.t2p6postelo - match.t2p6preelo) > 0, 'lost': (match.t2p6postelo - match.t2p6preelo) < 0, 'draw': (match.t2p6postelo - match.t2p6preelo === 0) }"><span>{{ match.t2p6postelo - match.t2p6preelo | number: '.1-2'}}</span></div>
                </div>
                <div class="match-row__team--player" *ngIf="match.t2p7username !== ''">
                  <div>{{ match.t2p7preelo | number: '.1-2' }}</div>
                  <div class="match-row__team--player__name"><a routerLink="/obj-ranking/{{match.t2p7username}}">{{ match.t2p7playername }}</a></div>
                  <div class="match-row__team--player__score">{{ match.t2p7score }} </div>
                  <div>{{ match.t2p7postelo | number: '.1-2' }}</div>
                  <div [ngClass]="{ 'won': (match.t2p7postelo - match.t2p7preelo) > 0, 'lost': (match.t2p7postelo - match.t2p7preelo) < 0, 'draw': (match.t2p7postelo - match.t2p7preelo === 0) }"><span>{{ match.t2p7postelo - match.t2p7preelo | number: '.1-2'}}</span></div>
                </div>
              </div>
            </div>
            <div style="color: #ffffc8;" class="match-row__date">
             Info: {{ match.info}}  {{ matchVideo }}
            </div>

            <div *ngIf="neMap.length > 0" class="findMaps" [ngStyle]="{'gridTemplateColumns':match.columns}">
              <div *ngFor="let map of neMap, let i = index;" [ngStyle]="{'background-image': 'url(assets/images/maps/' + map + '.jpg)'}" class="singleMap" title="{{map}}">
              </div>
            </div>
            <div *ngIf="neMap.length == 0" class="findMaps"  [ngStyle]="{'gridTemplateColumns':match.columns}">
              <div [ngStyle]="{'background-image': 'url(assets/images/sh_icon.png)'}" class="singleMapUnknown" title="Unkown map">
              </div>
              <!-- <div [ngStyle]="{'background-image': 'url(assets/images/sh_icon.png)'}" class="singleMapUnknown" title="Unkown map">
              </div>                -->
            </div>

            <div *ngIf="matchVideo != ''">
              <div class="thumbnail video-responsive">
                <iframe
                  #frame
                  id="ytplayer-"
                  type="text/html"                  
                  height="450"
                  width="100%"
                  frameborder="0"
                  allowfullscreen
                  srcdoc="
                  <style>
                    *{padding:0;margin:0;overflow:hidden}html,body{height:100%;position:relative, min-width:100%; display:flex; jusitify-conent:center;}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}img{min-width:100%}a{position:relative;display:block;}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black; position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
                  </style>
                  <a href={{match.video}}><img src='{{match.videoImg}}' alt='AltTagContent'><span>▶</span></a>"
                  loading="lazy"
                  src="sanitizer.bypassSecurityTrustResourceUrl(match.video)"
                  >
                </iframe>               
              </div>
            </div>
            <!-- <ng-container>
              <div class="comments-match" style="background-color: #ffffc8; padding: 20px;">
                <form action="" id="comment-{{match.idwar}}">
                  <label for="message-{{match.idwar}}">Message</label>
                  <textarea name="message" id="message-{{match.idwar}}" cols="30" rows="10" required></textarea>
                  <label for="name">Name*</label>
                  <input type="text" name="name" id="name-{{match.idwar}}">
                  <label for="email">Email</label>
                  <input type="text" name="email" id="email-{{match.idwar}}">
                  <button (click)="addComment(match.idwar)" class="btn btn-success" type="button">Submit</button>
                </form>
                <div *ngIf="submitted">
                  <h4>You submitted successfully!</h4>
                  <button class="btn btn-success" (click)="newComment()">Add</button>
                </div>
                <div class="comments-container" id="comments-container-{{match.idwar}}" style="background: red">
                  {{ comment$ | async | json }}
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="allComments$ | async as comments">
              <div *ngFor="let comment of comments" style="background:#fff;">
                {{ comment | json }}
                <div>{{ comment.name | json}}</div>
                <div>{{ comment.email }}</div>
                <div>{{ comment.postedAt }}</div>
                <div>{{ comment.message }}</div>
              </div>
            </ng-container> -->
            <!-- <ng-container *ngIf="singleMatch$ | async as match"> -->
              <!-- <div class="comments-match" style="background-color: #ffffc8; padding: 20px;">
                <form [formGroup]="commentForm" (ngSubmit)="addComment()">
                  <label for="message-{{match.idwar}}">Message</label>
                  <textarea formControlName="message" id="message-{{match.idwar}}" cols="30" rows="10" required></textarea>    

                  <label for="name">Name*</label>
                  <input formControlName="name" type="text" name="name" id="name-{{match.idwar}}" required>
                  <label for="email">Email</label>
                  <input formControlName="email" type="email" name="email" id="email-{{match.idwar}}">
                  <button class="btn btn-success" type="submit" [disabled]="commentForm.invalid">Submit</button>
                </form>
                <div *ngIf="submitted">
                  <h4>You submitted successfully!</h4>
                  <button class="btn btn-success" (click)="newComment">Add</button>
                </div>
                <div class="comments-container" id="comments-container-{{match.idwar}}" style="background: red">
                  <div *ngFor="let comment of comments$ | async">
                    <div class="comment">
                      <p>{{ comment.message }}</p>
                      <p><strong>By:</strong> {{ comment.name }}</p>
                      <p><strong>Email:</strong> {{ comment.email }}</p>
                      <p><strong>Posted at:</strong> {{  comment.postedAt | date: 'dd.MM.yyyy HH:mm'}}</p>
                    </div>
                  </div>
                </div>
              </div> -->
             
              <div class="comments-match">
                <form [formGroup]="commentForm" (ngSubmit)="addComment()">
                  <div class="row">
                    <mat-form-field>
                      <mat-label>Message</mat-label>
                      <textarea formControlName="message" matInput id="message-{{match.idwar}}" required></textarea>
                    </mat-form-field>
                
                    <mat-form-field>
                      <mat-label>Name</mat-label>
                      <input formControlName="name" matInput type="text" name="name" id="name-{{match.idwar}}" required>
                    </mat-form-field>
                
                    <mat-form-field>
                      <mat-label>Email</mat-label>
                      <input formControlName="email" matInput type="email" name="email" id="email-{{match.idwar}}">
                    </mat-form-field>
                  </div>                  
                  <div class="button">
                    <button mat-raised-button color="primary" type="submit" [disabled]="commentForm.invalid">Submit</button>
                  </div>                  
                </form>
              
                <div *ngIf="submitted">
                  <h4>You submitted successfully!</h4>                
                </div>
              
                <div class="comments-container" id="comments-container-{{match.idwar}}">
                  <div *ngFor="let comment of comments$ | async">
                    <div class="comment">
                      <div class="comment-info">
                        <p>By:<strong> {{ comment.name }}</strong></p>
                        <ng-container *ngIf="comment.email">
                          <p>Email:<strong><a href="mailto:{{ comment.email }}">{{ comment.email }}</a></strong></p>
                        </ng-container>
                        <p>Posted at:<strong> {{  comment.postedAt | date: 'dd.MM.yyyy HH:mm'}}</strong></p>
                      </div>
                      <div class="comment-message">
                        {{ comment.message }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- </ng-container> -->
            
           

        </div>

    </ng-container>
  </div>
</section>
<ng-http-loader
    [backdrop]="false"
    [backgroundColor]="'#010141'"
    [debounceDelay]="100"
    [extraDuration]="300"
    [minDuration]="300"
    [opacity]=".6"
    [backdropBackgroundColor]="'#777777'"
    [spinner]="spinkit.skWave">
</ng-http-loader>