<section>
  <app-about-nav></app-about-nav> 
  <div class="container">    
    <!-- <ol>
      <div>
        {{ 'about.date' | translate }}
      </div>
      <div>
        {{ 'about.place' | translate }}
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5177.333866674456!2d19.1697013!3d49.547438!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x332dd4efcd42fd45!2sHala%20Boracza.%20Kupczak%20T.!5e0!3m2!1spl!2spl!4v1665998633418!5m2!1spl!2spl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpodivcy="no-referrer-when-downgrade"></iframe>
      </div>
      <div>
        {{ 'about.price' | translate }}
      </div>
      <div>
        {{ 'about.before' | translate }}
      </div>
    </ol> --> 
    <h2>24.11.2023 - 26.11.2023 Poland (Łódź)</h2>   
    <div class="meet-users2">
      <div>omega</div>
      <div>ZielakPr0</div>
      <div>Dimroy</div>
      <div>don Neo</div>
      <div>bAtOn</div>
      <div>-Illu$ioN-</div>
      <div>Tomas</div>
      <div>Mr.Wiggles</div>
      <div>4f-mph</div>
      <div>gRaBaRz</div>
    </div>
    <img src="assets/images/20231126_121132.jpg" alt="">
    <hr>
    <hr>
    <h2>18.11.2022 - 20.11.2022 Poland (Żabnica)</h2> 
    <div class="meet-users">
      <div>gRaBaRz</div>
      <div>ZielakPr0</div>
      <div>kurier</div>
      <div>Neo</div>
      <div>omega</div>
      <div>-Illu$ioN-</div>
      <div>bAtOn</div>
      <div>GlowaF1!</div>
    </div>
    <video autoplay [muted]="true" loop id="myVideo1" style="max-width:100%">      
      <source src="assets/video/5.mp4" type="video/mp4">      
    </video> 
  </div>
</section>
