$even-color1: rgba(64, 65, 95, 0.7);
$even-color2: rgba(47, 48, 96, 0.7);
$odd-color1: rgba(74, 75, 105, 0.7);
$odd-color2: rgba(57, 58, 106, 0.7);

section {
  // background-color: #010141;
  background-image: url('/assets/images/squad.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  padding-top: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;  

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(64, 65, 95, .5) 25%, rgba(47, 48, 96, .5) 25%, rgba(47, 48, 96, .5) 50%, rgba(64, 65, 95, .5) 50%, rgba(64, 65, 95, .5) 75%, rgba(47, 48, 96, .5) 75%, rgba(47, 48, 96, .5) 100%);
    background-size: 4px 4px;
  }
  
  .user {
    position: absolute; 
    top: 100px;
    right: 100px; 
    border: 2px solid red; 
    padding: 15px; 
    background-color: #fff;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5), /* Ostry cień po prawej */
              4px 4px 0 rgba(0, 0, 0, 0.5); /* Ostry cień na dole */

    img {
      border-radius: 50%;
    }    
  }
}

.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 1300px;
  position: relative;
 
  form {
    background-color: #fff;
    border-radius: 10px;

    .teams {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 50px;
      gap: 30px;

      .team {
        .add-player {
          margin-bottom: 10px;
        }
      }
    }  
    
    .submit {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 150px;
      padding: 10px;
      margin-right: 10px;
    }
  }

  .mixes {
    margin-top: 15px;
    background-color: #fff;
    // padding: 15px;
    border-radius: 10px;
    // background-image: linear-gradient(0deg, rgba(64, 65, 95, .5) 25%, rgba(47, 48, 96, .5) 25%, rgba(47, 48, 96, .5) 50%, rgba(64, 65, 95, .5) 50%, rgba(64, 65, 95, .5) 75%, rgba(47, 48, 96, .5) 75%, rgba(47, 48, 96, .5) 100%);
    // background-size: 4px 4px;

    h3 {
      padding: 10px;
    }

    .selected-cont {
      >:nth-child(even) {
        background-color: darken(lightgray, 15%);
      }

      >:nth-child(odd) {
          background-color: lightgray;
      }    
      
      .selected {
        // border-radius: 10px;
      }
    }

    .selectedPlayer {
      padding: 10px 15px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
      // display: grid;
      // grid-template-columns: 50px 1fr 150px;

      .mix-cont {
        display: flex;
        gap: 5px;
      }


      .number {
        background-color: #000;
        color: #fff;
        padding: 5px 10px;
        border-radius: 20px;
        margin-right: 5px;
      
      }

      .mix {        
        display: flex;
        flex-wrap: wrap;

        .createdAt {
          background-color: red;
          font-weight: 700;
          border-radius: 20px;
          padding: 5px 10px;
          color: #fff;
          margin-right: 5px;
        }
      }

      .addToForm {
        column-span: 2;
      }

      .teamOne {
        background-color: darken(#1f203c, 10%);
        padding: 5px;
      }

      .teamTwo {
        background-color: lighten(#292b4b, 30%);
        padding: 5px;
      }

      .player {
        display: flex;
        align-items: center;
        // margin-right: 5px;
        padding: 5px 10px;
        background-image: linear-gradient(0deg, rgba(64, 65, 95, 0.7) 25%, rgba(47, 48, 96, 0.7) 25%, rgba(47, 48, 96, 0.7) 50%, rgba(64, 65, 95, 0.7) 50%, rgba(64, 65, 95, 0.7) 75%, rgba(47, 48, 96, 0.7) 75%, rgba(47, 48, 96, 0.7) 100%);
        background-size: 4px 4px;
        border-radius: 20px;
        color: #fff;
        
        span {
          margin-right: 5px;
          display: inline-block;
        }

        img {
          width: 20px;
          border: 1px solid #000;
          margin-right: 5px;
        }
      }
    }
  }
}

.role {
  position: absolute;
  bottom: -5px;
  right: -60px;
  background-color: #424549;
  border-radius: 10px;
  padding: 5px 10px;
  color: #ffb703;
  font-size: 18px;
  border: 2px solid #ffb703;

  span {
    font-weight: 700;
    color: #ffb703;
  }
}