section {
  // background-color: #010141;
  background-image: url('/assets/images/menu_16x9.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 80px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(64, 65, 95, .5) 25%, rgba(47, 48, 96, .5) 25%, rgba(47, 48, 96, .5) 50%, rgba(64, 65, 95, .5) 50%, rgba(64, 65, 95, .5) 75%, rgba(47, 48, 96, .5) 75%, rgba(47, 48, 96, .5) 100%);
    background-size: 4px 4px;
  }
}

.container {  
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-size: 1rem;

  .cont {
    position: relative;
    box-shadow: 0 20px 20px #010141;

    .more-less {
      padding: 10px 15px;

      label {
        color: #ffffc8;
      }

      select {
        margin-left: 5px;
      }
    }

    // @media screen and (min-width: 1295px){
    //   .info {
    //     position: absolute;
    //     top: 50px;
    //     right: -250px;
    //     padding: 20px;
    //     border: 3px dashed red;
    //     background-color: #40415f;
    //     color: #ffffc0;
    //     max-width: 200px;
  
    //     &:before {
    //       position: absolute;
    //       top: -62px;
    //       width: 2px;
    //       background-color: red;
    //       height: 62px;
    //       content: ''; 
    //       left: 50%;
    //       right: 50%; 
    //     }
  
    //     .info-title {
    //       font-weight: 700;
    //       font-style: italic;
    //       margin-bottom: 5px;
    //     }
    //   }
    // }    
  }
}

.container-bottom {  
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  font-size: 1rem;
  align-items: center;
  flex-direction: column;

  .legend {
    background-color: #40415f;
    padding: 10px;
    color: #ffffc0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    h3 {
      margin-right: 5px;
    }
    // .cyan {
    //   background-color: darkcyan;
    //   width: 50px;
    //   height: 20px;
    // }

    // .cyan-info {
    //   padding-left: 5px;
    //   a {
    //     font-weight: 700;
    //     text-decoration: underline;
  
    //   }
    // }    

    .name {
      display: flex;
      align-items: center;     

      div {
        margin-right: 5px;
      }

      span {
        margin-right: 5px;
      }
    }
  }
}


.ranking-head, .character-card {
  display: grid;
  grid-template-columns: 70px 1.5fr 40px 1fr 1fr 1fr 1fr 40px;
  grid-template-rows: auto; 
  color: #ffffc0;

  @media screen and (max-width: 500px){
    grid-template-columns: 0.5fr 1fr 30px 1fr 0.5fr 0.5fr 1fr;    
    .act {
      :last-child {
        display: none;
      }
    }    
  }  

  @media screen and (max-width: 800px){
    grid-template-columns: 0.5fr 1fr 30px 1fr 0.5fr 0.5fr 1fr 0.5fr;
  }

  >div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #010141;
    padding: 5px;
  }

  >:nth-child(n){    
    border-right: 1px solid #010141;
    padding: 5px 0;
    font-weight: 600;
  }

  :last-child {
    border: none;
  }  
}

.ranking-head {
  text-align: center;
  font-size: 22px;  
  background-color: #2f3060;  
  border-bottom: 1px solid #010141;  

  div {
    @media screen and (max-width: 800px){
      writing-mode: vertical-lr;
    }
  }

  .ranking, .fpw, .wars {
    cursor: pointer;
    position: relative;
    transition: all .3s;

    fa-icon {
      margin-left: 5px;
      display: flex;
    }

    &:hover {
      color: red;
    }
  }
}

a {
  color: #ffffc0;
  text-decoration: none;
  transition: all .3s;

  &:hover {
    color: red;
  }
}

.character-card {
  background-color: #40415f;  
  transition: .4s all;

  .playername-cont {
    display: flex;
    flex-direction: column;
    z-index: 3;

    .streak-small {
      color: lightgray;
      font-size: 12px;
      font-style: italic;
      margin-bottom: 3px;

      span {
        color: gray;
      }
    }
  }

  &:nth-child(-n+3){
    .playername {
      // letter-spacing: 3px;
    }
  }

  &:first-child {
    .playername {
      color: #C9B037; 
      font-size: 20px;
      transition: all .3s;
      position: relative;
      &:hover {
      //   letter-spacing: 3px;       
      //     text-shadow:   
      // // 0 0 7px #C9B037,
      // // 0 0 10px #C9B037,
      // // 0 0 21px #fff,
      // // 0 0 42px #0fa,
      // // 0 0 82px #0fa,
      // // 0 0 92px #0fa,
      // // 0 0 102px #0fa,
      // // 0 0 151px #0fa;
      // 0 0 3px #C9B037,
      // 0 0 5px #C9B037,
      // 0 0 11px #fff,
      // 0 0 21px #C9B037,
      // 0 0 41px #C9B037,
      // 0 0 46px #C9B037,
      // 0 0 51px #C9B037,
      // 0 0 75px #C9B037;
    
      }    
      // &:before {
      //   content: "";
      //   position: absolute;
      //   top: 50%;
      //   left: 0;
      //   width: 100%;
      //   height: 0;
      //   background-color: #C9B037; /* Zmień na preferowany kolor */
      //   z-index: -1;
      //   transition: height 0.3s;
      // }
      // &:hover::before {
      //   height: 100%;
      // }
    }
  }

  &:nth-child(2){
    .playername {
      color: #D7D7D7;
      font-size: 20px;
      transition: all .3s;
      // &:hover {
      //   letter-spacing: 3px;        
      //   text-shadow:   
      // 0 0 7px #D7D7D7,
      // 0 0 10px #D7D7D7,
      // 0 0 21px #fff,
      // 0 0 42px #D7D7D7,
      // 0 0 82px #D7D7D7,
      // 0 0 92px #D7D7D7,
      // 0 0 102px #D7D7D7,
      // 0 0 151px #D7D7D7;
      // }      
    }
  }

  &:nth-child(3){
    .playername {
      color: #AD8A56;
      font-size: 20px;
      transition: all .3s;
      // &:hover {
      //   letter-spacing: 3px;        
      //   text-shadow:   
      // 0 0 7px #AD8A56,
      // 0 0 10px #AD8A56,
      // 0 0 21px #fff,
      // 0 0 42px #AD8A56,
      // 0 0 82px #AD8A56,
      // 0 0 92px #AD8A56,
      // 0 0 102px #AD8A56,
      // 0 0 151px #AD8A56;
      // }      
    }
  }

  &:hover {
    box-shadow: inset 0 0 10px #39533C;
  }

  .item-block {
    padding: 5px 3px;
    position: relative;   
    font-size: 18px;
    z-index: 4;

    @media screen and (max-width: 900px){
      flex-direction: column;
    }    

    @media screen and (max-width: 800px){
      font-size:14px;      
    }

    .season-wars {
      font-size: 12px;
      font-style: italic;
      color: gray;

      span {
        font-weight: 700;
        // text-decoration: underline;
        font-size: 15px;     
        margin-left: 5px;                 
      }
    }
  }

  .item {
    padding: 5px 3px;
    position: relative;   
    font-size: 18px;
    z-index: 3;
    

    @media screen and (max-width: 800px){
      font-size:14px;
      justify-content: flex-start;
    }
    
    a {
      position: relative;      
    }

    img {
      margin: 5px;
      width: 22px;
      border: 1px solid #000;
    }    
      
    .down-streak {
      position: absolute;
      right: -5px;
      top: 10px;  
      outline:4px red solid;
      outline-offset:-6px;
    
      &:after {
        position: absolute;    
        margin-left: 2px;
        content: "";
        background-image: url('/assets/images/downrate.gif');
        width: 10px;
        height: 5px;
        z-index: 9;
      }

      [data-title]:hover:before {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
      }
      /* box for title text */
      [data-title]:before {
        content: attr(data-title);
        /* position for title view box */
        position: absolute;
        // bottom: -1.6em;  	
        // left: 120%;
        top: -100%;
        left: 0;
        z-index: 99999;
        // visibility: hidden;
        visibility: visible;
        font-weight: 400 !important;
        /* optional */
        white-space: nowrap;
        /* stilization */
        background-color: red;
        color: #111;
        font-size: 150%;
        padding: 1px 5px 2px 5px;
        box-shadow: 1px 1px 3px #222222;
        opacity: 0;
        border: 1px solid #111111;
        margin-bottom: 5px;
        line-height: 1.5em;
        max-width: 250px;
        display: flex;
        flex-wrap: wrap;
      }
      [data-title] {
        position: relative;
      }
    } 
    
    .up-streak {
      position: absolute;  
      right: -2px;  
      top: 10px;    
      outline:4px green solid;  
      outline-offset:-6px; 
    
      &:after {    
        position: absolute;     
        margin-left: 5px;    
        content: " ";    
        background-image: url("/assets/images/uprate.gif");    
        width: 10px;    
        height: 5px; 
        z-index: 9; 
      }
      [data-title]:hover:before {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
      }
      /* box for title text */
      [data-title]:before {
        content: attr(data-title);
        /* position for title view box */
        position: absolute;
        top: -100%; 	
        left: 0;
        z-index: 99999;
        font-weight: 400 !important;
        // visibility: hidden;
        visibility: visible;
        /* optional */
        white-space: nowrap;
        /* stilization */
        background-color: #00FF00;
        color: #111;
        font-size: 150%;
        padding: 1px 5px 2px 5px;
        box-shadow: 1px 1px 3px #222222;
        opacity: 0;
        border: 1px solid #111111;
      }
      [data-title] {
        position: relative;
      }
    }
    
    .draw-streak {
      position: absolute;  
      right: -2px;  
      top: 10px;    
      outline:4px green solid;  
      outline-offset:-6px;  
    
      &:after {    
        position: absolute;        
        margin-left: 5px;    
        content: " ";    
        background-color: #000;    
        width: 10px;    
        height: 4px;  
        z-index: 9;
      }
      [data-title]:hover:before {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
      }
      /* box for title text */
      [data-title]:before {
        content: attr(data-title);
        /* position for title view box */
        position: absolute;
        // bottom: -1.6em;  	
        // left: 120%;
        top: -100%;
        left: 0;
        z-index: 99999;
        // visibility: hidden;
        font-weight: 400 !important;
        visibility: visible;
        /* optional */
        white-space: nowrap;
        /* stilization */
        background-color: gray;
        color: #111;
        font-size: 150%;
        padding: 1px 5px 2px 5px;
        box-shadow: 1px 1px 3px #222222;
        opacity: 0;
        border: 1px solid #111111;
      }
      [data-title] {
        position: relative;
      }
    }
  } 

  .name-blur {
    filter: blur(5px);
  }
}

.act-month {
  width: 21px;
  height: 21px;
  margin: 2px;  
}

.green0 {
  width: 21px;
  height: 21px;
  background-color: #003200;
  margin: 2px;
  box-shadow: inset 0 0 5px #000;
}

.green1_5 {
  width: 21px;
  height: 21px;
  background-color: #050;
  margin: 2px;
}

.green6_10 {
  width: 21px;
  height: 21px;
  background-color: #00a100;
  margin: 2px;
}

.green11_20 {
  width: 21px;
  height: 21px;
  background-color: #8aff1a;
  margin: 2px;
}

.green21_40 {
  width: 21px;
  height: 21px;
  background-color: #ffff00;
  margin: 2px;
}

.green41_70 {
  width: 21px;
  height: 21px;
  background-color: orange;
  margin: 2px;
}
.green71 {
  width: 21px;
  height: 21px;
  background-color: red;
  margin: 2px;
}

.moh {
  background-image: url('/assets/images/medal_of_h.png');  
  width: 21px;
  height: 20px;
  margin-right: 2px; 
  background-size: cover;
  background-repeat: no-repeat;
}

.players-list {
  // .cyan {
  //   background-color: darkcyan !important;
  // }

  >:nth-child(even){
    background-color: #2f3060;
  }

  >:nth-child(odd){
    background-color: #40415f;
  }
 
  >:nth-child(-n+3) a{
    font-weight: 700;
  }

  :nth-child(1){
    font-weight: 400;
    :nth-child(2) {
      a div {
        &:before {
          position: absolute;
          right: -13px;
          top: -5px;
          content: '';
          background-image: url('/assets/images/ladder1.gif');          
          width: 10px;
          height: 13px;
          z-index: 9;
        }

        &:after {
          right: -27px !important;
        }
      }
    }
  }

  :nth-child(2){
    :nth-child(2) {
      a div {
        &:before {
          position: absolute;
          right: -13px;
          top: -5px;
          content: '';
          background-image: url('/assets/images/ladder2.gif');          
          width: 10px;
          height: 13px;
          z-index: 9;
        }

        &:after {
          right: -27px !important;
        }
      }
    }
  }

  :nth-child(3){
    :nth-child(2) {
      a div {
        &:before {
          position: absolute;
          right: -13px;
          top: -5px;
          content: '';
          background-image: url('/assets/images/ladder3.gif');          
          width: 10px;
          height: 13px;
          z-index: 9;
        }

        &:after {
          right: -27px !important;
        }
      }
    }
  } 

  .fpw div, .wars div {
    font-weight: 700;
  }

  a {
    display: flex;
  }

  .number {    
    color: #010141;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin-left: 5px;  
  }

  .number1 {
    background-color: #C9B037;
  }

  .number2 {
    background-color: #D7D7D7;
  }

  .number3 {
    background-color: #AD8A56;
  }
}



.character-card {
  border-bottom: 1px solid #010141;  

  &:last-child {
    border-right: none;
  }  
}

@media screen and (max-width: 500px){
  .legend-year {
    display: none !important;
  }
}

.s1wars {
  font-size: 14px;
  font-weight: 400;
  transition: .3 all;
  color: gray;

  &:hover {
    color: red;
    cursor: pointer;
  }
}

.down-streak-pre {
  position: relative; 

  &:after {
    position: absolute;  
    left: -20px;
    top: 10px;      
    content: "";
    background-image: url('/assets/images/downrate.gif');
    width: 10px;
    height: 5px;
    z-index: 9;
    @media screen and (max-width: 800px){
      display: none;
    }
  }
}

.up-streak-pre {
  position: relative; 

  &:after {    
    position: absolute;  
    left: -20px;
    top: 10px;      
    content: "";
    background-image: url("/assets/images/uprate.gif");    
    width: 10px;    
    height: 5px; 
    z-index: 9; 
    @media screen and (max-width: 800px){
      display: none;
    }  
  }
}

.draw-streak-pre {
  position: relative;
 
  &:after {    
    position: absolute;  
    left: -20px;
    top: 10px;      
    content: "";  
    background-color: #000;    
    width: 10px;    
    height: 4px;  
    z-index: 9;
    @media screen and (max-width: 800px){
      display: none;
    } 
  
  }
}

.down-streak-post {
  position: relative;  

  &:after {
    position: absolute;  
    right: -20px;
    top: 7px;      
    content: "";
    background-image: url('/assets/images/downrate.gif');
    width: 10px;
    height: 5px;
    z-index: 9;
    @media screen and (max-width: 800px){
      display: none;
    }
  }
}

.up-streak-post {
  position: relative;    

  &:after {    
    position: absolute;  
    right: -20px;
    top: 7px;      
    content: "";
    background-image: url("/assets/images/uprate.gif");    
    width: 10px;    
    height: 5px; 
    z-index: 9; 
    @media screen and (max-width: 800px){
      display: none;
    } 
  }
}

.draw-streak-post {  
  position: relative;  
  
  &:after {    
    position: absolute;  
    right: -20px;
    top: 7px;      
    content: "";  
    background-color: #000;    
    width: 10px;    
    height: 4px;  
    z-index: 9;
    @media screen and (max-width: 800px){
      display: none;
    }
  }
}

.big-name {       
  // bottom: 5%;
  // position: absolute;
  // left: 50%;
  // transform: translate(-50%, 0);
  // right: 5%;
  margin: 0 auto;
  font-size: 200px;
//     writing-mode: tb-rl;
//     transform: rotate(
// 180deg);
  background-color: black;
  color: transparent;
  text-shadow: 0px 10px 30px #ffffc0;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  opacity: .3;

  @media screen and (max-width: 700px){
    font-size: 50px;
  }
}

// .over1000 {
//   position: relative;
//   background: rgb(255,255,255);
//   background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(173,138,86,1) 50%, rgba(173,138,86,1) 100%);

//   &:after {
//     position: absolute;
//     content: 'mpw';
//     bottom: 2px;
//     right: 5px;
//     font-size: 12px;
//     color: red;
//   }
// }

.brown {
  // background-color: #AD8A56;
  background: linear-gradient(45deg, #AD8A56, #AD8A56 calc(100% - 10px), transparent calc(100% - 10px), transparent);
  z-index: 2;

  &:after {
    position: absolute;
    content: 'BRONZE';
    left: 0;
    bottom: -3px;
    font-size: 12px;
    font-weight: 700;
    color:#010141;
    font-style: italic;
  }
}

.silver {
  // background-color: #d7d7d7;
  background: linear-gradient(45deg, #d7d7d7, #d7d7d7 calc(100% - 10px), transparent calc(100% - 10px), transparent);
  z-index: 2;
  &:after {
    position: absolute;
    content: 'SILVER';
    left: 0;
    bottom: -3px;
    font-size: 12px;
    font-weight: 700;
    color:#010141;
    font-style: italic;
  }
}

.gold {
  // background-color: #C9B037;
  background: linear-gradient(45deg, #C9B037, #C9B037 calc(100% - 10px), transparent calc(100% - 10px), transparent);
  z-index: 2;
  position: relative;
  &:after {
    position: absolute;
    content: 'GOLD';
    left: 0;
    bottom: -3px;
    font-size: 12px;
    font-weight: 700;
    color:#010141;
    font-style: italic;
  }
}

.bar-legend {
  width: 40px;
  height: 10px;
  margin-left: 5px;
}

.wars-bar {
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  // background-color: lightgray;
}

.goldie {  
  position: relative;
  transition: all .3s;
  &:after {
    position: absolute;    
    content: '';
    left: 0;
    top: 0px;
    background: linear-gradient(45deg, #C9B037, #C9B037 calc(100% - 10px), transparent calc(100% - 10px), transparent);
    box-shadow: 0px 0px 10px #C9B037;    
    opacity: .3;
    width: 100%;
    height: 100%;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #C9B037; /* Zmień na preferowany kolor */
    z-index: -1;
    transition: height 0.3s;
  }
  &:hover::before {
    height: 100%;
  }
}
.silverie {  
  position: relative;
  &:after {
    position: absolute;    
    content: '';
    left: 0;
    top: 0px;
    background: linear-gradient(45deg, #d7d7d7, #d7d7d7 calc(100% - 10px), transparent calc(100% - 10px), transparent);
    box-shadow: 0px 0px 10px #d7d7d7; 
    opacity: .3;
    width: 100%;
    height: 100%;
  }
}
.brownie {  
  position: relative;
  &:after {
    position: absolute;    
    content: '';
    left: 0;
    top: 0px;
    background: linear-gradient(45deg, #AD8A56, #AD8A56 calc(100% - 10px), transparent calc(100% - 10px), transparent);  
    box-shadow: 0px 0px 10px #AD8A56; 
    opacity: .1;
    width: 100%;
    height: 100%;
  }
}