section {
  // background-color: #010141;
  background-image: url('/assets/images/menu_16x9.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 80px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(64, 65, 95, .5) 25%, rgba(47, 48, 96, .5) 25%, rgba(47, 48, 96, .5) 50%, rgba(64, 65, 95, .5) 50%, rgba(64, 65, 95, .5) 75%, rgba(47, 48, 96, .5) 75%, rgba(47, 48, 96, .5) 100%);
    background-size: 4px 4px;
  }
}

.container {  
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-size: 1rem;

  .cont {
    position: relative;
    box-shadow: 0 20px 20px #010141;

    .more-less {
      padding: 10px 15px;

      label {
        color: #ffffc8;
      }

      select {
        margin-left: 5px;
      }
    }

    // @media screen and (min-width: 1295px){
    //   .info {
    //     position: absolute;
    //     top: 50px;
    //     right: -250px;
    //     padding: 20px;
    //     border: 3px dashed red;
    //     background-color: #40415f;
    //     color: #ffffc0;
    //     max-width: 200px;
  
    //     &:before {
    //       position: absolute;
    //       top: -62px;
    //       width: 2px;
    //       background-color: red;
    //       height: 62px;
    //       content: ''; 
    //       left: 50%;
    //       right: 50%; 
    //     }
  
    //     .info-title {
    //       font-weight: 700;
    //       font-style: italic;
    //       margin-bottom: 5px;
    //     }
    //   }
    // }    
  }
}

.container-bottom {  
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  font-size: 1rem;
  align-items: center;
  flex-direction: column;

  .legend {
    background-color: #40415f;
    padding: 10px;
    color: #ffffc0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    // .cyan {
    //   background-color: darkcyan;
    //   width: 50px;
    //   height: 20px;
    // }

    // .cyan-info {
    //   padding-left: 5px;
    //   a {
    //     font-weight: 700;
    //     text-decoration: underline;
  
    //   }
    // }    

    .name {
      display: flex;
      align-items: center;     

      div {
        margin-right: 5px;
      }

      span {
        margin-right: 5px;
      }
    }
  }
}


.ranking-head, .character-card {
  display: grid;
  grid-template-columns: 70px 1.5fr 40px 1fr 1fr 1fr 1fr 40px;
  grid-template-rows: auto; 
  color: #ffffc0;

  @media screen and (max-width: 500px){
    grid-template-columns: 0.5fr 1fr 30px 1fr 0.5fr 0.5fr 1fr;    
    .act {
      :last-child {
        display: none;
      }
    }    
  }  

  @media screen and (max-width: 800px){
    grid-template-columns: 0.5fr 1fr 30px 1fr 0.5fr 0.5fr 1fr 0.5fr;
  }

  >div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #010141;
    padding: 5px;
  }

  >:nth-child(n){    
    border-right: 1px solid #010141;
    padding: 5px 0;
    font-weight: 600;
  }

  :last-child {
    border: none;
  }  
}

.ranking-head {
  text-align: center;
  font-size: 22px;  
  background-color: #2f3060;  
  border-bottom: 1px solid #010141;  

  div {
    @media screen and (max-width: 800px){
      writing-mode: vertical-lr;
    }
  }

  .ranking, .fpw, .wars {
    cursor: pointer;
    position: relative;
    transition: all .3s;

    fa-icon {
      margin-left: 5px;
      display: flex;
    }

    &:hover {
      color: red;
    }
  }
}

a {
  color: #ffffc0;
  text-decoration: none;
  transition: all .3s;

  &:hover {
    color: red;
  }
}

.character-card {
  background-color: #40415f;  
  transition: .4s all;

  &:hover {
    box-shadow: inset 0 0 10px #39533C;
  }

  .item-block {
    padding: 5px 3px;
    position: relative;   
    font-size: 18px;

    @media screen and (max-width: 900px){
      flex-direction: column;
    }    

    @media screen and (max-width: 800px){
      font-size:14px;      
    }

    .season-wars {
      font-size: 12px;
      font-style: italic;
      color: gray;

      span {
        font-weight: 700;
        text-decoration: underline;
        font-size: 15px;     
        margin-left: 5px;                 
      }
    }
  }

  .item {
    padding: 5px 3px;
    position: relative;   
    font-size: 18px;

    @media screen and (max-width: 800px){
      font-size:14px;
      justify-content: flex-start;
    }
    
    a {
      position: relative;      
    }

    img {
      margin: 5px;
      border: 1px solid #000;
    }    
      
    .down-streak {
      position: absolute;
      right: -5px;
      top: 10px;  
      outline:4px red solid;
      outline-offset:-6px;
    
      &:after {
        position: absolute;    
        margin-left: 2px;
        content: "";
        background-image: url('/assets/images/downrate.gif');
        width: 10px;
        height: 5px;
        z-index: 9;
      }

      [data-title]:hover:before {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
      }
      /* box for title text */
      [data-title]:before {
        content: attr(data-title);
        /* position for title view box */
        position: absolute;
        // bottom: -1.6em;  	
        // left: 120%;
        top: -100%;
        left: 0;
        z-index: 99999;
        // visibility: hidden;
        visibility: visible;
        font-weight: 400 !important;
        /* optional */
        white-space: nowrap;
        /* stilization */
        background-color: red;
        color: #111;
        font-size: 150%;
        padding: 1px 5px 2px 5px;
        box-shadow: 1px 1px 3px #222222;
        opacity: 0;
        border: 1px solid #111111;
      }
      [data-title] {
        position: relative;
      }
    } 
    
    .up-streak {
      position: absolute;  
      right: -2px;  
      top: 10px;    
      outline:4px green solid;  
      outline-offset:-6px; 
    
      &:after {    
        position: absolute;     
        margin-left: 5px;    
        content: " ";    
        background-image: url("/assets/images/uprate.gif");    
        width: 10px;    
        height: 5px; 
        z-index: 9; 
      }
      [data-title]:hover:before {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
      }
      /* box for title text */
      [data-title]:before {
        content: attr(data-title);
        /* position for title view box */
        position: absolute;
        top: -100%; 	
        left: 0;
        z-index: 99999;
        font-weight: 400 !important;
        // visibility: hidden;
        visibility: visible;
        /* optional */
        white-space: nowrap;
        /* stilization */
        background-color: #00FF00;
        color: #111;
        font-size: 150%;
        padding: 1px 5px 2px 5px;
        box-shadow: 1px 1px 3px #222222;
        opacity: 0;
        border: 1px solid #111111;
      }
      [data-title] {
        position: relative;
      }
    }
    
    .draw-streak {
      position: absolute;  
      right: -2px;  
      top: 10px;    
      outline:4px green solid;  
      outline-offset:-6px;  
    
      &:after {    
        position: absolute;        
        margin-left: 5px;    
        content: " ";    
        background-color: #000;    
        width: 10px;    
        height: 4px;  
        z-index: 9;
      }
      [data-title]:hover:before {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
      }
      /* box for title text */
      [data-title]:before {
        content: attr(data-title);
        /* position for title view box */
        position: absolute;
        // bottom: -1.6em;  	
        // left: 120%;
        top: -100%;
        left: 0;
        z-index: 99999;
        // visibility: hidden;
        font-weight: 400 !important;
        visibility: visible;
        /* optional */
        white-space: nowrap;
        /* stilization */
        background-color: gray;
        color: #111;
        font-size: 150%;
        padding: 1px 5px 2px 5px;
        box-shadow: 1px 1px 3px #222222;
        opacity: 0;
        border: 1px solid #111111;
      }
      [data-title] {
        position: relative;
      }
    }
  } 

  .name-blur {
    filter: blur(5px);
  }
}

.green0 {
  width: 21px;
  height: 21px;
  background-color: #003200;
  margin: 2px;
  box-shadow: inset 0 0 5px #000;
}

.green1_5 {
  width: 21px;
  height: 21px;
  background-color: #050;
  margin: 2px;
}

.green6_10 {
  width: 21px;
  height: 21px;
  background-color: #00a100;
  margin: 2px;
}

.green11_20 {
  width: 21px;
  height: 21px;
  background-color: #8aff1a;
  margin: 2px;
}

.green21_40 {
  width: 21px;
  height: 21px;
  background-color: #ffff00;
  margin: 2px;
}

.green41_70 {
  width: 21px;
  height: 21px;
  background-color: orange;
  margin: 2px;
}
.green71 {
  width: 21px;
  height: 21px;
  background-color: red;
  margin: 2px;
}

.moh {
  background-image: url('/assets/images/medal_of_h.png');  
  width: 21px;
  height: 20px;
  margin-right: 2px; 
  background-size: cover;
  background-repeat: no-repeat;
}

.players-list {
  // .cyan {
  //   background-color: darkcyan !important;
  // }

  >:nth-child(even){
    background-color: #2f3060;
  }

  >:nth-child(odd){
    background-color: #40415f;
  }

  :nth-child(1){
    :nth-child(2) {
      a div {
        &:before {
          position: absolute;
          right: -13px;
          top: -5px;
          content: '';
          background-image: url('/assets/images/ladder1.gif');          
          width: 10px;
          height: 13px;
          z-index: 9;
        }

        &:after {
          right: -27px !important;
        }
      }
    }
  }

  :nth-child(2){
    :nth-child(2) {
      a div {
        &:before {
          position: absolute;
          right: -13px;
          top: -5px;
          content: '';
          background-image: url('/assets/images/ladder2.gif');          
          width: 10px;
          height: 13px;
          z-index: 9;
        }

        &:after {
          right: -27px !important;
        }
      }
    }
  }

  :nth-child(3){
    :nth-child(2) {
      a div {
        &:before {
          position: absolute;
          right: -13px;
          top: -5px;
          content: '';
          background-image: url('/assets/images/ladder3.gif');          
          width: 10px;
          height: 13px;
          z-index: 9;
        }

        &:after {
          right: -27px !important;
        }
      }
    }
  } 
}

.character-card {
  border-bottom: 1px solid #010141;  

  &:last-child {
    border-right: none;
  }  
}

@media screen and (max-width: 500px){
  .legend-year {
    display: none !important;
  }
}

.s1wars {
  font-size: 14px;
  font-weight: 400;
  transition: .3 all;
  color: gray;

  &:hover {
    color: red;
    cursor: pointer;
  }
}

.down-streak-pre {
  position: relative; 

  &:after {
    position: absolute;  
    left: -20px;
    top: 10px;      
    content: "";
    background-image: url('/assets/images/downrate.gif');
    width: 10px;
    height: 5px;
    z-index: 9;
    @media screen and (max-width: 800px){
      display: none;
    }
  }
}

.up-streak-pre {
  position: relative; 

  &:after {    
    position: absolute;  
    left: -20px;
    top: 10px;      
    content: "";
    background-image: url("/assets/images/uprate.gif");    
    width: 10px;    
    height: 5px; 
    z-index: 9; 
    @media screen and (max-width: 800px){
      display: none;
    }  
  }
}

.draw-streak-pre {
  position: relative;
 
  &:after {    
    position: absolute;  
    left: -20px;
    top: 10px;      
    content: "";  
    background-color: #000;    
    width: 10px;    
    height: 4px;  
    z-index: 9;
    @media screen and (max-width: 800px){
      display: none;
    } 
  
  }
}

.down-streak-post {
  position: relative;  

  &:after {
    position: absolute;  
    right: -20px;
    top: 7px;      
    content: "";
    background-image: url('/assets/images/downrate.gif');
    width: 10px;
    height: 5px;
    z-index: 9;
    @media screen and (max-width: 800px){
      display: none;
    }
  }
}

.up-streak-post {
  position: relative;    

  &:after {    
    position: absolute;  
    right: -20px;
    top: 7px;      
    content: "";
    background-image: url("/assets/images/uprate.gif");    
    width: 10px;    
    height: 5px; 
    z-index: 9; 
    @media screen and (max-width: 800px){
      display: none;
    } 
  }
}

.draw-streak-post {  
  position: relative;  
  
  &:after {    
    position: absolute;  
    right: -20px;
    top: 7px;      
    content: "";  
    background-color: #000;    
    width: 10px;    
    height: 4px;  
    z-index: 9;
    @media screen and (max-width: 800px){
      display: none;
    }
  }
}