section {
  // background-color: #010141;
  background-image: url('/assets/images/menu_16x9.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 80px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(64, 65, 95, .5) 25%, rgba(47, 48, 96, .5) 25%, rgba(47, 48, 96, .5) 50%, rgba(64, 65, 95, .5) 50%, rgba(64, 65, 95, .5) 75%, rgba(47, 48, 96, .5) 75%, rgba(47, 48, 96, .5) 100%);
    background-size: 4px 4px;
  }
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-size: 1rem;

  .cont {
    position: relative;
    box-shadow: 0 20px 20px #010141;

    @media screen and (min-width: 1024px){
      min-width: 950px;
    }

    .more-less {
      padding: 10px 15px;

      label {
        color: #ffffc8;
      }

      select {
        margin-left: 5px;
      }
    }

    // @media screen and (min-width: 1295px){
    //   .info {
    //     position: absolute;
    //     top: 50px;
    //     right: -250px;
    //     padding: 20px;
    //     border: 3px dashed red;
    //     background-color: #40415f;
    //     color: #ffffc0;
    //     max-width: 200px;

    //     &:before {
    //       position: absolute;
    //       top: -62px;
    //       width: 2px;
    //       background-color: red;
    //       height: 62px;
    //       content: '';
    //       left: 50%;
    //       right: 50%;
    //     }

    //     .info-title {
    //       font-weight: 700;
    //       font-style: italic;
    //       margin-bottom: 5px;
    //     }
    //   }
    // }
  }
}

.container-bottom {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  font-size: 1rem;
  align-items: center;
  flex-direction: column;

  .legend {
    background-color: #40415f;
    padding: 10px;
    color: #ffffc0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    h3 {
      margin-right: 5px;
    }
    // .cyan {
    //   background-color: darkcyan;
    //   width: 50px;
    //   height: 20px;
    // }

    // .cyan-info {
    //   padding-left: 5px;
    //   a {
    //     font-weight: 700;
    //     text-decoration: underline;

    //   }
    // }

    .name {
      display: flex;
      align-items: center;

      div {
        margin-right: 5px;
      }

      span {
        margin-right: 5px;
      }
    }
  }
}

.ranking-head {
  @media screen and (max-width: 800px){
    max-height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @media screen and (max-width: 800px){
    &__playername {
      display: flex;
      align-items: center;
    }
  }
}

.ranking-head, .character-card {
  display: grid;
  grid-template-columns: 70px 1.5fr 40px 1fr 1fr 1fr 1fr 40px;
  grid-template-rows: auto;
  color: #ffffc0;

  @media screen and (max-width: 500px){
    grid-template-columns: 30px 1fr 30px 1fr 0.5fr 0.5fr 0.5fr;
    .act {
      :last-child {
        display: none;
      }
    }
  }

  @media screen and (max-width: 800px){
    grid-template-columns: 30px 1fr 30px 0.5fr 0.5fr 0.5fr 0.5fr;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #010141;
    padding: 5px;
  }

  >:nth-child(n){
    border-right: 1px solid #010141;
    padding: 5px 0;
    font-weight: 600;
  }

  :last-child {
    border: none;
  }
}

@media screen and (max-width: 800px){
  .new-head {
    display: none;
  }
}

@media screen and (max-width: 800px){
  .new {
    display: none !important;
  }
}

.ranking-head {
  text-align: center;
  font-size: 22px;
  background-color: #2f3060;
  border-bottom: 1px solid #010141;

  div {
    @media screen and (max-width: 800px){
      writing-mode: vertical-lr;
    }
  }

  .ranking, .fpw, .wars {
    cursor: pointer;
    position: relative;
    transition: all .3s;

    fa-icon {
      margin-left: 5px;
      display: flex;
    }

    &:hover {
      color: red;
    }
  }
}

a {
  // color: #ffffc0;
  color: lightgray;
  text-decoration: none;
  transition: all .3s;

  &:hover {
    color: red;
  }
}

.character-card {
  background-color: #40415f;
  transition: .4s all;

  // @media screen and (min-width: 1024px){
  //   &:hover {
  //     box-shadow: 0 0 30px #010141;
  //     transform: scale(1.1) translateX(20px);
  //     z-index: 10;
  //   }
  // }
  .playername {
    z-index: 5;
    padding-left: 5px;
    display: flex;
    align-items: center;

    img {
      padding-left: 3px;
    }

    fa-icon {
      padding: 0 3px;
    }
  }

  .playername-cont {
    position: relative;

    @media screen and (max-width: 800px){
      overflow: auto;
    }

    .number {
      color: #010141;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      display: block;
      text-align: center;
      margin-left: 5px;
    }

    .number1 {
      background-color: #C9B037;
      box-shadow: inset 0 0 5px gold;
    }

    .number2 {
      background-color: #D7D7D7;
      box-shadow: inset 0 0 5px silver;
    }

    .number3 {
      background-color: #AD8A56;
      box-shadow: inset 0 0 5px brown;
    }

    .up-down-strike {
      position: absolute;
      bottom: 1px;
      right: 5px;
      font-style: italic;
      font-weight: 500;

      @media screen and (max-width: 800px){
        font-size: 13px;
      }
    }

    .streak-small {
      color: lightgray;
      font-size: 12px;
      font-style: italic;
      margin-bottom: 3px;

      span {
        color: gray;
      }
    }
  }

  &:nth-child(-n+3){
    .playername {
      // letter-spacing: 3px;
    }
  }

  &:first-child {
    .playername {
      color: #C9B037;
      font-size: 20px;
      transition: all .3s;
      // position: relative;
      &:hover {
      //   letter-spacing: 3px;
      //     text-shadow:
      // // 0 0 7px #C9B037,
      // // 0 0 10px #C9B037,
      // // 0 0 21px #fff,
      // // 0 0 42px #0fa,
      // // 0 0 82px #0fa,
      // // 0 0 92px #0fa,
      // // 0 0 102px #0fa,
      // // 0 0 151px #0fa;
      // 0 0 3px #C9B037,
      // 0 0 5px #C9B037,
      // 0 0 11px #fff,
      // 0 0 21px #C9B037,
      // 0 0 41px #C9B037,
      // 0 0 46px #C9B037,
      // 0 0 51px #C9B037,
      // 0 0 75px #C9B037;

      }
      // &:before {
      //   content: "";
      //   position: absolute;
      //   top: 50%;
      //   left: 0;
      //   width: 100%;
      //   height: 0;
      //   background-color: #C9B037; /* Zmień na preferowany kolor */
      //   z-index: -1;
      //   transition: height 0.3s;
      // }
      // &:hover::before {
      //   height: 100%;
      // }
    }
  }

  &:nth-child(2){
    .playername {
      color: #D7D7D7;
      font-size: 20px;
      transition: all .3s;
      // &:hover {
      //   letter-spacing: 3px;
      //   text-shadow:
      // 0 0 7px #D7D7D7,
      // 0 0 10px #D7D7D7,
      // 0 0 21px #fff,
      // 0 0 42px #D7D7D7,
      // 0 0 82px #D7D7D7,
      // 0 0 92px #D7D7D7,
      // 0 0 102px #D7D7D7,
      // 0 0 151px #D7D7D7;
      // }
    }
  }

  &:nth-child(3){
    .playername {
      color: #AD8A56;
      font-size: 20px;
      transition: all .3s;
      // &:hover {
      //   letter-spacing: 3px;
      //   text-shadow:
      // 0 0 7px #AD8A56,
      // 0 0 10px #AD8A56,
      // 0 0 21px #fff,
      // 0 0 42px #AD8A56,
      // 0 0 82px #AD8A56,
      // 0 0 92px #AD8A56,
      // 0 0 102px #AD8A56,
      // 0 0 151px #AD8A56;
      // }
    }
  }

  &:hover {
    box-shadow: inset 0 0 10px #39533C;
  }

  .item-block {
    padding: 5px 3px;
    position: relative;
    font-size: 18px;
    z-index: 4;

    @media screen and (max-width: 900px){
      flex-direction: column;
    }

    @media screen and (max-width: 800px){
      font-size:14px;
    }

    .season-wars {
      font-size: 12px;
      font-style: italic;
      color: gray;

      span {
        font-weight: 500;
        // text-decoration: underline;
        font-size: 15px;
        margin-left: 5px;
      }
    }
  }

  @media screen and (max-width: 800){
    .item-place {
      text-align: center;
      display: flex;
      justify-content: center;
    }
  }

  .item.new {
    font-weight: 400;
  }

  .item {
    padding: 5px 3px;
    position: relative;
    font-size: 18px;
    z-index: 3;
    color: lightgray;

    @media screen and (max-width: 800px){
      font-size:14px;
      // justify-content: flex-start;
    }

    a {
      position: relative;
    }

    img {
      margin: 5px;
      width: 22px;
      border: 1px solid #000;
    }

    .down-streak {
      position: absolute;
      right: -5px;
      top: 10px;
      outline:4px red solid;
      outline-offset:-6px;

      &:after {
        position: absolute;
        margin-left: 2px;
        content: "";
        background-image: url('/assets/images/downrate.gif');
        width: 10px;
        height: 5px;
        z-index: 9999999;
      }

      [data-title]:hover:before {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
      }
      /* box for title text */
      [data-title]:before {
        content: attr(data-title);
        /* position for title view box */
        position: absolute;
        // bottom: -1.6em;
        // left: 120%;
        top: -100%;
        left: 0;
        z-index: 99999;
        // visibility: hidden;
        visibility: visible;
        font-weight: 400 !important;
        /* optional */
        white-space: nowrap;
        /* stilization */
        background-color: red;
        color: #111;
        font-size: 150%;
        padding: 1px 5px 2px 5px;
        box-shadow: 1px 1px 3px #222222;
        opacity: 0;
        border: 1px solid #111111;
        margin-bottom: 5px;
        line-height: 1.5em;
        max-width: 250px;
        display: flex;
        flex-wrap: wrap;
      }
      [data-title] {
        position: relative;
      }
    }

    .up-streak {
      position: absolute;
      right: -2px;
      top: 10px;
      outline:4px green solid;
      outline-offset:-6px;

      &:after {
        position: absolute;
        margin-left: 5px;
        content: " ";
        background-image: url("/assets/images/uprate.gif");
        width: 10px;
        height: 5px;
        z-index: 9;
      }
      [data-title]:hover:before {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
      }
      /* box for title text */
      [data-title]:before {
        content: attr(data-title);
        /* position for title view box */
        position: absolute;
        top: -100%;
        left: 0;
        z-index: 99999;
        font-weight: 400 !important;
        // visibility: hidden;
        visibility: visible;
        /* optional */
        white-space: nowrap;
        /* stilization */
        background-color: #00FF00;
        color: #111;
        font-size: 150%;
        padding: 1px 5px 2px 5px;
        box-shadow: 1px 1px 3px #222222;
        opacity: 0;
        border: 1px solid #111111;
      }
      [data-title] {
        position: relative;
      }
    }

    .draw-streak {
      position: absolute;
      right: -2px;
      top: 10px;
      outline:4px green solid;
      outline-offset:-6px;

      &:after {
        position: absolute;
        margin-left: 5px;
        content: " ";
        background-color: #000;
        width: 10px;
        height: 4px;
        z-index: 9;
      }
      [data-title]:hover:before {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
      }
      /* box for title text */
      [data-title]:before {
        content: attr(data-title);
        /* position for title view box */
        position: absolute;
        // bottom: -1.6em;
        // left: 120%;
        top: -100%;
        left: 0;
        z-index: 99999;
        // visibility: hidden;
        font-weight: 400 !important;
        visibility: visible;
        /* optional */
        white-space: nowrap;
        /* stilization */
        background-color: gray;
        color: #111;
        font-size: 150%;
        padding: 1px 5px 2px 5px;
        box-shadow: 1px 1px 3px #222222;
        opacity: 0;
        border: 1px solid #111111;
      }
      [data-title] {
        position: relative;
      }
    }
  }

  .name-blur {
    filter: blur(5px);
  }
}

.act-month {
  width: 21px;
  height: 21px;
  margin: 2px;
}

.green0 {
  width: 21px;
  height: 21px;
  background-color: #003200;
  margin: 2px;
  box-shadow: inset 0 0 5px #000;
}

.green1_5 {
  width: 21px;
  height: 21px;
  background-color: #050;
  margin: 2px;
}

.green6_10 {
  width: 21px;
  height: 21px;
  background-color: #00a100;
  margin: 2px;
}

.green11_20 {
  width: 21px;
  height: 21px;
  background-color: #8aff1a;
  margin: 2px;
}

.green21_40 {
  width: 21px;
  height: 21px;
  background-color: #ffff00;
  margin: 2px;
}

.green41_70 {
  width: 21px;
  height: 21px;
  background-color: orange;
  margin: 2px;
}
.green71 {
  width: 21px;
  height: 21px;
  background-color: red;
  margin: 2px;
  // background: repeating-linear-gradient(45deg, #ff9900, #ff9900 10px, red 10px, red 20px);
}

.moh {
  background-image: url('/assets/images/medal_of_h.png');
  width: 21px;
  height: 20px;
  margin-right: 2px;
  background-size: cover;
  background-repeat: no-repeat;
}

.players-list {
  // .cyan {
  //   background-color: darkcyan !important;
  // }


  >:nth-child(even){
    // background-color: #2f3060;
    background-image:
  repeating-linear-gradient(
    45deg,
    #1f2136 0px,
    #1f2136 100px,
    transparent 20px,
    transparent 200px
  ),
  repeating-linear-gradient(
    90deg,
    #1f2136 0px,
    #1f2136 100px,
    transparent 150px,
    transparent 200px
  ),
  linear-gradient(90deg, #2c2f4e, #2c2f4e);
  }

  >:nth-child(odd){
    // background-color: #40415f;

    background-image:
    repeating-linear-gradient(
      45deg,
      #1f203c 0px,
      #1f203c 200px,
      transparent 100px,
      transparent 300px
    ),
    repeating-linear-gradient(
      90deg,
      #1f203c 0px,
      #1f203c 200px,
      transparent 100px,
      transparent 300px
    ),
    linear-gradient(90deg, #292b4b, #292b4b);


  }

  >:nth-child(-n+3) a{
    font-weight: 700;
  }

  // :nth-child(1){
  //   font-weight: 400;
  //   :nth-child(2) {
  //     a div {
  //       &:before {
  //         position: absolute;
  //         // right: -13px;
  //         // top: -5px;
  //         top: 3px;
  //         content: '';
  //         background-image: url('/assets/images/ladder1.gif');
  //         width: 10px;
  //         height: 13px;
  //         z-index: 9;
  //       }

  //       // &:after {
  //       //   right: -27px !important;
  //       // }
  //     }
  //   }
  // }

  // :nth-child(2){
  //   :nth-child(2) {
  //     a div {
  //       &:before {
  //         position: absolute;
  //         right: -13px;
  //         top: -5px;
  //         content: '';
  //         background-image: url('/assets/images/ladder2.gif');
  //         width: 10px;
  //         height: 13px;
  //         z-index: 9;
  //       }

  //       &:after {
  //         right: -27px !important;
  //       }
  //     }
  //   }
  // }

  // :nth-child(3){
  //   :nth-child(2) {
  //     a div {
  //       &:before {
  //         position: absolute;
  //         right: -13px;
  //         top: -5px;
  //         content: '';
  //         background-image: url('/assets/images/ladder3.gif');
  //         width: 10px;
  //         height: 13px;
  //         z-index: 9;
  //       }

  //       &:after {
  //         right: -27px !important;
  //       }
  //     }
  //   }
  // }

  .fpw div, .wars div {
    // font-weight: 700;
  }

  a {
    display: flex;
  }


}

.character-card {
  border-bottom: 1px solid #010141;

  // >:nth-child(1){
  //   background-color: #C9B037;
  // }

  &:last-child {
    border-right: none;
  }
}

@media screen and (max-width: 500px){
  .legend-year {
    display: none !important;
  }
}

.s1wars {
  font-size: 14px;
  font-weight: 400;
  transition: .3 all;
  color: gray;

  &:hover {
    color: red;
    cursor: pointer;
  }
}

.down-streak-pre {
  position: relative;

  &:after {
    position: absolute;
    left: -20px;
    top: 10px;
    content: "";
    background-image: url('/assets/images/downrate.gif');
    width: 10px;
    height: 5px;
    z-index: 9;
    @media screen and (max-width: 800px){
      display: none;
    }
  }
}

.up-streak-pre {
  position: relative;

  &:after {
    position: absolute;
    left: -20px;
    top: 10px;
    content: "";
    background-image: url("/assets/images/uprate.gif");
    width: 10px;
    height: 5px;
    z-index: 9;
    @media screen and (max-width: 800px){
      display: none;
    }
  }
}

.draw-streak-pre {
  position: relative;

  &:after {
    position: absolute;
    left: -20px;
    top: 10px;
    content: "";
    background-color: #000;
    width: 10px;
    height: 4px;
    z-index: 9;
    @media screen and (max-width: 800px){
      display: none;
    }

  }
}

.down-streak-post {
  position: relative;

  &:after {
    position: absolute;
    right: -20px;
    top: 7px;
    content: "";
    background-image: url('/assets/images/downrate.gif');
    width: 10px;
    height: 5px;
    z-index: 9;
    @media screen and (max-width: 800px){
      display: none;
    }
  }
}

.up-streak-post {
  position: relative;

  &:after {
    position: absolute;
    right: -20px;
    top: 7px;
    content: "";
    background-image: url("/assets/images/uprate.gif");
    width: 10px;
    height: 5px;
    z-index: 9;
    @media screen and (max-width: 800px){
      display: none;
    }
  }
}

.draw-streak-post {
  position: relative;

  &:after {
    position: absolute;
    right: -20px;
    top: 7px;
    content: "";
    background-color: #000;
    width: 10px;
    height: 4px;
    z-index: 9;
    @media screen and (max-width: 800px){
      display: none;
    }
  }
}

.big-name {
  // bottom: 5%;
  // position: absolute;
  // left: 50%;
  // transform: translate(-50%, 0);
  // right: 5%;
  margin: 0 auto;
  font-size: 200px;
//     writing-mode: tb-rl;
//     transform: rotate(
// 180deg);
  background-color: black;
  color: transparent;
  text-shadow: 0px 10px 30px #ffffc0;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  opacity: .3;

  @media screen and (max-width: 700px){
    font-size: 50px;
  }
}

// .over1000 {
//   position: relative;
//   background: rgb(255,255,255);
//   background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(173,138,86,1) 50%, rgba(173,138,86,1) 100%);

//   &:after {
//     position: absolute;
//     content: 'mpw';
//     bottom: 2px;
//     right: 5px;
//     font-size: 12px;
//     color: red;
//   }
// }

// .brown {
//   // background-color: #AD8A56;
//   background: linear-gradient(45deg, #AD8A56, #AD8A56 calc(100% - 10px), transparent calc(100% - 10px), transparent);
//   z-index: 2;

//   &:after {
//     position: absolute;
//     content: 'BRONZE';
//     left: 0;
//     bottom: -3px;
//     font-size: 12px;
//     font-weight: 700;
//     color:#010141;
//     font-style: italic;
//   }
// }

// .silver {
//   // background-color: #d7d7d7;
//   background: linear-gradient(45deg, #d7d7d7, #d7d7d7 calc(100% - 10px), transparent calc(100% - 10px), transparent);
//   z-index: 2;
//   &:after {
//     position: absolute;
//     content: 'SILVER';
//     left: 0;
//     bottom: -3px;
//     font-size: 12px;
//     font-weight: 700;
//     color:#010141;
//     font-style: italic;
//   }
// }

// .gold {
//   // background-color: #C9B037;
//   background: linear-gradient(45deg, #C9B037, #C9B037 calc(100% - 10px), transparent calc(100% - 10px), transparent);
//   z-index: 2;
//   position: relative;
//   &:after {
//     position: absolute;
//     content: 'GOLD';
//     left: 0;
//     bottom: -3px;
//     font-size: 12px;
//     font-weight: 700;
//     color:#010141;
//     font-style: italic;
//   }
// }

.bar-legend {
  width: 40px;
  height: 10px;
  margin-left: 5px;
}

.wars-bar {
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  // background-color: lightgray;
}

.goldie {
  position: relative;
  transition: all .3s;
  // background-color: darken(#C9B037,20%) !important;
  background-image:
  repeating-linear-gradient(
    45deg,
    hsl(45, 100%, 15%) 0px,
    hsl(45, 100%, 15%) 10px,
    transparent 10px,
    transparent 100px
  ),
  repeating-linear-gradient(
    90deg,
    hsl(45, 100%, 15%) 0px,
    hsl(45, 100%, 15%) 50px,
    transparent 50px,
    transparent 100px
  ),
  linear-gradient(90deg, hsl(45, 100%, 5%), hsl(45, 100%, 5%)) !important;
  box-shadow: 10px 0 8px -8px gold;


  // background-color: darken(#C9B037,15%) !important;
  // &:after {
  //   position: absolute;
  //   content: '';
  //   left: 0;
  //   top: 0px;
  //   background: linear-gradient(45deg, #C9B037, #C9B037 calc(100% - 10px), transparent calc(100% - 10px), transparent);
  //   box-shadow: 0px 0px 10px #C9B037;
  //   opacity: .3;
  //   width: 100%;
  //   height: 100%;
  // }

  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: 0%;
  //   left: 0;
  //   width: 100%;
  //   height: 0;
  //   background-color: #C9B037; /* Zmień na preferowany kolor */
  //   z-index: -1;
  //   transition: height 0.3s;
  // }
  // &:hover::before {
  //   height: 10%;
  // }
}
.silverie {
  position: relative;
  // background-color: darken(#d7d7d7,25%) !important;
  box-shadow: 10px 0 8px -8px silver;
  position: relative;

  background-image: repeating-linear-gradient(
    45deg,
    hsla(312, 0%, 63%, 0.05) 0px,
    hsla(312, 0%, 63%, 0.05) 10px,
    transparent 10px,
    transparent 100px
  ),
  repeating-linear-gradient(
    90deg,
    hsla(312, 0%, 63%, 0.05) 0px,
    hsla(312, 0%, 63%, 0.05) 50px,
    transparent 50px,
    transparent 100px
  ),
  linear-gradient(90deg, hsl(80, 0%, 20%), hsl(80, 0%, 20%)) !important;




  // &:after {
  //   position: absolute;
  //   content: '';
  //   left: 0;
  //   top: 0px;
  //   background: linear-gradient(45deg, #d7d7d7, #d7d7d7 calc(100% - 10px), transparent calc(100% - 10px), transparent);
  //   box-shadow: 0px 0px 10px #d7d7d7;
  //   opacity: .3;
  //   width: 100%;
  //   height: 100%;
  // }
}
.brownie {
  box-shadow: 10px 0 8px -8px brown;
  background-image:
  repeating-linear-gradient(
    45deg,
    hsl(30, 100%, 15%) 0px,
    hsl(30, 100%, 15%) 10px,
    transparent 10px,
    transparent 100px
  ),
  repeating-linear-gradient(
    90deg,
    hsl(30, 100%, 15%) 0px,
    hsl(30, 100%, 15%) 50px,
    transparent 50px,
    transparent 100px
  ),
  linear-gradient(90deg, hsl(30, 100%, 10%), hsl(30, 100%, 10%)) !important;





  // &:after {
  //   position: absolute;
  //   content: '';
  //   left: 0;
  //   top: 0px;
  //   background: linear-gradient(45deg, #AD8A56, #AD8A56 calc(100% - 10px), transparent calc(100% - 10px), transparent);
  //   box-shadow: 0px 0px 10px #AD8A56;
  //   opacity: .1;
  //   width: 100%;
  //   height: 100%;
  // }
}

.down-streak-name {
  color: red;
}

.up-streak-name {
  color: green;
}

.draw-streak-name {
  color: gray;
}

.player-seasons {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  color: gray;
  font-style: italic;
  font-weight: 700;

  .seasons {
    padding: 5px 70px;    

    .rank {
      background-color: hsl(45, 100%, 15%);
      padding: 5px;
      border-radius: 10px;
      font-size: 20px;
      display: inline-block;
      margin-left: 10px;
      width: 25px;
    }
  }
}

.expanded.player-seasons {
  max-height: 1000px; /* Dostosuj tę wartość do maksymalnej wysokości zawartości */
  opacity: 1;
}

.floating-icon-container {
  position: fixed;
  top: 105px;
  right: 20px; /* Dystans od prawej krawędzi strony */
  z-index: 6;

  @media screen and (max-width: 800px){
    display: none;
  }
}

.floating-icon-container-left {
  position: fixed;
  top: 105px;
  left: 20px; /* Dystans od prawej krawędzi strony */
  z-index: 6;

  @media screen and (max-width: 800px){
    top: 70px;
    left: 15px;
  }
}

.floating-icon {
  width: 40px; /* Szerokość ikony */
  height: 40px; /* Wysokość ikony */
  background-color: #2f3060; /* Kolor tła ikony */
  color: #fff; /* Kolor ikony */
  border-radius: 50%; /* Zaokrąglenie ikony */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 10px; /* Odstęp między ikonami */
  transition: .3s all;
  border: 1px solid #ffffc0;

  &:hover {
    box-shadow: 0 0 10px;
  }
}

.floating-icon.expanded {
  box-shadow: 0 0 10px #00FF00;
}
.floating-icon-left.expanded {
  box-shadow: 0 0 10px #00FF00;
}

.floating-panel {
  position: fixed;
  top: 85px;
  right: 0; /* Początkowa pozycja - panel jest schowany poza prawą krawędzią */
  // width: 340px;
  width: 0;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(0deg, rgba(47, 48, 96, .95) 25%, rgba(47, 48, 96, .95) 50%, rgba(64, 65, 95, .95) 50%, rgba(64, 65, 95, .95) 75%, rgba(47, 48, 96, .95) 75%, rgba(47, 48, 96, .95) 100%);
  background-size: 3px 3px;
  transition: right 0.3s ease-in-out; /* Dodaj animację do right */
  z-index: 5;
  box-shadow: 0 0 20px #010141;
  transform: translateX(100%); /* Ukryj panel poza prawą krawędzią */
  padding-right: 50px;
  // animation: fadeInOut 0.8s ease-in-out forwards;

  h2, h3 {
    color: #ffffc8;
  }

  h3 {
    padding-top: 10px;
  }

  .content {
    margin-top: 40px;
    padding: 16px;
    overflow-y: auto; /* Dopuszcza przewijanie wewnątrz panelu, gdy jest za długi */

    ol {
      position: relative;

      li {
        z-index: 2;
      }

      .num {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 30px;
        font-style: italic;
        font-weight: 700;
        // font-family:'Times New Roman', Times, serif;
        color: #00FF00;
      }
    }
  }
}

.floating-panel-left {
  position: fixed;
  top: 85px;
  left: 0; /* Początkowa pozycja - panel jest schowany poza prawą krawędzią */
  // width: 340px;
  width: 0;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(0deg, rgba(47, 48, 96, .95) 25%, rgba(47, 48, 96, .95) 50%, rgba(64, 65, 95, .95) 50%, rgba(64, 65, 95, .95) 75%, rgba(47, 48, 96, .95) 75%, rgba(47, 48, 96, .95) 100%);
  background-size: 3px 3px;
  transition: right 0.3s ease-in-out; /* Dodaj animację do right */
  z-index: 5;
  box-shadow: 0 0 20px #010141;
  transform: translateX(100%); /* Ukryj panel poza prawą krawędzią */
  // padding-left: 50px;
  // animation: fadeInOut 0.8s ease-in-out forwards;

  h2, h3 {
    color: #ffffc8;
  }

  h3 {
    padding-top: 10px;
  }

  .content {
    margin-top: 40px;
    padding: 16px;
    overflow-y: auto; /* Dopuszcza przewijanie wewnątrz panelu, gdy jest za długi */

    ol {
      position: relative;

      li {
        z-index: 2;
      }

      .num {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 30px;
        font-family:'Times New Roman', Times, serif;
        color: #00FF00;
      }
    }
  }
}

@keyframes fadeInOut {
  0% {
    right: 0;
    // opacity: 1;
  }
  50% {
    right: 0;
    // opacity: 0;
    transform: translateX(340px);
  }
  100% {
    right: 0;
    // opacity: 1;
  }
}

// Wszystkie panele są schowane na początku
.floating-panel:not(.expanded) {
  display: none;
}

.floating-panel-left:not(.expanded) {
  display: none;
}

.first-panel {
  top: 86px;
}

.second-panel {
  top: 86px;
}

.third-panel {
  top: 86px;
}

.floating-panel.expanded {
  right: 0; /* Panel jest otwarty, przesuń go z powrotem na widoczną pozycję */
  transform: translateX(0);
  width: 340px;
}

.floating-panel-left.expanded {
  right: 0; /* Panel jest otwarty, przesuń go z powrotem na widoczną pozycję */
  transform: translateX(0);
  width: 340px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  margin-top: 15px;
  margin-left: 15px;

  li {
    margin-bottom: 5px;
    color: #ffffc8;

    ::marker {
      color: #ffffc8;
    }

    .gold {
      color: #C9B037;
      font-size: 22px;
    }

    .silver {
      color: #D7D7D7;
      font-size: 22px;
    }

    .bronze {
      color: #AD8A56;
      font-size: 22px;
    }

    a {
      font-weight: 700;
      color:#ffffc8;
      transition: .4s all;
      display: flex;
      align-items: center;
      font-size: 18px;
      text-decoration: none;

      span {
        display: inline-block;
        margin-left: 10px;
      }

      &:hover {
        color: red;
      }
      img {
        margin-left: 10px;
        width: 30px;
      }
    }
  }
}

.last-match {
  color: lightgray;

  .match-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    color: lightgray;
    font-size: 14px;

    a {
      color: lightgray;
      transition: .3s all;

      &:hover {
        color: red;
      }
    }

    @media screen and (max-width: 800px){
      grid-template-columns: 1fr;
    }

    >:nth-child(2){
      border-left: 5px solid transparent;
    }

    >:nth-child(3){
      border-right: 5px solid transparent;
    }

    &__date {
      background-color: #40415f;
      padding: 15px;
      font-size: 20px;

      .video-icon {
        margin-top: 10px;
        filter: invert(100%) sepia(99%) saturate(439%) hue-rotate(358deg) brightness(107%) contrast(101%);
      }
    }

    .teamrounds {
      text-align: center;
      padding-bottom: 15px;
      font-size: 32px;
      font-weight: 700;
      // border-bottom: 3px solid #ffffc8;
    }

    .teaminfo {
      display: grid;
      grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 0 10px;
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 2px solid lightgray;
      background-image: linear-gradient(
        0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
            background-size: 4px 4px;
      color: lightgray;
      font-weight: 700;
    }

    .roundswon_row {
      border-color:green;
    }

    .roundslose_row {
      border-color:red;
    }

    .roundsdraw_row {
      border-color: gray;
    }

    .teamFavorite {
      color: green;
      // font-weight: 700;
    }

    .teamNotFavorite {
      color: red;
      // font-weight: 700;
    }

    .teamWithoutFavorite {
      color: gray;
      // font-weight: 700;
    }

    .preelo-info {
      border-top: 2px solid lightgray;
      padding-top: 3px;

      .teamrank {
        font-weight: 700;
      }
    }

    .preelo_war {
      font-style: italic;
    }

    &__team {
      background-color: #40415f;
      padding: 15px;

      &--player {
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 0 10px;
        position: relative;

        >div{
          display: flex;
          align-items: center;
        }

        .won {
          position: relative;

          span {
            &:after {
              position: absolute;
              top: 10px;
              margin-left: 5px;
              content: " ";
              background-image: url("/assets/images/uprate.gif");
              width: 10px;
              height: 5px;
            }
          }
        }

        .lost {
          position: relative;

          span {
            &:after {
              position: absolute;
              top: 10px;
              margin-left: 5px;
              content: "";
              background-image: url("/assets/images/downrate.gif");
              width: 10px;
              height: 5px;
            }
          }
        }

        &__name {
          font-size: 16px;
          overflow-x: hidden;
          max-width: 55px;
        }

        &__score {
          font-size: 16px;
        }
      }
    }
  }
}

.donator {
  color: #ffff00;
  margin-left: 3px;
}

.donators {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: linear-gradient(0deg, rgba(47, 48, 96, .95) 25%, rgba(47, 48, 96, .95) 50%, rgba(64, 65, 95, .95) 50%, rgba(64, 65, 95, .95) 75%, rgba(47, 48, 96, .95) 75%, rgba(47, 48, 96, .95) 100%);
  background-size: 3px 3px;
  box-shadow: 0 0 5px #ffffc8;
  padding: 10px;
  border-radius: 10px;
  color: #ffffc8;  

  @media screen and (max-width: 1024px) {
    display: none;
  }

  .donators_s4 {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
  }

  .donators_up {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dolar {
    margin: 0 2px;
  }

  .donators__num {
    font-size: 22px;
    margin-left: 5px;
    font-weight: 700;    
    color: #00FF00;
  }

  .donator {
    font-size: 22px;
  }
}

::ng-deep .mat-tooltip {
  font-size: 14px !important;
}

.red-line {
  height: 22px; /* Grubość linii */
  background-image: linear-gradient(0deg, rgba(47, 48, 96, .95) 25%, rgba(47, 48, 96, .95) 50%, rgba(64, 65, 95, .95) 50%, rgba(64, 65, 95, .95) 75%, rgba(47, 48, 96, .95) 75%, rgba(47, 48, 96, .95) 100%) !important;
  background-size: 3px 3px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-top: 2px solid green;
  border-bottom: 2px solid red;  

  &:after {
    position: absolute;
    content: '1000pc';
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 22px;
    color: red;
    font-weight: 700;
    letter-spacing: 5px;
    margin-top: -4px;      
  }

  &:before {
    background-image: url('/assets/images/9oeCWY.webp');
    width: 100%;
    height: 20px;    
    background-size: cover;
    background-repeat: repeat;
    position: absolute;
    content: '';
  }
}

.lastMedical1 {
  color: yellow;
}
.lastMedical2 {
  color: orange;
}
.lastMedical3 {
  color: red;
}

// .leftBorder {
//   border-left: 2px solid green;
// }

// .rightBorder {
//   border-right: 2px solid red;
// }