<section>
  <div class="container">
    <!-- <nav>
      <a routerLink="/dashboard/create-player">Create player</a>    
      <a routerLink="/dashboard/list-players">List players</a>      
    </nav> -->
    <!-- <div *ngIf="isLoggedIn()" style="border:3px solid red; margin: 20px; padding: 20px;">
      <div class="container">Hi and welcome!</div>
      <div class="container">Name: {{ userInfo?.info?.name }}</div>
      <div class="container"><img src="{{ userInfo?.info?.picture }}"></div> -->
      <!-- <div class="container">
        <button (click)="getEmails()">List Emails</button>
      </div> -->
      <!-- <div class="container" *ngFor="let snippet of mailSnippets">
        {{ snippet }}
      </div>
      <div class="container">
        <button (click)="logout()">Logout from Google</button>
      </div>
    </div> -->
    <div class="grid">
      <div class="grid-item">
        <a routerLink="/dashboard/create-player">Create player</a> 
      </div>
      <div class="grid-item">
        <a routerLink="/dashboard/list-players">List players</a> 
      </div>
      <div class="grid-item" *ngIf="isLoggedIn()">
        
        <a (click)="logout()">
          <img src="{{ userInfo?.info?.picture }}">
          Logout from Google
        </a>
      </div>
      
    </div>
    <div class="functions">   
      <mat-card> 
        <mat-card-header>
          <h2>Here is the functions to execute remote.</h2>
        </mat-card-header>
        <mat-card-content style="padding-top:10px;">
          <button mat-raised-button (click)="balanceTeams()">RUN balanceTeams()</button>
          <div class="desc">Click when you add players and  you want to create teams for war.</div>
        </mat-card-content>
        <mat-card-content>
          <button mat-raised-button (click)="selectTeams()">RUN selectTeams()</button>
          <div class="desc">Click when you want to select team (1 or 2).</div>
        </mat-card-content>
        <mat-card-content>
          <button mat-raised-button (click)="sortPlayers()">RUN sortPlayers()</button>
          <div class="desc">Click when you want to sort players by ranking.</div> 
        </mat-card-content>
        <mat-card-content>
          <button mat-raised-button color="warn" (click)="getStatistics()">RUN getStatistics()</button>
          <div class="desc">Click to test connections, check console.</div>
        </mat-card-content>
      </mat-card>        
    </div>   
  <div>
      <!-- <app-list-data></app-list-data> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
