<section>
  <div class="container">
    <!-- <nav>
      <a routerLink="/dashboard/create-player">Create player</a>    
      <a routerLink="/dashboard/list-players">List players</a>      
    </nav> -->
    <!-- <div *ngIf="isLoggedIn()" style="border:3px solid red; margin: 20px; padding: 20px;">
      <div class="container">Hi and welcome!</div>
      <div class="container">Name: {{ userInfo?.info?.name }}</div>
      <div class="container"><img src="{{ userInfo?.info?.picture }}"></div> -->
      <!-- <div class="container">
        <button (click)="getEmails()">List Emails</button>
      </div> -->
      <!-- <div class="container" *ngFor="let snippet of mailSnippets">
        {{ snippet }}
      </div>
      <div class="container">
        <button (click)="logout()">Logout from Google</button>
      </div>
    </div> -->
    <div class="grid">
      <div class="grid-item">
        <a routerLink="/dashboard/create-player">Create player</a> 
      </div>
      <div class="grid-item">
        <a routerLink="/dashboard/list-players">List players</a> 
      </div>
      <div class="grid-item" *ngIf="isLoggedIn()">
        
        <a (click)="logout()">
          <img src="{{ userInfo?.info?.picture }}">
          Logout from Google
        </a>
      </div>
      
    </div>
    <div class="functions">   
      <mat-card> 
        <mat-card-header>
          <h2>Here is the functions to execute remote.</h2>
        </mat-card-header>
        <mat-card-content style="padding-top:10px;">
          <button mat-raised-button (click)="balanceTeams()">RUN balanceTeams()</button>
          <div class="desc">Click when you add players and  you want to create teams for war.</div>
        </mat-card-content>
        <mat-card-content>
          <button mat-raised-button (click)="selectTeams()">RUN selectTeams()</button>
          <div class="desc">Click when you want to select team (1 or 2).</div>
        </mat-card-content>
        <mat-card-content>
          <button mat-raised-button (click)="sortPlayers()">RUN sortPlayers()</button>
          <div class="desc">Click when you want to sort players by ranking.</div> 
        </mat-card-content>
        <mat-card-content>
          <button mat-raised-button color="warn" (click)="getStatistics()">RUN getStatistics()</button>
          <div class="desc">Click to test connections, check console.</div>
        </mat-card-content>
        <mat-card-content>
          <!-- <button mat-raised-button color="primary" (click)="updateCell()">RUN updateCell()</button> -->
          <div class="desc">Click to update cell.</div>
        </mat-card-content>
      </mat-card>        
    </div> 
    <div class="add-match">
      <form class="example-form" [formGroup]="playersToWar" (ngSubmit)="onSubmit()">
        <h3>Team 1</h3>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Player 1</mat-label>
          <input type="text"
                placeholder="Pick one"
                aria-label="Player 1"
                matInput
                [formControl]="t1p1name"                
                [matAutocomplete]="auto1">
          <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsT1p1name | async" [value]="option.username">
              {{option.playername}} ({{ option.ranking }})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Player 2</mat-label>
          <input type="text"
                placeholder="Pick one"
                aria-label="Player 2"
                matInput
                [formControl]="t1p2name"
                [matAutocomplete]="auto2">
          <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsT1p2name | async" [value]="option.username">
              {{option.playername}} ({{ option.ranking }})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Player 3</mat-label>
          <input type="text"
                placeholder="Pick one"
                aria-label="Player 3"
                matInput
                [formControl]="t1p3name"
                [matAutocomplete]="auto3">
          <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsT1p3name | async" [value]="option.username">
              {{option.playername}} ({{ option.ranking }})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Player 4</mat-label>
          <input type="text"
                placeholder="Pick one"
                aria-label="Player 4"
                matInput
                [formControl]="t1p4name"
                [matAutocomplete]="auto4">
          <mat-autocomplete autoActiveFirstOption #auto4="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsT1p4name | async" [value]="option.username">
              {{option.playername}} ({{ option.ranking }})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Player 5</mat-label>
          <input type="text"
                placeholder="Pick one"
                aria-label="Player 5"
                matInput
                [formControl]="t1p5name"
                [matAutocomplete]="auto5">
          <mat-autocomplete autoActiveFirstOption #auto5="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsT1p5name | async" [value]="option.username">
              {{option.playername}} ({{ option.ranking }})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Player 6</mat-label>
          <input type="text"
                placeholder="Pick one"
                aria-label="Player 6"
                matInput
                [formControl]="t1p6name"
                [matAutocomplete]="auto6">
          <mat-autocomplete autoActiveFirstOption #auto6="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsT1p6name | async" [value]="option.username">
              {{option.playername}} ({{ option.ranking }})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Player 7</mat-label>
          <input type="text"
                placeholder="Pick one"
                aria-label="Player 7"
                matInput
                [formControl]="t1p7name"
                [matAutocomplete]="auto7">
          <mat-autocomplete autoActiveFirstOption #auto7="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsT1p7name | async" [value]="option.username">
              {{option.playername}} ({{ option.ranking }})
            </mat-option>
          </mat-autocomplete>
          <div></div>
        </mat-form-field>
        <button mat-raised-button type="submit">submit</button>       
      </form>
      <button mat-raised-button (click)="clearTeam()">clear</button>
      <div class="priview" *ngFor="let value of team1preview">
        <div>{{ value }}</div>
      </div>
    </div>
    <!-- <ng-container *ngIf="players$ | async as players">
      <ng-container *ngIf="players.length > 0">
        <ng-container *ngFor="let player of players; let i = index;">
          <div>PLAYER: <strong>{{ player.playername }}, ELO: {{ player.ranking }}</strong>, INDEX: {{ i + 1}}</div>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="addAmatch$ | async as addAmatch">
      <ng-container *ngIf="addAmatch.length > 0">
        <ng-container *ngFor="let element of addAmatch; let i = index;">
          <div>ELEMENT: {{ element | json }} INDEX: {{ i }}</div>
        </ng-container>
      </ng-container>
    </ng-container>  -->
    
  <div>
      <!-- <app-list-data></app-list-data> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
