section {
  padding-top: 80px;  
  // background-image: linear-gradient(0deg, rgba(252, 252, 252, 1) 25%, rgba(245, 245, 245, 1) 25%, rgba(245, 245, 245, 1) 50%, rgba(252, 252, 252, 1) 50%, rgba(252, 252, 252, 1) 75%, rgba(245, 245, 245, 1) 75%, rgba(245, 245, 245, 1) 100%);
  // background-size: 4px 4px;  
  // background-image: linear-gradient(0deg, rgba(64, 65, 95, .2) 25%, rgba(47, 48, 96, .2) 25%, rgba(47, 48, 96, .2) 50%, rgba(64, 65, 95, .2) 50%, rgba(64, 65, 95, .2) 75%, rgba(47, 48, 96, .2) 75%, rgba(47, 48, 96, .2) 100%);
  // background-size: 4px 4px;
  background-image: linear-gradient(0deg, rgba(64, 65, 95, .5) 25%, rgba(47, 48, 96, .5) 25%, rgba(47, 48, 96, .5) 50%, rgba(64, 65, 95, .5) 50%, rgba(64, 65, 95, .5) 75%, rgba(47, 48, 96, .5) 75%, rgba(47, 48, 96, .5) 100%);
  background-size: 4px 4px;
  min-height: 100%;

  .container {
    margin: 0 auto;
    padding: 0 15px;
    // max-width: 1300px;

    mat-card {
      // background-image: linear-gradient(0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
      // background-image: linear-gradient(0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
      // background-size: 4px 4px;
      box-shadow: 0 0 5px #010141;
    }
    
    nav {
      a {
        background-color: gray;
        padding: 5px;
        color: #ffffc8;
        text-decoration: none;
        margin-right: 10px;
      }
    }

    .main-grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: auto;
      gap: 20px;
      padding-bottom: 20px;

      .grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        padding-top: 25px;

        @media screen and (min-width: 1050px) and (max-width: 1500px){
          grid-column: span 7;
        }

        @media screen and (max-width: 1049px){
          grid-template-columns: repeat(8, 1fr);
          grid-column: span 8;
        }

        .menage {
          background-color: #40415f;

          span {
            @media screen and (max-width: 600px) {
              display: none;
            }
          } 
          
          button {
            @media screen and (max-width: 600px){
              height: 25px;
            }
          }
        }

        .logout {
          @media screen and (max-width: 1050px){
            grid-column: span 2;
          }
        }

        .match {
          background-color: #40415f;
          // color: orange;    
          color: #ffffc0;               

          h3 {
            // color: #40415f;
            color: #ffffc0;
            // background-color: orange;
            text-decoration: underline;
            font-weight: 700;
            border-radius: 5px;
            background-image: linear-gradient(0deg, rgba(64, 65, 95, .5) 25%, rgba(47, 48, 96, .5) 25%, rgba(47, 48, 96, .5) 50%, rgba(64, 65, 95, .5) 50%, rgba(64, 65, 95, .5) 75%, rgba(47, 48, 96, .5) 75%, rgba(47, 48, 96, .5) 100%);
          background-size: 4px 4px;
          }

          .step {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .step-number {
              font-size: 22px;
              font-weight: 700;
              margin-right: 5px;
              border-radius: 100%;
              width:30px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #ffffc0;
            }
          }        
        }

        .dashboard-tab {
          background-image: linear-gradient(0deg, rgba(64, 65, 95, .5) 25%, rgba(47, 48, 96, .5) 25%, rgba(47, 48, 96, .5) 50%, rgba(64, 65, 95, .5) 50%, rgba(64, 65, 95, .5) 75%, rgba(47, 48, 96, .5) 75%, rgba(47, 48, 96, .5) 100%);
          background-size: 4px 4px;

          @media screen and (max-width: 900px){
            grid-column: span 8;
          }
          
          mat-card-content {
            display: flex;
            align-items: center;

            @media screen and (max-width: 600px){
              display: block;
            }

            button {
              margin-right: 10px;
            }
          }
        }

        .ranking-tab {
          background-image: linear-gradient(0deg, rgba(64, 65, 95, .5) 25%, rgba(47, 48, 96, .5) 25%, rgba(47, 48, 96, .5) 50%, rgba(64, 65, 95, .5) 50%, rgba(64, 65, 95, .5) 75%, rgba(47, 48, 96, .5) 75%, rgba(47, 48, 96, .5) 100%);
          background-size: 4px 4px;

          @media screen and (min-width: 901px) and (max-width: 1050px){
            grid-column: span 4;
          }

          @media screen and (max-width: 900px){
            grid-column: span 8;
          }

          mat-card-content {
            display: flex;
            align-items: center;

            @media screen and (max-width: 600px){
              display: block;
            }

            button {
              margin-right: 10px;
            }
          }
        }

        .team {          
          display: grid;
          grid-template-columns: 2fr 1fr 1fr;   

          @media screen and (min-width: 1500px){
            // grid-column: span 7;
          }

          @media screen and (min-width: 1050px) and (max-width: 1499px){
            grid-column: span 3;
          }

          @media screen and (min-width: 700px) and (max-width: 1049px){
            grid-column: span 4;
          }

          @media screen and (max-width: 699px){
            grid-column: span 8;
          }
          
          .name, .initial-elo, .score {
            width: 100%;
          }
        }
  
        .grid-item {
          background-image: linear-gradient(0deg, rgba(64, 65, 95, 1) 25%, rgba(47, 48, 96, 1) 25%, rgba(47, 48, 96, 1) 50%, rgba(64, 65, 95, 1) 50%, rgba(64, 65, 95, 1) 75%, rgba(47, 48, 96, 1) 75%, rgba(47, 48, 96, 1) 100%);
          background-size: 4px 4px;  
          transition: .4s background-image;
  
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;
            color: #ffffc8;
            text-decoration: none;
            font-size: 40px;
            // transition: .4s all;
            cursor: pointer;
  
            &:hover {
              background-image: linear-gradient(0deg, rgba(252, 252, 252, 1) 25%, rgba(245, 245, 245, 1) 25%, rgba(245, 245, 245, 1) 50%, rgba(252, 252, 252, 1) 50%, rgba(252, 252, 252, 1) 75%, rgba(245, 245, 245, 1) 75%, rgba(245, 245, 245, 1) 100%);
              background-size: 4px 4px; 
              border: 3px solid #010141;
              color: #010141; 
              // transition: background-image .1s;
            }
          }
        }
      }

      .ranking {
        max-height: 1000px;
        overflow: scroll;
        padding: 25px 0;      
        
        @media screen and (max-width: 1500px){
          grid-column: span 7;
        }
       
        mat-card {
          background-image: linear-gradient(0deg, rgba(64, 65, 95, .5) 25%, rgba(47, 48, 96, .5) 25%, rgba(47, 48, 96, .5) 50%, rgba(64, 65, 95, .5) 50%, rgba(64, 65, 95, .5) 75%, rgba(47, 48, 96, .5) 75%, rgba(47, 48, 96, .5) 100%);
          background-size: 4px 4px; 
          margin: 0 10px;

          tr {
            height: 30px;

            &:nth-of-type(2n-1){
              background-color: rgba(47, 48, 96, .5);
            }
          }
        }           
      }

      .ranking::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
    }

    .functions {
      .desc {
        padding-top: 5px;
      }
    }
  }
}

.add-match {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 100px;
  row-gap: 50px;
  overflow: hidden;  
  padding: 30px 0;  
}

.readonly {
  opacity: 0.5;
  pointer-events: none;
}

h3 {
  padding: 10px;
  // background-image: linear-gradient(0deg, rgba(64, 65, 95, .8) 25%, rgba(47, 48, 96, .8) 25%, rgba(47, 48, 96, .8) 50%, rgba(64, 65, 95, .8) 50%, rgba(64, 65, 95, .8) 75%, rgba(47, 48, 96, .8) 75%, rgba(47, 48, 96, .8) 100%);
  // background-size: 4px 4px;
  // color: #ffffc8;

  span {
    font-size: 12px;
  }
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.35rem 0 0.25rem 0;
}

::ng-deep input.mat-input-element {
  font-weight: 700;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.35rem 0 0.25rem 0;
}

::ng-deep .mat-form-field-flex {
  padding: .75rem .75rem 0 .75rem; 
}

::ng-deep .score .mat-form-field-flex {
  padding: .1rem .75rem 0 .75rem !important;
  background-color: rgba(255, 165, 0, .4); 
  color: #40415f;
  font-weight: 700;
  // border-top: 1px solid rgba(255, 165, 0, .5);
  // border-right: 1px solid rgba(255, 165, 0, .5);
  // border-bottom: 1px solid rgba(255, 165, 0, .5);
  border-top: 1px solid rgba(255, 255, 192, .5);
  border-right: 1px solid rgba(255, 255, 192, .5);
  border-bottom: 1px solid rgba(255, 255, 192, .5);
  // border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

::ng-deep .initial-elo .mat-form-field-flex {  
  padding: .48rem .75rem 0 .75rem !important;
  // border-top: 1px solid rgba(255, 165, 0, .5);
  // border-bottom: 1px solid rgba(255, 165, 0, .5);
  border-top: 1px solid rgba(255, 255, 192, .5);
  border-bottom: 1px solid rgba(255, 255, 192, .5);
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important; 
}

::ng-deep .name .mat-form-field-flex {    
  // border-top: 1px solid rgba(47, 48, 96, 1);
  // padding: .35rem .75rem 0 .75rem;
  padding: .35rem .75rem 0 .75rem !important;
  // border-top: 1px solid rgba(255, 165, 0, .5);
  // border-left: 1px solid rgba(255, 165, 0, .5);
  // border-bottom: 1px solid rgba(255, 165, 0, .5);
  border-top: 1px solid rgba(255, 255, 192, .5);
  border-left: 1px solid rgba(255, 255, 192, .5);
  border-bottom: 1px solid rgba(255, 255, 192, .5);
  // border-bottom: 1px solid rgba(255, 255, 192, .5);
  border-top-left-radius: 5px;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 5px;  
  // box-shadow: 0px -5px 5px -5px rgba(47, 48, 96, 1);
}

// ::ng-deep input.mat-input-element {
//   margin-top: 0 !important;
// }

::ng-deep .mat-form-field-infix {
  width: auto !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 1.3rem !important;
  margin-bottom: -1rem !important;
}

button span {
  margin-right: 5px;
}

/* Success syling */

.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color:#155724;
}

::ng-deep .rounds .mat-form-field-wrapper {
  background-color: rgba(255,69,0,.4); 
  padding: 2px;
  // color: orange;
  color: #ffffc0;
  font-weight: 700;
}

::ng-deep .mat-option-text {
  display: flex !important;
  align-items: center;
}

::ng-deep .mat-option-text img {
  width: 30px;
  border: 1px solid black;
  margin-right: 5px;
}

// MATCH SETTINGS
::ng-deep .match .mat-form-field-label {
  // color: orange;
  color: #ffffc0;
  opacity: .5;
}

::ng-deep .match .mat-form-field.mat-focused .mat-form-field-label {
  // color: orange;
  color: #ffffc0;
  opacity: .5;
}

::ng-deep .match .mat-form-field.mat-focused .mat-form-field-ripple {
  // background-color: orange;
  background-color: #ffffc0;
  opacity: .5;
}

::ng-deep .match .mat-form-field-ripple:hover {
  // background-color: orange;
  background-color: #ffffc0;
  opacity: .5;
}

::ng-deep .match input.mat-input-element::placeholder {
  // color: orange;
  color: #ffffc0;
  opacity: .5;
}
::ng-deep .name input.mat-input-element {  
  font-size: 18px;
}

// FRAGS
::ng-deep .score .mat-form-field.mat-focused .mat-form-field-label {
  color: #010141;
  opacity: 1;
}

::ng-deep .score input.mat-input-element {
  color: #010141;
  font-size: 22px;
}

// ROUNDS 
::ng-deep .rounds input.mat-input-element {
  color: #010141;
  font-size: 22px;
  font-style: italic;
  font-weight: 900;
}

::ng-deep .rounds {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.match-row {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  color: #ffffc8; 
  font-size: 14px;

  a {
    color: #ffffc8;
  }

  @media screen and (max-width: 800px){
    grid-template-columns: 1fr;
  }

  >:nth-child(2){
    border-left: 5px solid transparent;
  }

  >:nth-child(3){
    border-right: 5px solid transparent;
  }

  &__date {
    background-color: #40415f;
    padding: 15px;
    font-size: 20px;

    .video-icon {
      margin-top: 10px;
      filter: invert(100%) sepia(99%) saturate(439%) hue-rotate(358deg) brightness(107%) contrast(101%);
    }
  }

  .teamrounds {
    text-align: center;
    padding-bottom: 15px;
    font-size: 32px;
    font-weight: 700;
    // border-bottom: 3px solid #ffffc8;
  }

  .teaminfo {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 3px solid #ffffc8;
    background-image: linear-gradient(
      0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
          background-size: 4px 4px;
    color: #ffffc8;
    font-weight: 700;   
  }

  .roundswon_row {
    border-color:green;
  }

  .roundslose_row {
    border-color:red;
  }

  .roundsdraw_row {
    border-color: gray;
  }

  .teamFavorite {
    color: green;
    // font-weight: 700;
  }
  
  .teamNotFavorite {
    color: red;
    // font-weight: 700;
  }
  
  .teamWithoutFavorite {
    color: gray;
    // font-weight: 700;
  }
  
  .preelo_war {  
    font-style: italic;
  }

  &__team {
    background-color: #2f3060;
    padding: 15px;

    &--player {
      display: grid;
      grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 0 10px;
      position: relative;       
      
      >div{
        display: flex;
        align-items: center;
      }

      .won {
        position: relative;
       
        span {
          &:after {
            position: absolute;
            top: 10px;
            margin-left: 5px;
            content: " ";
            background-image: url("/assets/images/uprate.gif");
            width: 10px;
            height: 5px;
          }
        }        
      }

      .lost {
        position: relative;

        span {
          &:after {
            position: absolute;
            top: 10px;
            margin-left: 5px;
            content: "";
            background-image: url("/assets/images/downrate.gif");
            width: 10px;
            height: 5px;
          }
        }       
      }

      &__name {
        font-size: 16px;
      }

      &__score {
        font-size: 16px;
      }
    }
  }
}

.preelo-info {
  padding-top: 5px;
  margin-top: 5px;
  border-top: 3px solid #ffffc0;
  background-image: linear-gradient(
      0deg, #40415f 25%, #2f3060 25%, #2f3060 50%, #40415f 50%, #40415f 75%, #2f3060 75%, #2f3060 100%);
          background-size: 4px 4px;
}

.last {
  grid-column: span 2;
  background-image: linear-gradient(0deg, rgba(64, 65, 95, .5) 25%, rgba(47, 48, 96, .5) 25%, rgba(47, 48, 96, .5) 50%, rgba(64, 65, 95, .5) 50%, rgba(64, 65, 95, .5) 75%, rgba(47, 48, 96, .5) 75%, rgba(47, 48, 96, .5) 100%);
  background-size: 4px 4px;

  @media screen and (min-width: 1050px) {
    grid-column: span 7;
  }

  @media screen and (max-width: 1049px){
    grid-column: span 8 !important;
  }
}

button {
  font-size: 16px;
  font-weight: 600;
}

.span1 {
  grid-column: span 1;
}

.span2 {
  grid-column: span 2;
}

.span3 {
  grid-column: span 3;
}

.span4 {
  grid-column: span 4;
}

.span5 {
  grid-column: span 5;
}

.span6 {
  grid-column: span 6;
}

.span7 {
  grid-column: span 7;
}

.table-all {
  min-width: 100%;
  // background-color: #2f3060;
  background-color: #40415f;

  th, td {
    color: #ffffc0;
    border-color: rgba(64, 65, 95, 0.8);

    @media screen and (max-width: 1500px){
      font-size: 12px;
    }
  }

  th {
    font-weight: 700;
    font-size: 16px;

    @media screen and (max-width: 1500px){
      font-size: 14px;
      text-decoration: underline;
      text-align: left;
    }
  }
}

.buttons {
  // @media screen and (max-width: 1050px){
  //   grid-column: span 7;
  // }
  @media screen and (max-width: 1050px){
    grid-column: span 8;
  }
}

h3, h2 {
  color: #40415f;
}
