section {
  padding-top: 80px;

  .container {
    margin: 0 auto;
    padding: 0 15px;

    nav {
      a {
        background-color: gray;
        padding: 5px;
        color: #ffffc8;
        text-decoration: none;
        margin-right: 10px;
      }
    }
  }
}