<section>
  <div class="container">
    <div class="mix">
      <button mat-raised-button (click)="toggleSticky()" class="sticky-btn">        
        <span *ngIf="!isStickyShown"><fa-icon [icon]="arrowLeftCircle"></fa-icon> Show Teams</span>
        <span *ngIf="isStickyShown">Hide Teams <fa-icon [icon]="arrowRightCircle"></fa-icon> </span>
      </button>
      <div class="mix-list">
        <!-- <div id="g_id_onload"
          data-client_id="326844544836-6tqb426dh5sl8opmnh7difha0t0lgq9t.apps.googleusercontent.com"
          data-context="signin"
          data-ux_mode="popup"
          data-login_uri="https://mohsh.pl/dashboard"
          data-auto_select="true"
          data-itp_support="true">
      </div>

      <div class="g_id_signin"
          data-type="standard"
          data-shape="rectangular"
          data-theme="filled_black"
          data-text="signin_with,"
          data-size="medium"
          data-logo_alignment="left">
      </div> -->
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox *ngIf="!row.ban" (click)="$event.stopPropagation()"
                            (change)="selectUser(row)"
                            [checked]="selectedUsers.indexOf(row) > -1" [color]="task.color">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox *ngIf="!row.ban" (click)="$event.stopPropagation()"
                            (change)="selectUser(row)"
                            [checked]="row.checkbox1 || row.checkbox2" [color]="task.color">
              </mat-checkbox>
            </td>
          </ng-container> -->
        
          <!-- Nr Column -->
          <ng-container matColumnDef="nr">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let row" [ngClass]="{ 'inactive': row.active != true }"> {{row.nr}} </td>
          </ng-container>
        
          <!-- Username Column -->
          <ng-container matColumnDef="playername">
            <th mat-header-cell *matHeaderCellDef> Playername </th>
            <td mat-cell *matCellDef="let row" [ngClass]="{ 'inactive': row.active != true }"> {{row.playername}} </td>
          </ng-container>
          <ng-container matColumnDef="flag">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row"> <img [src]='"assets/images/flags_svg/" + row.flag + ".SVG"'></td>
          </ng-container>
          <!-- Username Column -->
          <ng-container matColumnDef="ranking">
            <th mat-header-cell *matHeaderCellDef> Ranking </th>
            <td mat-cell *matCellDef="let row" [ngClass]="{ 'inactive': row.active != true }"> {{row.ranking}} </td>
          </ng-container>
          
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        </table>
      </div>
      <div class="mix-result">        
        <div class="mix-sticky" [ngClass]="{ 'show': isStickyShown }">
          <h2 class="imp">IMPORTANT!</h2>
          <p>This tab is only used to draw a team based on ELO, when there is no admin, the draw is performed only on your computer. After the war, send the screens and results (rounds and frags) to the admin on discord. Still no one to enter the match? Draw and keep playing!</p>
          <div class="selectedTeams">
            <h2 class="h2Select">Selected Players</h2>
            <div class="btn-cont">
              <button mat-raised-button color="primary" class="lp" (click)="    
              splitRanking2(selectedUsers)">Mix teams! LP</button>
              <div>LP - Lower precision, no limit players.</div>
            </div>
            <div class="btn-cont">
              <button mat-raised-button color="warn" class="hp" (click)="          
            splitArrayIntoTwo(selectedUsers)" [disabled]="selectedUsers.length >= 11">Mix teams! HP</button>
              <div>HP - Higher precision, limit max 5on5.</div>
            </div>          
            <!-- <div class="btn-cont">
              <button mat-raised-button color="warn" class="hp" (click)="          
              splitRanking2(selectedUsers)">Mix teams! Experimental</button>
              <div>Experimental - Experimental precision, limit?</div>
            </div>           -->
          </div>    
          <div class="selected-cont">
            <div *ngFor="let player of selectedUsers; let i = index;" class="selected">          
              <div style="display: flex;" class="selectedPlayer">
                <span class="playername">  {{ i + 1}}. {{player.playername}}</span> <img [src]='"assets/images/flags_svg/" + player.flag + ".SVG"'><span> ({{ player.ranking }})</span> 
              </div>
            </div>  
          </div>
          <div class="teams">
            <div class="team"> 
              <h2>Team 1</h2>
              <div *ngFor="let player of array1; let i = index;" class="player">        
                <span class="playername">{{i + 1}}. {{player.playername}}</span> <img [src]='"assets/images/flags_svg/" + player.flag + ".SVG"'><span> ({{ player.ranking }})</span>                    
              </div>
              <div>Cumulative: {{ sumTeam1 | number : '1.2-2' }}</div>  
              <div [ngClass]="{ 'teamFavorite': (chanceOfWinTeamTwoShow > chanceOfWinTeamOneShow), 'teamNotFavorite': (chanceOfWinTeamTwoShow < chanceOfWinTeamOneShow), 'teamWithoutFavorite': (chanceOfWinTeamTwoShow == chanceOfWinTeamOneShow) }">{{ 'home.chance' | translate }} {{ chanceOfWinTeamTwoShow | number : '.2-2' }} %</div>
            </div>
            <div class="team">
              <h2>Team 2</h2> 
              <div *ngFor="let player of array2; let i = index;" class="player">          
                <span class="playername">{{i + 1}}. {{player.playername}}</span> <img [src]='"assets/images/flags_svg/" + player.flag + ".SVG"'><span> ({{ player.ranking }})</span>        
              </div>
              <div>Cumulative: {{ sumTeam2 | number : '1.2-2' }}</div>
              <div [ngClass]="{ 'teamFavorite': (chanceOfWinTeamOneShow > chanceOfWinTeamTwoShow), 'teamNotFavorite': (chanceOfWinTeamOneShow < chanceOfWinTeamTwoShow), 'teamWithoutFavorite': (chanceOfWinTeamOneShow == chanceOfWinTeamTwoShow) }">{{ 'home.chance' | translate }} {{ chanceOfWinTeamOneShow | number : '.2-2'}} %</div>  
            </div>
          </div> 
          <div class="restricted-btn">
            <div class="single-btn">
              <button mat-raised-button color="primary" class="lp" (click)="    
              sendToDiscord()" [disabled]="!isValid()">Send Teams to Discord <fa-icon [icon]="sendIcon"></fa-icon></button>
              <div>Send squads for next war to discord.</div>
            </div>
            <div class="single-btn">
              <button mat-raised-button color="accent" class="lp" (click)="getDiscordUsers()" [disabled]="!isAuthenticated()">Get from Discord <fa-icon [icon]="people"></fa-icon><fa-icon [icon]="arrowDown"></fa-icon></button>
              <div>Get players from WANT TO PLAY channel.</div>
            </div>            
            <!-- <div class="single-btn">
              <button mat-raised-button color="accent" class="lp" (click)="sendToVoiceChannels()" [disabled]="!isAuthenticated()">Send to Voice Channels <fa-icon [icon]="people"></fa-icon><fa-icon [icon]="arrowUp"></fa-icon></button>
              <div>Send players to TEAM 1 and TEAM 2 voice channels.</div>
            </div>             -->
            <div class="single-btn">
              <button mat-raised-button color="accent" class="lp" (click)="sendToVoiceChannels()" [disabled]="!isAuthenticated()">Send to Voice Channels <fa-icon [icon]="people"></fa-icon><fa-icon [icon]="arrowUp"></fa-icon></button>
              <div>
                Send players to 
                <mat-radio-group [(ngModel)]="selectedChannels" [disabled]="!isAuthenticated()">
                  <mat-radio-button *ngFor="let channels of availableChannels" [value]="channels">{{ channels }}</mat-radio-button>
                </mat-radio-group>
                voice channels.
              </div>
            </div>

          </div>
          <ng-container *ngIf="isAuthenticated()">                      
            <div class="restricted-btn-bottom">
              <h1>Restricted Content</h1>
              <p>This content is only visible to authenticated users.</p>
              <button mat-raised-button color="primary" class="lp" (click)="    
              confirmTeams()">Confirm Teams <fa-icon [icon]="stamp"></fa-icon></button>
              <div>Click here to send balanced teams to database. Go to <button routerLink="/dashboard" mat-raised-button color="warn">Dashboard <fa-icon [icon]="arrowRightCircle"></fa-icon></button> to fill score after war.</div>                          
            </div>            
          </ng-container>
          <ng-container *ngIf="!isAuthenticated()">
            <h1>Access Denied</h1>
            <p>You need to be authenticated to view this content.</p>
          </ng-container>
        </div>        
      </div>
    </div>
  </div>  
</section>
<notifier-container></notifier-container>
<ng-http-loader>    
</ng-http-loader>
<!-- <script src="https://accounts.google.com/gsi/client" async defer></script> -->