<section>
  <app-about-nav></app-about-nav> 
  <div class="container">   
    <ng-container *ngIf="wantedPlayers$ | async as wantedPlayers">
      <ng-container *ngIf="wantedPlayers.length > 0">
        <div class="wanted-legend">
          <h2>{{ 'about.wanted_legend' | translate }}</h2>
          <div class="wanted">
            <div class="red">{{ 'about.wanted_dont' | translate }}</div> 
          </div>          
          <div class="wanted">
            <div class="gray">{{ 'about.wanted_nocontact' | translate }}</div>
          </div>          
        </div>
        <p>{{'about.wanted_desc' | translate}}</p>
        <div class="wanted-cont">         
          <div class="wanted" *ngFor="let player of wantedPlayers; let i = index;">
            <div class="wanted-player" [ngClass]="{ 'gray': player.status == 'No-contact', 'red': player.status == 'Not-want-to-play' }">
              {{ player.playername }}
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="isAuthenticated()"> 
      <h2>Active Players:</h2>
      <button (click)="moveRandomPlayer()">Move Random Player</button>
      <div class="lists">
        <div>
          <ul>
            <li *ngFor="let player of activePlayers">{{ player.playername }} <img [src]='"assets/images/flags_svg/" + player.nationality + ".SVG"'> wars: {{ player.s1wars }}</li>
          </ul>
        </div>
        <div>
          <h2>Losers:</h2>
          <ul>
            <li *ngFor="let player of losers">{{ player?.playername }} <img [src]='"assets/images/flags_svg/" + player.nationality + ".SVG"'> wars: {{ player.s1wars }}</li>
          </ul>
        </div>
        <div>
          <h2>Winners:</h2>
          <ul>
            <li>{{ winner?.playername || 'No winner yet' }} <img [src]='"assets/images/flags_svg/" + winner?.nationality + ".SVG"'></li>
          </ul>
        </div>    
      </div>    
    </ng-container>
  </div>
</section>
