.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #010141;
}
h1 {
  // font-size: 72px;
  font-size: 38px;
  font-weight: 700;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffc8;
}

.character-card {
  padding: 15px;
  color: #ffffc8;
  display: flex;
}

.team-cont {
  border: 3px solid #ffffc8;
  padding: 10px;

  h2 {
    text-align: center;
    color: #ffffc8;
    border-bottom: 3px solid #ffffc8;
  }
}

.team-ids {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 15px;
  border: 3px dashed #ffffc8;
}

.wrapper-fix {
  position: absolute;
  top: 54px;
  left: 0;
  right: 0;
  z-index: 6;

  h1 {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right:30px;
  }
}

.home {
  background-color: #010141;
  // height: 100vh;
}

.videoContainer {
  position: absolute;
  // max-height: 800px;
  // min-width: 100%;
  // overflow: hidden;
  // display: flex;
  // align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  // top: 54px;
  // min-height: 100vh;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    height: 30%;
    z-index: 3;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    height: 30%;
    z-index: 3;
  }

  video {
    position: absolute;
    top: 0;
    min-height: 100vh;
  }
}

.gradient {
  position: absolute;
  // top: 54px;
  top:0;
  bottom: 100px;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.4) 20%);
  filter:blur(5px);
}

video {
  min-width: 100%;
}

.wrapper-head {
  display: flex;
  justify-content: space-between;
  max-height: 180px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.2) 25%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0.2) 75%, rgba(0,0,0,0.2) 100%);
  background-size: 12px 12px;
  align-items: center;
  padding-top: 15px;

  &__right {
    margin-top: 25px;

    h1 {
      line-height: 1;
      z-index: 6;
    }

    .since {
      color: #ffffc8;
      font-style: italic;
      text-align: right;
      padding-right: 30px;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;


      .second {
        font-weight: 700;
        color:#F72119;
      }
    }

    .meet {
      text-align: right;
      padding-right: 30px;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
      transform: scale(1);
      animation: pulsate 2s infinite;
      font-style: italic;
      font-size: 24px;
      a {
        color: #ffffc8;

        &:hover {
          color: #fff;
          animation: pulsate 10s infinite;
        }
      }
    }
  }

  img {
    z-index: 6;
  }

  @media screen and (max-width: 1024px){
    h1 {
      font-size: 22px;
    }
  }
}

.teams-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  font-size: 20px;

  @media screen and (max-width: 500px){
    min-width: 100%;
  }

  .teamsNext {
    font-size: 28px;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.2) 25%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0.2) 75%, rgba(0,0,0,0.2) 100%);
    background-size: 12px 12px;
    color: #ffffc8;
    font-weight: 700;
    padding: 5px 30px;

    @media screen and (max-width: 768px){
      padding: 5px 15px;
    }
  }

  .teamsDivide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    background-color: rgba(0,0,0,0.5);
    color: #ffffc8;
    font-weight: 700;
    padding: 0 30px;

    @media screen and (max-width: 768px){
      padding: 0px 15px;
    }

    div {
      text-decoration: underline;
    }
  }

  .teamsCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    color: #ffffc8;
    padding: 5px 30px;
    font-size: 20px;

    @media screen and (max-width: 768px){
      padding: 5px 15px;
    }

    a {
      text-decoration: none;
      color: #ffffc8;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .teamsCumulative {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    max-width: 600px;
    color: #ffffc8;
    padding: 5px 30px;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.2) 25%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0.2) 75%, rgba(0,0,0,0.2) 100%);
    background-size: 12px 12px;

    @media screen and (max-width: 768px){
      padding: 5px 15px;
    }

    .teamFavorite {
      // animation: pulsate 2.5s infinite alternate;
    }

    .teamNotFavorite {
      // animation: pulsate2 2.5s infinite alternate;
    }

    .teamWithoutFavorite {

    }

    @keyframes pulsate {
      100% {
        /* Larger blur radius */
        text-shadow:
          0 0 4px #fff,
          0 0 11px #fff,
          0 0 19px #fff,
          0 0 40px #0fa,
          0 0 80px #0fa,
          0 0 90px #0fa,
          0 0 100px #0fa,
          0 0 150px #0fa;
      }
      0% {
        /* Smaller blur radius */
        text-shadow:
          0 0 2px #fff,
          0 0 4px #fff,
          0 0 6px #fff,
          0 0 10px #0fa,
          0 0 45px #0fa,
          0 0 55px #0fa,
          0 0 70px #0fa,
          0 0 80px #0fa;
      }
    }
    @keyframes pulsate2 {
      100% {
        /* Larger blur radius */
        text-shadow:
          0 0 4px #fff,
          0 0 11px #fff,
          0 0 19px #fff,
          0 0 40px #F72119,
          0 0 80px #F72119,
          0 0 90px #F72119,
          0 0 100px #F72119,
          0 0 150px #F72119;
      }
      0% {
        /* Smaller blur radius */
        text-shadow:
          0 0 2px #fff,
          0 0 4px #fff,
          0 0 6px #fff,
          0 0 10px #F72119,
          0 0 45px #F72119,
          0 0 55px #F72119,
          0 0 70px #F72119,
          0 0 80px #F72119;
      }
    }
  }

  .game_discord {
    display: none;

    @media screen and (min-height: 700px){
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      padding: 10px 30px;

      .game, .discord {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          text-align: center;
          border-radius: 15px; // Zaokrąglenie rogów
          overflow: hidden; // Ukrycie treści, która wystaje poza kontener
          padding: 5px 10px;
          position: relative;
          color: #ffffc8;
          text-decoration: none;
          align-items: center;
          display: flex;
          justify-content: center;
          flex-direction: column;
          height: 136px;
          width: 147px;
        }
      }

      .discord a {
        background-color: #010141;
      }

      .game a {
        background-color: rgba(144, 238, 144, 0.5);
        transition: .3s all;

        &:hover {
          box-shadow: 0 0 30px rgba(144, 238, 144, 0.9);
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0;
          height: 0;
          background-color: rgba(255, 255, 255, 0.5); // Początkowy kolor przezroczysty
          border-radius: 15px; // Zaokrąglenie do kształtu koła
          animation: pulse 5s infinite; // Animacja pulsowania
        }

        @keyframes pulse {
          0% {
            width: 0;
            height: 0;
            opacity: 0; // Początkowa przejrzystość
            // border: green 0px solid;
          }
          50% {
            width: 147px; // Rozszerzanie do maksymalnego rozmiaru
            height: 136px; // Rozszerzanie do maksymalnego rozmiaru
            opacity: .3; // Maksymalna widoczność
            // border: green 30px solid;
          }
          100% {
            width: 0;
            height: 0;
            opacity: 0; // Powrót do zerowej przejrzystości i rozmiaru
            // border: green 0px solid;
          }
        }
      }

      img {
        max-width: 70px;
      }
    }
  }
}

.logo_icon {
  max-height: 180px;
  padding: 30px;
  background-color: rgba(0,0,0,0.5);

  @media screen and (max-width: 768px){
    max-height: 120px;
  }
}

.lol {
  padding-left: 30px;
  z-index: 2;
  font-size: 30px;
  transition: all 2s;
  text-shadow:
  0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    animation: lol 2s infinite;
    animation-delay: 10s;
    max-height: 0;
}

@keyframes lol {
  0% {
    height: 100%;
    transform: scale(.95);
		// box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  50% {
    transform: scale(1);
    height: 100%;
		// box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    height: 100%;
		// box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.teamIdOne {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.monthActivity {
  display: none;
}

@media screen and (min-width:1310px){
  .monthActivity {
    position: absolute;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    min-width: 100%;

    h1 {
      font-size: 20px;
      display: flex;
      justify-content: start;
      padding-bottom: 10px;
      padding-left: 30px;
    }
  }
}
