<section class="">
  <div class="container">  
    <div *ngIf="matches$ | async as matches;">
      <div *ngFor="let i = index; let match of matches.reverse() | paginate: { itemsPerPage: 20, currentPage: p} ">
        <div class="match-row">
          <div class="match-row__date">
            <div>{{ match.Timestamp }}</div>
            <!-- <div>#{{ match.idwar }}</div>  -->
            <!-- <a (click)=showSingle(match.idwar)>#{{ match.idwar }}</a>           -->
            <!-- <a (click)=showSingle(match.idwar)>#{{ match.idwar }}</a>           -->
            <a routerLink="/obj-matches/{{match.idwar}}">#{{ match.idwar }}</a>          
          </div>
          <div class="match-row__team">
            <div class="roundswon">{{ match.t1roundswon }}</div>
            <div class="match-row__team--player">
              <div>{{ match.t1p1preelo | number: '.1-2' }}</div>
              <div>{{ match.t1p1name }}</div>
              <div>{{ match.t1p1score }}</div>
              <div>{{ match.t1p1postelo | number: '.1-2' }}</div>
            </div>
            <div class="match-row__team--player">
              <div>{{ match.t1p2preelo | number: '.1-2' }}</div>
              <div>{{ match.t1p2name }}</div>
              <div>{{ match.t1p2score }}</div>
              <div>{{ match.t1p2postelo | number: '.1-2' }}</div>
            </div>
            <div class="match-row__team--player">
              <div>{{ match.t1p3preelo | number: '.1-2' }}</div>
              <div>{{ match.t1p3name }}</div>
              <div>{{ match.t1p3score }}</div>
              <div>{{ match.t1p3postelo | number: '.1-2' }}</div>
            </div>
            <div class="match-row__team--player">
              <div>{{ match.t1p4preelo | number: '.1-2' }}</div>
              <div>{{ match.t1p4name }}</div>
              <div>{{ match.t1p4score }}</div>
              <div>{{ match.t1p4postelo | number: '.1-2' }}</div>
            </div>
            <div class="match-row__team--player">
              <div>{{ match.t1p5preelo | number: '.1-2' }}</div>
              <div>{{ match.t1p5name }}</div>
              <div>{{ match.t1p5score }}</div>
              <div>{{ match.t1p5postelo | number: '.1-2' }}</div>
            </div>
            <div class="match-row__team--player">
              <div>{{ match.t1p6preelo | number: '.1-2' }}</div>
              <div>{{ match.t1p6name }}</div>
              <div>{{ match.t1p6score }}</div>
              <div>{{ match.t1p6postelo | number: '.1-2' }}</div>
            </div>
            <div class="match-row__team--player">
              <div>{{ match.t1p7preelo | number: '.1-2' }}</div>
              <div>{{ match.t1p7name }}</div>
              <div>{{ match.t1p7score }}</div>
              <div>{{ match.t1p7postelo | number: '.1-2' }}</div>
            </div>
          </div>
          <div class="match-row__team">
            <div class="roundswon">{{ match.t2roundswon }}</div>
            <div class="match-row__team--player">
              <div>{{ match.t2p1preelo | number: '.1-2' }}</div>
              <div>{{ match.t2p1name }}</div>
              <div>{{ match.t2p1score }}</div>
              <div>{{ match.t2p1postelo | number: '.1-2' }}</div>
            </div>
            <div class="match-row__team--player">
              <div>{{ match.t2p2preelo | number: '.1-2' }}</div>
              <div>{{ match.t2p2name }}</div>
              <div>{{ match.t2p2score }}</div>
              <div>{{ match.t2p2postelo | number: '.1-2' }}</div>
            </div>
            <div class="match-row__team--player">
              <div>{{ match.t2p3preelo | number: '.1-2' }}</div>
              <div>{{ match.t2p3name }}</div>
              <div>{{ match.t2p3score }}</div>
              <div>{{ match.t2p3postelo | number: '.1-2' }}</div>
            </div>
            <div class="match-row__team--player">
              <div>{{ match.t2p4preelo | number: '.1-2' }}</div>
              <div>{{ match.t2p4name }}</div>
              <div>{{ match.t2p4score }}</div>
              <div>{{ match.t2p4postelo | number: '.1-2' }}</div>
            </div>
            <div class="match-row__team--player">
              <div>{{ match.t2p5preelo | number: '.1-2' }}</div>
              <div>{{ match.t2p5name }}</div>
              <div>{{ match.t2p5score }}</div>
              <div>{{ match.t2p5postelo | number: '.1-2' }}</div>
            </div>
            <div class="match-row__team--player">
              <div>{{ match.t2p6preelo | number: '.1-2' }}</div>
              <div>{{ match.t2p6name }}</div>
              <div>{{ match.t2p6score }}</div>
              <div>{{ match.t2p6postelo | number: '.1-2' }}</div>
            </div>
            <div class="match-row__team--player">
              <div>{{ match.t2p7preelo | number: '.1-2' }}</div>
              <div>{{ match.t2p7name }}</div>
              <div>{{ match.t2p7score }}</div>
              <div>{{ match.t2p7postelo | number: '.1-2' }}</div>
            </div>
            
          </div>
        </div>        
      </div>       
      <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>        
    </div>
    
  </div>
</section>
