<section class="example">
  <div class="container">    
    <div *ngIf="players$ | async as players; else loading">
      <div class="ranking-head">
        <div class="">Place</div>
        <div class="">Player Name</div>
        <div class=""></div>
        <div class="">Ranking</div>
        <div class="">Frags</div>
        <div class="">Wars</div>
        <div class="">Last War</div>
        <div class="">Act</div>
      </div>      
      <div *ngFor="let player of players; let i = index;" class="character-card">
        <div class="name">
          {{ i+1 }}
        </div>        
        <div class="name">
          <a routerLink="/obj-inactive/{{player.username}}">{{ player.playername }} </a>         
        </div>
        <div class="name">          
          <img [src]='"assets/images/flags/" + player.nationality + ".gif"'>
        </div> 
        <div class="name">          
          {{ player.ranking }}
        </div>
        <div class="name name-blur" title="Currently not available">          
          999
        </div>
        <div class="name">          
          {{ player.warcount }}
        </div> 
        <div class="name name-blur" title="Currently not available">          
          6.12.2021, 22:26
        </div> 
        <div class="name name-blur" title="Currently not available">          
          <div class="green6_10"></div>
        </div> 
         

      </div>
    </div>
    <!-- <div *ngIf="players$ | async as players; else loading">
      <div class="">Ranking</div>
      <div *ngFor="let player of players" class="character-card">
        <div class="name">          
          {{ player.ranking }}
        </div>
      </div>
    </div>
    <div *ngIf="players$ | async as players; else loading">
      <div class="">War Count</div>
      <div *ngFor="let player of players" class="character-card">
        <div class="name">          
          {{ player.warCount }}
        </div>
      </div>
    </div> -->
    <ng-template #loading>
      <div class="loading">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
    </ng-template>
  </div>
</section>
<router-outlet></router-outlet>
