<section class="example">
  <div class="container">    
    <div *ngIf="listInactive$ | async as players;">
      <div class="ranking-head">
        <div class="">Place</div>
        <div class="">Player Name</div>
        <div class=""></div>
        <div class="">Ranking</div>
        <div class="" title="Frags per War">FpW</div>
        <div class="">Wars</div>
        <div class="">Last War</div>        
      </div> 
      <div class="players-list">
        <div *ngFor="let player of players; let i = index;" class="character-card">
          <div class="name">
            {{ i+1 }}
          </div>        
          <div class="name">
            <a routerLink="/obj-inactive/{{player.username}}">{{ player.playername }} </a>         
          </div>
          <div class="name">          
            <img [src]='"assets/images/flags/" + player.flag + ".gif"'>
          </div> 
          <div class="name">          
            {{ player.ranking }}
          </div>
          <div class="name">          
            {{ player.fragsperwar }}
          </div>
          <div class="name">          
            {{ player.wars }}
          </div> 
          <div class="name">          
          {{ player.lastwar }}
          </div>
        </div>
      </div>  
    </div>    
  </div>
</section>
<ng-http-loader 
    [backdrop]="false"
    [backgroundColor]="'#010141'"
    [debounceDelay]="100"
    [extraDuration]="300"
    [minDuration]="300"
    [opacity]=".6"
    [backdropBackgroundColor]="'#777777'"
    [spinner]="spinkit.skWave">
</ng-http-loader>
<!-- <router-outlet></router-outlet> -->
