<section class="example">
  <div class="container">    
    <div *ngIf="listInactive$ | async;" class="cont">
      <div class="ranking-head">
        <div class="">Place</div>
        <div class="">Player Name</div>
        <div class=""></div>
        <div class="ranking" (click)="booleanVarRank ? sortByRankingAsc(listInactive$) : sortByRankingDesc(listInactive$)">Ranking</div>
        <div class="fpw" title="Frags per War" (click)="booleanVarFpW ? sortByFpWAsc(listInactive$) : sortByFpWDesc(listInactive$)">FpW</div>
        <div class="wars" (click)="booleanVar ? sortByWarsAsc(listInactive$) : sortByWarsDesc(listInactive$)">Wars</div>
        <div class="">Last War</div>        
      </div> 
      <div class="players-list">
        <div *ngFor="let player of listInactive$ | async; let i = index" class="character-card">
          <div class="name">
            {{ i+1 }}
          </div>        
          <div class="name">
            <a routerLink="/obj-inactive/{{player.username}}">{{ player.playername }} </a>         
          </div>
          <div class="name">          
            <img [src]='"assets/images/flags_svg/" + player.flag + ".SVG"'>
          </div> 
          <div class="name">          
            {{ player.ranking }}
          </div>
          <div class="name">          
            {{ player.fragsperwar }}
          </div>
          <div class="name">          
            {{ player.wars }}
          </div> 
          <div class="name">          
          {{ player.lastwar }}
          </div>
        </div>
      </div>
      <!-- <div class="info">
        <div class="info-title">NEW FEATURE</div>
        <div class="info-desc">
          Now u can sort people by Wars, Frags per War or Ranking.
        </div>
      </div>        -->
    </div>    
  </div>
</section>
<ng-http-loader 
    [backdrop]="false"
    [backgroundColor]="'#010141'"
    [debounceDelay]="100"
    [extraDuration]="300"
    [minDuration]="300"
    [opacity]=".6"
    [backdropBackgroundColor]="'#777777'"
    [spinner]="spinkit.skWave">
</ng-http-loader>
<!-- <router-outlet></router-outlet> -->
