.example {
  background-color: #010141;
}

.container {
  padding-top: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  font-size: 1rem;
}

.ranking-head, .character-card {
  display: grid;
  grid-template-columns: 70px 1.5fr 40px 1fr 1fr 1fr 1fr 40px;
  grid-template-rows: auto;
  // gap: 15px;
  color: #ffffc0;

  >div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #010141;
    padding: 5px;
  }

  >:nth-child(n){    
    border-right: 1px solid #010141;
    padding: 5px 0;
    font-weight: 600;
  }

  :last-child {
    border: none;
  }
  
}

.ranking-head {
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
  background-color: #2f3060;  
  border-bottom: 1px solid #010141;

  // >:nth-child(n){    
  //   border-right: 1px solid #010141;
  //   padding: 5px 0;
  //   font-weight: 600;
  // }

  // :last-child {
  //   border: none;
  // }
}

a {
  color: #ffffc0;
  text-decoration: none;
  transition: all .3s;

  &:hover {
    color: red;
  }
}

.character-card {
  background-color: #40415f;
  // margin: 5px;

  .name {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // border-right: 1px solid #010141;
    // padding: 5px;

    .green0 {
      width: 21px;
      height: 21px;
      background-color: #003200;
      margin: 2px;
      box-shadow: inset 0 0 5px #000;
    }

    .green1_5 {
      width: 21px;
      height: 21px;
      background-color: #050;
      margin: 2px;
    }

    .green6_10 {
      width: 21px;
      height: 21px;
      background-color: #00a100;
      margin: 2px;
    }

    .green11_20 {
      width: 21px;
      height: 21px;
      background-color: #8aff1a;
      margin: 2px;
    }

    .green21_40 {
      width: 21px;
      height: 21px;
      background-color: #ffff00;
      margin: 2px;
    }

    .green41_70 {
      width: 21px;
      height: 21px;
      background-color: orange;
      margin: 2px;
    }
    .green71 {
      width: 21px;
      height: 21px;
      background-color: red;
      margin: 2px;
    }
  }

  .name-blur {
    filter: blur(5px);
  }
}

.character-card {
  border-bottom: 1px solid #010141;

  &:nth-child(n){
    background-color: #2f3060;
    border-right: 1px solid #010141;
  }

  :last-child {
    border: none;
  }

  &:nth-child(2n){
    background-color: #40415f;
  }
}

